.industryBanner {
    font-family: "Poppins", sans-serif;
    height: 90vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 100px 0px 0px 0px;
    background-color: #010101;


    h1{
        line-height: 1.1;
    }
    h1,
    p {
        color: #fff;
        position: relative;
        z-index: 1;
    }

    .bannerVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
        object-fit: cover;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .industryBanner {
        height: 85vh;
        padding-top: 100px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .industryBanner {
        height: 85vh;
        padding-top: 100px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .industryBanner {
        height: 75vh;
        padding-top: 100px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
    .industryBanner {
        height: 70vh;
        padding-top: 100px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .industryBanner {
        height: 60vh;
        padding-top: 70px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .industryBanner {
        height: 100%;
        padding-top: 90px;
        padding-bottom: 50px;
    }
}