.industrySlider {
  font-family: "Poppins", sans-serif;

  p {
    a {
      color: #585858;
      transition: 0.3s linear;
      font-weight: 500;

      &:hover {
        color: #4d77ee;
        transition: 0.3s linear;
      }
    }
  }
  .embla {
    margin-top: 20px;
    max-width: 100%;
    position: relative;

    .embla__viewport {
      overflow: hidden;

      .embla__container {
        backface-visibility: hidden;
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(20px * -1);

        .embla__slide {
          min-width: 0;
          flex: 0 0 auto;
          padding-left: 20px;

          .sliderBox {
            width: 400px;
            border-radius: 10px;
            border: 1px solid #cecece;

            .sliderImg {
              height: 230px;
              border-radius: 10px 10px 0px 0px;
              position: relative;
              margin-bottom: 20px;
              width: 100%;

              img {
                border-radius: 10px 10px 0px 0px;
              }
            }

            .sliderTxt {
              padding: 0px 20px;

              p {
                color: #9098a1;
                height: 125px;
                overflow: auto;
                font-size: 15px;
                line-height: 24px;

                &::-webkit-scrollbar {
                  width: 0px;
                }
              }
            }
          }
        }
      }
    }

    .embla_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 0px 0px 0px;
      position: absolute;
      top: -100px;
      right: 0px;

      div {
        cursor: pointer;
        height: 20px;
        transition: 0.3s linear;

        svg {
          width: auto;
          height: 20px;

          path {
            fill: #d5d5d5;
          }
        }

        &:hover {
          transition: 0.3s linear;

          svg {
            path {
              fill: #000;
            }
          }
        }
      }

      .embla_prev {
        transform: rotate(-180deg);
        position: relative;
        top: 6px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .industrySlider {
    .embla {
      margin-top: 40px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(15px * -1);

          .embla__slide {
            padding-left: 15px;

            .sliderBox {
              width: 380px;
              border-radius: 10px;
              border: 1px solid #cecece;

              .sliderImg {
                height: 220px;
              }

              .sliderTxt {
                padding: 0px 20px;

                p {
                  height: 130px;
                  font-size: 15px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -110px;

        div {
          height: 20px;

          svg {
            height: 16px;
            width: auto;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .industrySlider {
    .embla {
      margin-top: 30px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(12px * -1);

          .embla__slide {
            padding-left: 12px;

            .sliderBox {
              width: 340px;
              border-radius: 10px;

              .sliderImg {
                height: 200px;
              }

              .sliderTxt {
                padding: 0px 15px;

                p {
                  height: 120px;
                  font-size: 14px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -110px;

        div {
          height: 20px;

          svg {
            height: 16px;
            width: auto;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .industrySlider {
    .embla {
      margin-top: 30px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(12px * -1);

          .embla__slide {
            padding-left: 12px;

            .sliderBox {
              width: 320px;
              border-radius: 10px;

              .sliderImg {
                height: 180px;
              }

              .sliderTxt {
                padding: 0px 15px;

                p {
                  height: 120px;
                  font-size: 13px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -110px;

        div {
          height: 20px;

          svg {
            height: 16px;
            width: auto;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .industrySlider {
    .embla {
      margin-top: 20px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(12px * -1);

          .embla__slide {
            padding-left: 12px;

            .sliderBox {
              width: 320px;
              border-radius: 10px;

              .sliderImg {
                height: 180px;
              }

              .sliderTxt {
                padding: 0px 15px;

                p {
                  height: 120px;
                  font-size: 13px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -110px;

        div {
          height: 20px;

          svg {
            height: 16px;
            width: auto;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .industrySlider {
    .embla {
      margin-top: 20px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(12px * -1);

          .embla__slide {
            padding-left: 12px;

            .sliderBox {
              width: 290px;
              border-radius: 10px;

              .sliderImg {
                height: 180px;
              }

              .sliderTxt {
                padding: 0px 15px;

                p {
                  height: 120px;
                  font-size: 13px;
                  line-height: 22px;
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -110px;

        div {
          height: 20px;

          svg {
            height: 16px;
            width: auto;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .industrySlider {
    .embla {
      margin-top: 20px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(12px * -1);

          .embla__slide {
            padding-left: 12px;

            .sliderBox {
              width: 290px;
              border-radius: 10px;

              .sliderImg {
                height: 180px;
              }

              .sliderTxt {
                padding: 0px 15px;

                p {
                  height: 120px;
                  font-size: 13px;
                  line-height: 22px;
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        position: unset;

        div {
          height: 20px;

          svg {
            height: 12px;
            width: auto;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}
