.industryServices {
  font-family: "Poppins", sans-serif;

  p {
    a {
      color: #585858;
      transition: 0.3s linear;
      font-weight: 500;

      &:hover {
        transition: 0.3s linear;
        color: #4d77ee;
      }
    }
  }
  .servicesBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;

    .servicesItem {
      flex: 0 0 calc(33.33% - 7px);
      border: 1px solid #cbd3db;
      padding: 30px;
      border-radius: 10px;
      transition: background 0.3s ease, border-radius 0.3s ease,
        transform 0.3s ease;
      height: 310px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 14px;

      h4 {
        color: #000;
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 35px;
      }

      p {
        color: #9098a1;
        margin-bottom: 10px;
      }

      .normalButton {
        height: 40px;
        max-width: 130px;
        padding: 0px 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease;
        border-radius: 50px;
        background: linear-gradient(
          91.47deg,
          #f32f56 -78.17%,
          #f32faf 18.3%,
          #4a78ef 110.98%
        );
        border-radius: 64px;
        display: none;
        cursor: pointer;

        a,
        div.linksBtn {
          color: #fff;
          font-size: 14px;
          line-height: normal;
          font-weight: 500;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }

      &:hover {
        background: #000;
        transform: translateY(-5px);

        h4,
        p {
          color: #fff;
        }

        .normalButton {
          display: flex;
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .industryServices {
    .servicesBox {
      margin-top: 40px;

      .servicesItem {
        flex: 0 0 calc(33.33% - 7px);
        padding: 28px;
        height: 310px;

        h4 {
          font-size: 22px;
          line-height: 32px;
        }

        .normalButton {
          height: 35px;
          padding: 0px 20px;

          a,
          div.linksBtn {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .industryServices {
    .servicesBox {
      margin-top: 30px;

      .servicesItem {
        flex: 0 0 calc(33.33% - 7px);
        padding: 20px;
        height: 300px;

        h4 {
          font-size: 20px;
          line-height: 30px;
        }

        .normalButton {
          height: 30px;
          padding: 0px 20px;

          a,
          div.linksBtn {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .industryServices {
    .servicesBox {
      margin-top: 30px;

      .servicesItem {
        flex: 0 0 calc(33.33% - 7px);
        padding: 20px;
        height: 290px;

        h4 {
          font-size: 20px;
          line-height: 30px;
        }

        .normalButton {
          height: 30px;
          padding: 0px 20px;

          a,
          div.linksBtn {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .industryServices {
    .servicesBox {
      margin-top: 20px;

      .servicesItem {
        flex: 0 0 calc(33.33% - 7px);
        padding: 15px;
        height: 280px;

        h4 {
          font-size: 20px;
          line-height: 30px;

          br {
            display: none;
          }
        }

        .normalButton {
          height: 30px;
          padding: 0px 20px;

          a,
          div.linksBtn {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .industryServices {
    .servicesBox {
      margin-top: 20px;

      .servicesItem {
        flex: 0 0 calc(50% - 7px);
        padding: 15px;
        height: 270px;

        h4 {
          font-size: 18px;
          line-height: 28px;

          br {
            display: none;
          }
        }

        .normalButton {
          height: 30px;
          padding: 0px 20px;

          a,
          div.linksBtn {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .industryServices {
    .servicesBox {
      margin-top: 20px;

      .servicesItem {
        flex: 0 0 calc(100% - 0px);
        padding: 25px;
        height: auto;

        h4 {
          font-size: 20px;
          line-height: 30px;
        }

        .normalButton {
          height: 30px;
          padding: 0px 20px;

          a,
          div.linksBtn {
            font-size: 12px;
          }
        }
      }
    }
  }
}
