.ctaSection {
    font-family: "Poppins", sans-serif;
    .ctaBG {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 45px;

        h6 {
            font-size: 65px;
            line-height: 100px;
            font-weight: 400;
            color: #fff;
            margin-bottom: 40px;

            span {
                display: block;
                font-size: 100px;
                line-height: 120px;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .ctaSection {
        .ctaBG {
            height: 420px;
            border-radius: 45px;

            h6 {
                font-size: 60px;
                line-height: 95px;
                margin-bottom: 35px;

                span {
                    font-size: 95px;
                    line-height: 110px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .ctaSection {
        .ctaBG {
            height: 400px;
            border-radius: 40px;

            h6 {
                font-size: 55px;
                line-height: 90px;
                margin-bottom: 30px;

                span {
                    font-size: 90px;
                    line-height: 105px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .ctaSection {
        .ctaBG {
            height: 380px;
            border-radius: 35px;

            h6 {
                font-size: 50px;
                line-height: 85px;
                margin-bottom: 25px;

                span {
                    font-size: 85px;
                    line-height: 100px;
                }
            }
        }
    }

}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .ctaSection {
        .ctaBG {
            height: 350px;
            border-radius: 30px;

            h6 {
                font-size: 45px;
                line-height: 75px;
                margin-bottom: 20px;

                span {
                    font-size: 75px;
                    line-height: 90px;
                }
            }
        }
    }

}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .ctaSection {
        .ctaBG {
            height: 300px;
            border-radius: 30px;

            h6 {
                font-size: 40px;
                line-height: 70px;
                margin-bottom: 20px;

                span {
                    font-size: 70px;
                    line-height: 80px;
                }
            }
        }
    }

}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .ctaSection {
        .ctaBG {
            height: auto;
            border-radius: 20px;
            padding: 30px;

            h6 {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 20px;

                span {
                    font-size: 50px;
                    line-height: 60px;
                }
            }
        }
    }
}