.largecContentSec {
    font-family: "Poppins", sans-serif;
    .contentBox {
        background: #292626;
        border-radius: 26px;
        padding: 30px 20px;
        position: relative;

        h2 {
            margin-bottom: 10px;
        }

        .contentscrollBox {
            height: 320px;
            overflow: auto;
            margin-bottom: 20px;
            padding-right: 20px;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
            }

            &::-webkit-scrollbar-thumb {
                background-color: #DEE0E1;
                outline: 1px solid #DEE0E1;
                border-radius: 10px;
            }
        }

    }

    img {
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .largecContentSec {
        .contentBox {
            padding: 30px 20px;

            .contentscrollBox {
                height: 280px;
                margin-bottom: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .largecContentSec {
        .contentBox {
            padding: 30px 20px;

            .contentscrollBox {
                height: 250px;
                margin-bottom: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .largecContentSec {
        .contentBox {
            padding: 30px 20px;

            .contentscrollBox {
                height: 250px;
                margin-bottom: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .largecContentSec {
        .contentBox {
            padding: 25px 20px;

            .contentscrollBox {
                height: 240px;
                margin-bottom: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .largecContentSec {
        .contentBox {
            padding: 20px 20px;

            .contentscrollBox {
                height: 180px;
                margin-bottom: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .largecContentSec {
        margin-bottom: 20px;

        .contentBox {
            padding: 20px 20px;
            border-radius: 10px;

            .contentscrollBox {
                height: 300px;
                margin-bottom: 20px;
                padding-right: 20px;
            }
        }

        img {
            margin-top: 30px;
        }
    }
}