.discussionSection {
    background: #F7F8F9;
    margin-top: -100px;
    padding-top: 180px;
    font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .discussionSection {
        margin-top: -180px;
        padding-top: 160px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .discussionSection {
        margin-top: -180px;
        padding-top: 160px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .discussionSection {
        margin-top: -100px;
        padding-top: 150px;
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .discussionSection {
        margin-top: -160px;
        padding-top: 120px;
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .discussionSection {
        margin-top: -160px;
        padding-top: 120px;
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .discussionSection {
        margin-top: -160px;
        padding-top: 120px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .discussionSection {
        margin-top: -160px;
        padding-top: 130px;
    }
}