.whyChooseSection {
  background: #000;

  .whyChooseContainer {
    background: #fff;
    padding: 100px 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 40px;
    .whyChooseWraper {
      display: flex;
      margin-top: 50px;
      .whyChooseItem {
        flex: 0 0 33.33%;
        padding: 50px;
        text-align: center;
        border-right: 1px solid #000;
        &:last-child {
          border-right: none;
        }
        .number {
          font-style: normal;
          font-weight: 600;
          font-size: 26px;
          line-height: 26px;
          letter-spacing: -0.165px;
          background: linear-gradient(
            90deg,
            #f32f56 -40%,
            #f32faf 40%,
            #4a78ef 60%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 20px;
        }
        h5 {
          font-style: normal;
          font-weight: 700;
          font-size: 35px;
          line-height: 45px;
          letter-spacing: -0.117052px;
          color: #000000;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .whyChooseSection {
    .whyChooseContainer {
      padding: 50px 50px;
      border-radius: 40px;
      .whyChooseWraper {
        margin-top: 50px;
        .whyChooseItem {
          flex: 0 0 33.33%;
          padding: 40px;
          .number {
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 20px;
          }
          h5 {
            font-size: 26px;
            line-height: 36px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .whyChooseSection {
    .whyChooseContainer {
      padding: 50px 50px;
      border-radius: 30px;
      .whyChooseWraper {
        margin-top: 50px;
        .whyChooseItem {
          flex: 0 0 33.33%;
          padding: 40px;
          .number {
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 20px;
          }
          h5 {
            font-size: 26px;
            line-height: 36px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .whyChooseSection {
    .whyChooseContainer {
      padding: 40px;
      border-radius: 30px;
      .whyChooseWraper {
        margin-top: 50px;
        .whyChooseItem {
          flex: 0 0 33.33%;
          padding: 40px;
          .number {
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 20px;
          }
          h5 {
            font-size: 26px;
            line-height: 36px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .whyChooseSection {
    .whyChooseContainer {
      padding: 40px;
      border-radius: 30px;
      .whyChooseWraper {
        margin-top: 30px;
        .whyChooseItem {
          flex: 0 0 33.33%;
          padding: 20px;
          .number {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
          }
          h5 {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .whyChooseSection {
    .whyChooseContainer {
      padding: 30px;
      border-radius: 30px;
      .whyChooseWraper {
        margin-top: 30px;
        flex-wrap: wrap;
        .whyChooseItem {
          flex: 0 0 100%;
          padding: 20px;
          border-right: 0px;
          border-bottom: 1px solid #000;
          &:last-child {
            border-bottom: 0px;
          }
          .number {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
          }
          h5 {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .whyChooseSection {
    .whyChooseContainer {
      padding: 30px;
      border-radius: 30px;
      .whyChooseWraper {
        margin-top: 30px;
        flex-wrap: wrap;
        .whyChooseItem {
          flex: 0 0 100%;
          padding: 20px;
          border-right: 0px;
          border-bottom: 1px solid #000;
          &:last-child {
            border-bottom: 0px;
          }
          .number {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
          }
          h5 {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .whyChooseSection {
    .whyChooseContainer {
      padding: 20px;
      border-radius: 20px;
      .whyChooseWraper {
        margin-top: 0px;
        flex-wrap: wrap;
        .whyChooseItem {
          flex: 0 0 100%;
          padding: 20px;
          border-right: 0px;
          border-bottom: 1px solid #000;
          &:last-child {
            border-bottom: 0px;
          }
          .number {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
          }
          h5 {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
