.clientSlider {
  height: 110px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(22px);
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 1;
  left: 0px;

  .embla {
    height: 100%;

    .embla__viewport {
      overflow: hidden;
      height: 100%;

      .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        height: 100%;
        display: flex;
        align-items: center;

        .embla__slide {
          flex: 0 0 calc(100% / 6);
          text-align: center;

          .imgBox {
            position: relative;
            height: 36px;

            img {
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .clientSlider {
    height: 90px;
    &.aiPage {
      bottom: 75px;
    }

    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            flex: 0 0 calc(100% / 6);

            .imgBox {
              height: 32px;

              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .clientSlider {
    height: 90px;
    &.aiPage {
      bottom: -55px;
    }
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            flex: 0 0 calc(100% / 6);

            .imgBox {
              height: 30px;

              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .clientSlider {
    height: 90px;
    &.aiPage {
      bottom: -55px;
    }
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            flex: 0 0 calc(100% / 6);

            .imgBox {
              height: 30px;

              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .clientSlider {
    height: 80px;
    &.aiPage {
      bottom: 0xpx;
    }
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            flex: 0 0 calc(100% / 6);

            .imgBox {
              height: 30px;

              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .clientSlider {
    height: 70px;

    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            flex: 0 0 calc(100% / 4);

            .imgBox {
              height: 26px;

              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .clientSlider {
    height: 70px;

    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            flex: 0 0 calc(100% / 3.5);

            .imgBox {
              height: 25px;

              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .clientSlider {
    height: 70px;
    &.aiPage {
      bottom: 60px;
    }
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            flex: 0 0 calc(100% / 2.5);

            .imgBox {
              height: 22px;

              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}
