.ctaSection {
  background: #000;
  h2 {
    color: #fff;
  }
  ul {
    li {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.165px;
      color: #fff;
      flex: 0 0 50%;
      margin-bottom: 10px;
      position: relative;
      padding-left: 30px;

      &::before {
        content: "";
        background: #ffffff;
        border: 5px solid #4d77ee;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(0px, -50%);
      }
    }
  }
  .fromCotnact {
    padding: 50px;
    // background: rgba(255, 255, 255, 0.45);
    // backdrop-filter: blur(2px);
    background: #0a0a0a;
    border-radius: 20px;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid #252525;

    .formGroup {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .inputGroup {
        flex: 0 0 calc(100% / 2 - 5px);
        position: relative;
        margin-bottom: 20px;
        &:nth-child(5) {
          flex: 0 0 100%;
        }
        &::after {
          content: "";
          // background: rgba(255, 255, 255, 0.4);
          // backdrop-filter: blur(2px);
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 0;
          border-radius: 10px;
          background: #fff;
        }
        input {
          width: 100%;
          height: 60px;
          border-radius: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: rgb(10, 10, 10, 0.6);
          border: 0px;
          padding-left: 10px;
          position: relative;
          z-index: 2;
          background: transparent;

          &::placeholder {
            color: #000;
          }

          &::-ms-input-placeholder {
            color: #000;
          }
        }
        textarea {
          width: 100%;
          height: 180px;
          border-radius: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: rgb(10, 10, 10, 0.6);
          border: 0px;
          padding: 15px 0px 0px 15px;
          background: transparent;
          z-index: 2;
          position: relative;
          &::placeholder {
            color: #000;
          }

          &::-ms-input-placeholder {
            color: #000;
          }
        }
      }

      button {
        background: linear-gradient(
          91.47deg,
          #f32f56 -78.17%,
          #f32faf 18.3%,
          #4a78ef 110.98%
        );
        border-radius: 55px;
        min-width: 220px;
        height: 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 14px;
        text-align: center;
        letter-spacing: -0.14px;
        color: #ffffff;
        border: 0px;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.165px;
        color: #ffffff;
        margin-bottom: 20px;
        a {
          text-transform: capitalize;
          color: #ffffff;
          display: inline-block;
          margin-left: 5px;
          text-decoration: underline !important;
          &:hover {
            color: #4a78ef;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .ctaSection {
    ul {
      li {
        font-size: 16px;
        line-height: 26px;
        flex: 0 0 50%;
        padding-left: 30px;

        &::before {
          border: 4px solid #4d77ee;
          width: 16px;
          height: 16px;
        }
      }
    }
    .fromCotnact {
      padding: 40px;
      max-width: 80%;

      .formGroup {
        .inputGroup {
          flex: 0 0 calc(100% / 2 - 5px);
        }
        input {
          height: 55px;
          font-size: 13px;
          line-height: 20px;
        }
        textarea {
          height: 180px;
          font-size: 13px;
          padding: 15px 0px 0px 15px;
          line-height: 20px;
        }
      }

      button {
        min-width: 200px;
        height: 50px;
        font-size: 15px;
        line-height: 14px;
      }
      p {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 20px;
        a {
          margin-left: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .ctaSection {
    ul {
      li {
        font-size: 16px;
        line-height: 26px;
        flex: 0 0 50%;
        padding-left: 30px;

        &::before {
          border: 4px solid #4d77ee;
          width: 16px;
          height: 16px;
        }
      }
    }
    .fromCotnact {
      padding: 30px;
      max-width: 85%;

      .formGroup {
        .inputGroup {
          flex: 0 0 calc(100% / 2 - 5px);
        }
        input {
          height: 50px;
          font-size: 13px;
          line-height: 20px;
        }
        textarea {
          height: 160px;
          font-size: 13px;
          padding: 15px 0px 0px 15px;
          line-height: 20px;
        }
      }

      button {
        min-width: 180px;
        height: 50px;
        font-size: 15px;
        line-height: 14px;
      }
      p {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 20px;
        a {
          margin-left: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .ctaSection {
    ul {
      li {
        font-size: 16px;
        line-height: 26px;
        flex: 0 0 50%;
        padding-left: 30px;

        &::before {
          border: 4px solid #4d77ee;
          width: 16px;
          height: 16px;
        }
      }
    }
    .fromCotnact {
      padding: 30px;
      max-width: 85%;

      .formGroup {
        .inputGroup {
          flex: 0 0 calc(100% / 2 - 5px);
        }
        input {
          height: 50px;
          font-size: 13px;
          line-height: 20px;
        }
        textarea {
          height: 160px;
          font-size: 13px;
          padding: 15px 0px 0px 15px;
          line-height: 20px;
        }
      }

      button {
        min-width: 180px;
        height: 50px;
        font-size: 15px;
        line-height: 14px;
      }
      p {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 20px;
        a {
          margin-left: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .ctaSection {
    ul {
      li {
        font-size: 16px;
        line-height: 26px;
        flex: 0 0 50%;
        padding-left: 30px;

        &::before {
          border: 4px solid #4d77ee;
          width: 16px;
          height: 16px;
        }
      }
    }
    .fromCotnact {
      padding: 20px;
      border-radius: 20px;
      max-width: 100%;

      .formGroup {
        .inputGroup {
          flex: 0 0 calc(100% / 2 - 5px);
          margin-bottom: 10px;
        }
        input {
          height: 45px;
          font-size: 13px;
          line-height: 20px;
        }
        textarea {
          height: 120px;
          font-size: 13px;
          padding: 15px 0px 0px 15px;
          line-height: 20px;
        }
      }

      button {
        min-width: 160px;
        height: 50px;
        font-size: 15px;
        line-height: 14px;
      }
      p {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
        a {
          margin-left: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .ctaSection {
    ul {
      li {
        font-size: 16px;
        line-height: 26px;
        flex: 0 0 50%;
        padding-left: 30px;

        &::before {
          border: 4px solid #4d77ee;
          width: 16px;
          height: 16px;
        }
      }
    }
    .fromCotnact {
      padding: 20px;
      border-radius: 20px;
      max-width: 100%;

      .formGroup {
        .inputGroup {
          flex: 0 0 calc(100% / 2 - 5px);
          margin-bottom: 10px;
        }
        input {
          height: 45px;
          font-size: 13px;
          line-height: 20px;
        }
        textarea {
          height: 120px;
          font-size: 13px;
          padding: 15px 0px 0px 15px;
          line-height: 20px;
        }
      }

      button {
        min-width: 160px;
        height: 50px;
        font-size: 15px;
        line-height: 14px;
      }
      p {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
        a {
          margin-left: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .ctaSection {
    ul {
      li {
        font-size: 16px;
        line-height: 26px;
        flex: 0 0 50%;
        padding-left: 30px;

        &::before {
          border: 4px solid #4d77ee;
          width: 16px;
          height: 16px;
        }
      }
    }
    .fromCotnact {
      padding: 20px;
      border-radius: 20px;
      max-width: 100%;

      .formGroup {
        .inputGroup {
          flex: 0 0 calc(100% / 2 - 5px);
          margin-bottom: 10px;
        }
        input {
          height: 45px;
          font-size: 13px;
          line-height: 20px;
        }
        textarea {
          height: 120px;
          font-size: 13px;
          padding: 15px 0px 0px 15px;
          line-height: 20px;
        }
      }

      button {
        min-width: 160px;
        height: 50px;
        font-size: 15px;
        line-height: 14px;
      }
      p {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
        a {
          margin-left: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .ctaSection {
    ul {
      li {
        font-size: 16px;
        line-height: 26px;
        flex: 0 0 50%;
        padding-left: 30px;

        &::before {
          border: 4px solid #4d77ee;
          width: 16px;
          height: 16px;
        }
      }
    }
    .fromCotnact {
      padding: 20px;
      border-radius: 20px;
      max-width: 100%;

      .formGroup {
        .inputGroup {
          flex: 0 0 calc(100% - 0px);
          margin-bottom: 10px;
        }
        input {
          height: 40px;
          font-size: 13px;
          line-height: 20px;
        }
        textarea {
          height: 100px;
          font-size: 13px;
          padding: 15px 0px 0px 15px;
          line-height: 20px;
        }
      }

      button {
        min-width: 160px;
        height: 50px;
        font-size: 15px;
        line-height: 14px;
      }
      p {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
        a {
          margin-left: 5px;
        }
      }
    }
  }
}
