.visionSection {
  background: #000;
  .VisionContainer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  h2 {
    color: #fff;
  }
  P {
    color: #fff;
  }
  .bannerBtn {
    background: linear-gradient(
      91.47deg,
      #f32f56 -78.17%,
      #f32faf 18.3%,
      #4a78ef 110.98%
    );
    border-radius: 55px;
    min-width: 220px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.14px;
    color: #ffffff;
    border: 0px;

    a {
      color: #ffffff;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .Visionwrap {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .visionCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    .visionCounterItem {
      flex: 0 0 calc(25% - 20px);
      background: #0a0a0a;
      border-radius: 10px;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #252525;
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #afafaf;
        margin-bottom: 0px;
      }
      h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.165px;
        color: #ffffff;
        margin-bottom: 15px;
      }
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .visionSection {
    .bannerBtn {
      border-radius: 55px;
      min-width: 220px;
      height: 50px;
      font-size: 15px;
    }
    .visionCounter {
      padding-top: 45px;
      margin-top: 45px;
      padding-bottom: 45px;
      margin-bottom: 45px;
      .visionCounterItem {
        flex: 0 0 calc(25% - 20px);
        height: 180px;
        p {
          font-size: 18px;
          line-height: 18px;
        }
        h4 {
          font-size: 45px;
          line-height: 45px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .visionSection {
    .bannerBtn {
      min-width: 220px;
      height: 50px;
      font-size: 15px;
    }
    .visionCounter {
      padding-top: 45px;
      margin-top: 45px;
      padding-bottom: 45px;
      margin-bottom: 45px;
      .visionCounterItem {
        flex: 0 0 calc(25% - 20px);
        height: 160px;
        p {
          font-size: 17px;
          line-height: 17px;
        }
        h4 {
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .visionSection {
    .bannerBtn {
      min-width: 220px;
      height: 50px;
      font-size: 15px;
    }
    .visionCounter {
      padding-top: 45px;
      margin-top: 45px;
      padding-bottom: 45px;
      margin-bottom: 45px;
      .visionCounterItem {
        flex: 0 0 calc(25% - 20px);
        height: 160px;
        p {
          font-size: 17px;
          line-height: 17px;
        }
        h4 {
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .visionSection {
    .bannerBtn {
      min-width: 200px;
      height: 40px;
      font-size: 15px;
    }
    .visionCounter {
      padding-top: 40px;
      margin-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 40px;
      .visionCounterItem {
        flex: 0 0 calc(25% - 10px);
        height: 150px;
        p {
          font-size: 16px;
          line-height: 16px;
        }
        h4 {
          font-size: 35px;
          line-height: 35px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .visionSection {
    .bannerBtn {
      min-width: 200px;
      height: 40px;
      font-size: 15px;
    }
    .visionCounter {
      padding-top: 40px;
      margin-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 40px;
      .visionCounterItem {
        flex: 0 0 calc(25% - 10px);
        height: 120px;
        p {
          font-size: 15px;
          line-height: 15px;
        }
        h4 {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .visionSection {
    .bannerBtn {
      min-width: 200px;
      height: 40px;
      font-size: 15px;
    }
    .visionCounter {
      padding-top: 30px;
      margin-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      .visionCounterItem {
        flex: 0 0 calc(25% - 5px);
        height: 100px;
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 15px;
        }
        h4 {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .visionSection {
    .bannerBtn {
      min-width: 200px;
      height: 40px;
      font-size: 15px;
    }
    .visionCounter {
      padding-top: 20px;
      margin-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      flex-wrap: wrap;
      .visionCounterItem {
        flex: 0 0 calc(50% - 5px);
        height: 100px;
        margin-bottom: 10px;
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 15px;
        }
        h4 {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
