
.aboutSection {
    padding: 40px 0px 100px 0px;
    font-family: "Poppins", sans-serif;
    background-color: #010101;

    h2{
        color: #ffffff;
    }
    p{
        color: #ffffff;
    }

    .topIcon{
        margin: 0px 0px 150px 0px;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;

            li{
                border-right: 1px solid #1d1d1d;
                flex: 1;
                text-align: center;
                height: 150px;
                
                &:first-child{
                    border-left: 1px solid #1d1d1d;
                    
                    img{
                        filter: brightness(0) invert(1);
                    }
                }

                img{
                    width: 100%;
                    height: 100%;
                    max-width: 200px;
                    object-fit: cover;
                }
            }
        }
    }
    .aboutSecText{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 70px 0px;

        h2{
            width: 700px;
        }
        .aboutSecpara{
            width: calc(100% - 700px);
            max-width: 580px;
        }
    }
    .aboutSecBox{
        border-left: 1px solid #1d1d1d;
        padding: 10px 60px 10px 25px;

        .aboutSecBoxText{
            h4{
                margin: 0px 0px 15px 0px;
                font-size: 28px;
                color: #ffffff;
            }
            h3{
                margin: 0px 0px 10px 0px;
                font-size: 40px;
                font-weight: 600;
            }
            p{
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    
}

@media only screen and (min-width: 600px) and (max-width:899px) {
   
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .topIcon{
        margin: 0px 0px 60px 0px !important;

        ul{
            flex-wrap: wrap;
            gap: 20px;

            li{
                flex: auto !important;
                width: 33.3333%;
                border-right: 0 !important;
                border-left: 0 !important;
            }
        }
    }
    .aboutSecText{
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;

        h2{
            width: auto !important;
        }
        .aboutSecpara{
            width: auto !important;
            max-width: max-content !important;
        }
    }
    .aboutSecBox{
        margin: 0px 0px 30px 0px;
    }
}