.extendedServices {
    background: #f7f7f7;
    font-family: "Poppins", sans-serif;

    h2{
        color: #010101;
    }
    p{
        color: #010101;
    }

    .verticalTabsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        .verticalTabs {
            flex: 0 0 350px;

            ul {
                height: 360px;

                li {
                    height: 60px;
                    background-color: #010101;
                    border: 1px solid #D3D7E3;
                    border-radius: 75px;
                    max-width: 300px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: 0.5px;
                    color: #ffffff;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0px 20px;
                    margin-bottom: 15px;
                    cursor: pointer;
                    transition: .25s ease;


                    &:hover {
                        background: #e1f81c;
                        border: 1px solid transparent;
                        color: #010101;
                    }

                    &.active {
                        background: #e1f81c;
                        border: 1px solid transparent;
                        color: #010101;
                    }
                }
            }
        }

        .verticalContent {
            flex: 0 0 calc(100% - 350px);
            background: #010101;
            height: 400px;
            border-radius: 40px;
            padding: 30px;


            .boxTxt {
                opacity: 0;
                animation: fade-in 0.6s forwards;
                position: relative;
                height: 100%;

                .svgIcon {
                    margin-bottom: 20px;

                    svg {
                        transform: scale(0);
                        animation: zoom-in 0.6s forwards;
                        transform-origin: center;
                    }


                }

                h2 {
                    margin-bottom: 10px;
                    color: #ffffff;
                }

                p {
                    color: #ffffff;
                    a {
                        color: #ffffff;

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 30px;

                    li {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 30px;
                        letter-spacing: -0.165px;
                        color: #ffffff;
                        flex: 0 0 50%;
                        margin-bottom: 10px;
                        position: relative;

                        &::before {
                            content: '';
                            background: #000000;
                            border: 5px solid #e1f81c;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: 50%;
                            left: -30px;
                            transform: translate(0px, -50%);
                        }


                    }
                }

                .btnSmall {
                    border-radius: 64px;
                    background: #e1f81c;
                    height: 45px;
                    width: 45px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    cursor: pointer;
                    color: #000000;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }

        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes zoom-in {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }
}


@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .extendedServices {

        .verticalTabsWrapper {
            margin-top: 30px;

            .verticalTabs {
                flex: 0 0 350px;

                ul {
                    height: 360px;

                    li {
                        height: 60px;
                        max-width: 300px;
                        font-size: 19px;
                        padding: 0px 20px;
                        margin-bottom: 15px;
                    }
                }
            }

            .verticalContent {
                flex: 0 0 calc(100% - 350px);
                height: 400px;
                border-radius: 40px;
                padding: 30px;


                .boxTxt {

                    .svgIcon {
                        margin-bottom: 20px;
                    }

                    h2 {
                        margin-bottom: 10px;
                    }

                    ul {
                        padding-left: 30px;

                        li {
                            font-size: 18px;
                            line-height: 30px;
                            flex: 0 0 50%;
                            margin-bottom: 10px;

                            &::before {
                                border: 5px solid #4D77EE;
                                width: 20px;
                                height: 20px;
                                top: 50%;
                                left: -30px;
                                transform: translate(0px, -50%);
                            }


                        }
                    }

                    .btnSmall {
                        height: 45px;
                        width: 45px;

                        svg {
                            width: 16px;
                            width: 16px;
                        }
                    }
                }

            }
        }

    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .extendedServices {
        .verticalTabsWrapper {
            margin-top: 30px;

            .verticalTabs {
                flex: 0 0 350px;

                ul {
                    height: 360px;

                    li {
                        height: 60px;
                        max-width: 300px;
                        font-size: 17px;
                        padding: 0px 20px;
                        margin-bottom: 15px;
                    }
                }
            }

            .verticalContent {
                flex: 0 0 calc(100% - 350px);
                height: 400px;
                border-radius: 40px;
                padding: 30px;


                .boxTxt {

                    .svgIcon {
                        margin-bottom: 20px;
                    }

                    h2 {
                        margin-bottom: 10px;
                    }

                    ul {
                        padding-left: 30px;

                        li {
                            font-size: 17px;
                            flex: 0 0 50%;
                            margin-bottom: 10px;

                            &::before {
                                border: 5px solid #4D77EE;
                                width: 20px;
                                height: 20px;
                                top: 50%;
                                left: -30px;
                                transform: translate(0px, -50%);
                            }


                        }
                    }

                    .btnSmall {
                        height: 45px;
                        width: 45px;

                        svg {
                            width: 16px;
                            width: 16px;
                        }
                    }
                }

            }
        }

    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .extendedServices {
        .verticalTabsWrapper {
            margin-top: 30px;

            .verticalTabs {
                flex: 0 0 350px;

                ul {
                    height: 360px;

                    li {
                        height: 60px;
                        max-width: 300px;
                        font-size: 16px;
                        padding: 0px 20px;
                        margin-bottom: 12px;
                    }
                }
            }

            .verticalContent {
                flex: 0 0 calc(100% - 350px);
                height: 400px;
                border-radius: 40px;
                padding: 30px;


                .boxTxt {

                    .svgIcon {
                        margin-bottom: 20px;
                    }

                    h2 {
                        margin-bottom: 10px;
                    }

                    ul {
                        padding-left: 30px;

                        li {
                            font-size: 16px;
                            flex: 0 0 50%;
                            margin-bottom: 10px;

                            &::before {
                                border: 4px solid #4D77EE;
                                width: 18px;
                                height: 18px;
                                top: 50%;
                                left: -30px;
                                transform: translate(0px, -50%);
                            }


                        }
                    }

                    .btnSmall {
                        height: 40px;
                        width: 40px;

                        svg {
                            width: 16px;
                            height: 16px;
                        }

                    }
                }

            }
        }

    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .extendedServices {
        .verticalTabsWrapper {
            margin-top: 30px;

            .verticalTabs {
                flex: 0 0 350px;

                ul {
                    height: 360px;

                    li {
                        height: 60px;
                        max-width: 300px;
                        font-size: 15px;
                        padding: 0px 20px;
                        margin-bottom: 12px;
                    }
                }
            }

            .verticalContent {
                flex: 0 0 calc(100% - 350px);
                height: 400px;
                border-radius: 40px;
                padding: 30px;


                .boxTxt {

                    .svgIcon {
                        margin-bottom: 20px;
                    }

                    h2 {
                        margin-bottom: 10px;
                    }

                    ul {
                        padding-left: 30px;

                        li {
                            font-size: 15px;
                            flex: 0 0 50%;
                            margin-bottom: 10px;

                            &::before {
                                border: 4px solid #4D77EE;
                                width: 16px;
                                height: 16px;
                                top: 50%;
                                left: -30px;
                                transform: translate(0px, -50%);
                            }


                        }
                    }

                    .btnSmall {
                        height: 35px;
                        width: 35px;

                        svg {
                            width: 15px;
                            height: 15px;

                        }
                    }
                }

            }
        }

    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .extendedServices {
        .verticalTabsWrapper {
            margin-top: 20px;
            flex-wrap: wrap;

            .verticalTabs {
                flex: 0 0 100%;

                ul {
                    height: auto;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    justify-content: center;

                    li {
                        flex: 0 0 calc(33.33% - 10px);
                        height: 50px;
                        max-width: 100%;
                        font-size: 15px;
                        padding: 0px 20px;
                        margin-bottom: 12px;
                        justify-content: center;
                    }
                }
            }

            .verticalContent {
                flex: 0 0 100%;
                height: 400px;
                border-radius: 40px;
                padding: 30px;


                .boxTxt {

                    .svgIcon {
                        margin-bottom: 20px;
                    }

                    h2 {
                        margin-bottom: 10px;
                    }

                    ul {
                        padding-left: 30px;

                        li {
                            font-size: 15px;
                            flex: 0 0 50%;
                            margin-bottom: 10px;

                            &::before {
                                border: 4px solid #4D77EE;
                                width: 16px;
                                height: 16px;
                                top: 50%;
                                left: -30px;
                                transform: translate(0px, -50%);
                            }


                        }
                    }

                    .btnSmall {
                        height: 35px;
                        width: 35px;

                        svg {
                            width: 15px;
                            height: 15px;

                        }
                    }
                }

            }
        }

    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .extendedServices {
        .verticalTabsWrapper {
            margin-top: 20px;
            flex-wrap: wrap;

            .verticalTabs {
                flex: 0 0 100%;

                ul {
                    height: auto;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    justify-content: center;

                    li {
                        flex: 0 0 calc(50% - 10px);
                        height: 50px;
                        max-width: 100%;
                        font-size: 13px;
                        padding: 0px 10px;
                        margin-bottom: 5px;
                        justify-content: center;
                    }
                }
            }

            .verticalContent {
                flex: 0 0 100%;
                height: auto;
                border-radius: 20px;
                padding: 20px;
                margin-top: 10px;

                .boxTxt {

                    .svgIcon {
                        margin-bottom: 10px;

                        svg {
                            height: 60px;
                            width: auto;
                        }
                    }

                    h2 {
                        margin-bottom: 10px;
                    }

                    ul {
                        padding-left: 20px;
                        flex-direction: column;
                        flex-wrap: wrap;
                        padding-right: 40px;

                        li {
                            font-size: 14px;
                            flex: 0 0 100%;
                            margin-bottom: 5px;

                            &::before {
                                border: 4px solid #4D77EE;
                                width: 12px;
                                height: 12px;
                                top: 50%;
                                left: -20px;
                                transform: translate(0px, -50%);
                            }


                        }
                    }

                    .btnSmall {
                        height: 35px;
                        width: 35px;

                        svg {
                            width: 15px;
                            height: 15px;

                        }
                    }
                }

            }
        }

    }
}