.faqsSection {
    background: #F7F8F9;
    font-family: "Poppins", sans-serif;

    .faqSectionText {
        text-align: center;
        margin: 0px 0px 70px 0px;

        h2{
            color: #010101;
        }
    }
    
    .faqSectionPanel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }

    &.BlackBg {
        background: #000;

        h2 {
            color: #fff;
        }

        p {
            color: #fff;
        }

        .faqsBox {
            .faqsTitle {
                color: #fff;
                border-bottom: 1px solid rgb(255 255 255 / 40%);

                span {
                    display: inline-block;
                    margin-right: 20px;
                }
            }

            .faqscontent {

                p,
                li {
                    color: rgb(255 255 255 / 60%);
                }
            }
        }
    }

    .faqsBox {
        .faqsTitle {
            margin: 0;
            padding: 20px 30px;
            background: #010101;
            border-radius: 20px;
            color: #ffffff;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: -0.165px;
            height: 100px;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                position: absolute;
                right: 30px;
            }

            &.active {
                border-radius: 20px 20px 0px 0px;
            }
        }

        .faqscontent {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            border-radius: 0px 0px 20px 20px;
            padding: 0px 30px;
            letter-spacing: -0.165px;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
            background: #010101;


            &.active {
                opacity: 1;
                max-height: 500px;
                padding-top: 20px;
            }

            p,
            li {
                color: #ffffff;
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .faqsSection {
        .faqsBox {
            .faqsTitle {
                font-size: 16px;
                height: 70px;
                padding-right: 50px;
            }

            .faqscontent {
                font-size: 16px;

                &.active {
                    padding-top: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .faqsSection {
        .faqsBox {
            .faqsTitle {
                font-size: 15px;
                height: 70px;
                padding-right: 50px;
            }

            .faqscontent {
                font-size: 15px;

                &.active {
                    padding-top: 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .faqsSection {
        .faqsBox {
            .faqsTitle {
                font-size: 15px;
                height: 70px;
                padding-right: 50px;
            }

            .faqscontent {
                font-size: 15px;

                &.active {
                    padding-top: 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
    .faqsSection {
        .faqsBox {
            .faqsTitle {
                font-size: 15px;
                height: 70px;
                padding-right: 50px;
            }

            .faqscontent {
                font-size: 15px;

                &.active {
                    padding-top: 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .faqsSection {
        .faqsBox {
            .faqsTitle {
                font-size: 14px;
                height: 70px;
                padding-right: 50px;
            }

            .faqscontent {
                font-size: 14px;

                &.active {
                    padding-top: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .faqsSection {

        .faqSectionPanel{
            grid-template-columns: 1fr;
        }
        .faqsBox {
            .faqsTitle {
                font-size: 14px;
                height: 70px;
                padding-right: 50px;
            }

            .faqscontent {
                font-size: 14px;

                &.active {
                    padding-top: 10px;
                }
            }
        }
    }
}