.porfolioSection{
    padding: 100px 0px;

    .portfolioSecMain{
        background-image: url(/home/newCtaBG2.webp);
        background-position: top;
        background-size: cover;
        padding: 90px 0px 0px 70px;
        height: 600px;
        display: flex;
        align-items: center;
    }

    .portfolioSecMainText{
        h2{
            font-size: 50px;
            line-height: 1.1;
            margin: 0px 0px 20px 0px;
            color: #ffffff;
        }
        p{
            font-size: 18px;
            line-height: 1.3;
            color: #ffffff;
            width: 90%;
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    
}

@media only screen and (min-width: 600px) and (max-width:899px) {
   
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
        .porfolioSection{
            padding: 50px 0px;

        .portfolioSecMain{
            background-image: url(/home/newCtaBG.webp);
            background-position: left;
            background-size: cover;
            padding: 50px 20px 50px 20px;
            height: auto;
            display: flex;
            align-items: flex-start;
            border-radius: 20px;
        }
        .portfolioSecMainText{
            h2{
                font-size: 25px;
                width: 100%;
            }
            p{
                font-size: 14px;
                width: 100%;
            }
        }
        
    }
}