.newTestiSec{
    padding: 100px 0px;
    font-family: "Poppins", sans-serif;
    background-color: #010101;
    .newTestiSecText{
        text-align: center;
        margin: 0px 0px 70px 0px;
        h2{
            color: #ffffff;
        }
    }

    ul{
        display: flex;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;
    }
    li{
        position: relative;
        border-right: 1px solid #d9d9d9;
        width: 25%;

        &:nth-child(1){
            border-bottom: 1px solid #d9d9d9;
        }
        &:nth-child(2){
            border-bottom: 1px solid #d9d9d9;
            &::after{
                content: "";
                width: 14px;
                height: 14px;
                background: #e1f81c;
                display: block;
                z-index: 3;
                position: absolute;
                left: -7px;
                bottom: -7px;
            }
        }
        &:nth-child(3){
            border-bottom: 1px solid #d9d9d9;
            &::after{
                content: "";
                width: 14px;
                height: 14px;
                background: #e1f81c;
                display: block;
                z-index: 1;
                position: absolute;
                left: -7px;
                bottom: -7px;
            }
        }
        &:nth-child(4){
            border-bottom: 1px solid #d9d9d9;
            border-right: 0;
            &::after{
                content: "";
                width: 14px;
                height: 14px;
                background: #e1f81c;
                display: block;
                z-index: 1;
                position: absolute;
                left: -7px;
                bottom: -7px;
            }
        }
        &:nth-child(8){
            border-right: 0;
        }
    }
    .flipBox{
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 320px;
        perspective: 1000px;

        .flipBoxInner{
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform .8s;
            transform-style: preserve-3d;
        }
        .flipBoxFront{
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .imgCont{
                margin-bottom: 20px;
            }
            .textContent{
                h3{
                    color: #ffffff;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 31px;
                }
            }
        }
        .flipBoxBack{
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            transform: rotateY(180deg);
            padding: 10px;
            background: #e1f81c;
            border-radius: 10px;

            p{
                font-size: 16px;
                color: #000000;
            }
        }

        &:hover{
            .flipBoxInner{
                transform: rotateY(180deg);
            }
        }
    }
    .newTestiSecBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0px 0px 0px;
    }
}


@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    
}

@media only screen and (min-width: 600px) and (max-width:899px) {
   
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
        .newTestiSec{
            padding: 50px 0px;

            .newTestiSecText{
                margin: 0px 0px 50px 0px;
            }

            li{
                width: 50%;
            }
            .flipBox{
                height: 250px;
                .flipBoxFront{
                    .textContent{
                        h3{
                            font-size: 20px;
                        }
                    }
                }
                .flipBoxBack{
                    p{
                        font-size: 12px;
                        line-height: 1.2;
                        color: #000000;
                    }
                }

                &:hover{
                    .flipBoxInner{
                        transform: rotateY(180deg);
                    }
                }
            }
            .newTestiSecBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 50px 0px 0px 0px;
            }
        }
}