.porfolioSection{
    font-family: "Poppins", sans-serif;
    padding: 100px 0px;
    background-color: #010101;


    .portfolioSectionText{
        margin: 0px 0px 70px 0px;
        h2{
            margin: 0;
            color: #ffffff;
        }
        p{
            font-size: 23px;
            margin: 0;
            color: #ffffff;
        }
    }
    .portfolioSectionFlex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 50px 0px;
    }
    .portfolioSliderBox{
        position: relative;
        height: 600px;

        .portfolioSliderBoxImage{
            height: 340px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .portfolioSliderBoxAbsText span{
            position: absolute;
            top: 7px;
            right: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 10px;
            border-radius: 4px;
            background: #e1f81c;
            font-size: 12px;
            color: #010101;
        }
        .portfolioSliderTextBox{
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #010101;
            width: 90%;
            box-shadow: 0px 4px 20px 0px rgba(192, 192, 192, 0.27);
            padding: 30px 20px 30px 20px;
            border-radius: 10px;

            p{
                line-height: 1.6;
                color: #ffffff;
                height: 160px;
                margin: 0px;
            }

            .portfolioSliderTextBoxFlex{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                .portfolioSliderTextBoxFlexText{
                    h6{
                        margin: 0;
                        color: #ffffff;
                    }
                    p{
                        margin: 0;
                        color: #ffffff;
                        height: auto;
                    }
                }
                .portfolioSliderTextBoxFlexBtn{
                    a{
                        color: #ffffff;
                        font-size: 25px;
                        transition: .25s ease;
                    }
                }
            }

            .portfolioSliderTextBoxAbsImg{
                width: 80px;
                position: absolute;
                top: -40px;
            }
        }
    }
}