.processSec {
    font-family: "Poppins", sans-serif;
    position: relative;
    background-color: #010101;

    h2{
        color: #ffffff;
    }
    p{
        color: #ffffff;
    }

    .stickyClass {
        position: sticky;
        top: 200px;
        align-self: flex-start;
        height: fit-content;
        }
    .processBox {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .processList {
            width: 63%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            height: 390px;
            border: 1px solid #D3D7E3;
            border-radius: 20px;
            padding: 30px;
            position: relative;
            background-color: #010101;
            box-shadow: 0px 4px 20px 0px rgba(192, 192, 192, 0.27);
            margin: 0 0 0 150px;
            
            &:last-child::after{
                display: none;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #e1f81c;
                opacity: 0;
                transition: .25s ease;
                border-radius: 20px;
            }
            &:hover::before{
                opacity: 1;
            }

            &::after{
                content: "";
                height: 97%;
                width: 1px;
                background: #ffffff;
                position: absolute;
                left: -40px;
                top: 60%;
            }
            .processContentNewIco{
                position: absolute;
                top: 50%;
                left: -55px;

                .processContentNewIco1{
                    background-image: url(/home/icoNew1.webp);
                    background-size: cover;
                    background-position: center;
                    filter: brightness(0) invert(1);
                    width: 30px;
                    height: 30px;
                    opacity: 1;
                    transition: .25s ease;
                    display: block;
                }
                .processContentNewIco2{
                    background-image: url(/home/icoNew2.webp);
                    background-size: cover;
                    background-position: center;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    transition: .25s ease;
                }
            }
            .processIcon {
                margin-bottom: 15px;
                height: auto;
                transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
            }

            .processContent {
                h5 {
                    color: #ffffff;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: -0.165px;
                    margin-bottom: 10px;
                    transition: .25s ease;
                }

                p {
                    margin-bottom: 0;
                    transition: .25s ease;
                    color: #ffffff;

                }
            }

            .viewLinks {
                line-height: 60px;
                letter-spacing: -0.165px;
                text-align: right;
                display: block;
                opacity: 0;
                transition: opacity 0s ease-in-out, transform 0s ease-in-out;
                transform: translateY(20px);
                height: 0px;
                width: 100%;

                a,
                div {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;

                    .btnBox {
                        border-radius: 64px;
                        background: #fff;
                        height: 45px;
                        width: 45px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 10px;

                        svg {
                            width: 18px;
                            height: 18px;

                            path {
                                stroke: #4D77EE;
                            }
                        }
                    }
                }
            }

            &:hover {
                background-size: 100% 100%;
                border-color: transparent;

                .processIcon {
                    transform: translateY(-20px);
                    opacity: 0;
                    height: 0;
                    transition: transform 0.4s ease-in-out, opacity 0s ease-in-out;
                }


                .viewLinks {
                    height: auto;
                    opacity: 1;
                    transform: translateY(0);
                    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
                }
                .processContentNewIco{
                    .processContentNewIco1{
                        opacity: 0;
                    }
                    .processContentNewIco2{
                        opacity: 1;
                    }
                }
                .processContent {
                    h5 {
                        color: #010101;
                    }

                    p {
                        color: #010101;

                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .processSec {
        .processBox {
            gap: 12px;
            margin-top: 40px;

            .processList {
                flex: 0 0 calc(25% - 12px);
                height: 400px;
                padding: 28px;

                .processIcon {
                    margin-bottom: 12px;
                }

                .processContent {
                    h5 {
                        font-size: 22px;
                        margin-bottom: 10px;

                    }

                    p {
                        margin-bottom: 12px;
                    }
                }

                .viewLinks {
                    line-height: 60px;

                    a,
                    div {
                        font-size: 17px;
                        font-weight: 500;

                        .btnBox {
                            height: 45px;
                            width: 45px;

                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .processSec {
        .processBox {
            gap: 10px;
            margin-top: 35px;

            .processList {
                flex: 0 0 calc(25% - 10px);
                height: 400px;
                padding: 25px;

                .processIcon {
                    margin-bottom: 10px;

                    svg {
                        height: 50px;
                        width: auto;
                    }
                }

                .processContent {
                    h5 {
                        font-size: 20px;
                        margin-bottom: 10px;
                        line-height: 28px;

                    }

                    p {
                        margin-bottom: 10px;
                    }
                }

                .viewLinks {
                    line-height: 60px;

                    a,
                    div {
                        font-size: 16px;
                        font-weight: 500;

                        .btnBox {
                            height: 45px;
                            width: 45px;

                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .processSec {
        .processBox {
            gap: 10px;
            margin-top: 30px;

            .processList {
                flex: 0 0 calc(25% - 10px);
                height: 350px;
                padding: 25px;

                .processIcon {
                    margin-bottom: 10px;

                    svg {
                        height: 50px;
                        width: auto;
                    }
                }

                .processContent {
                    h5 {
                        font-size: 18px;
                        margin-bottom: 10px;
                        line-height: 26px;

                    }

                    p {
                        margin-bottom: 10px;
                    }
                }

                .viewLinks {
                    line-height: 60px;

                    a,
                    div {
                        font-size: 15px;
                        font-weight: 500;

                        .btnBox {
                            height: 40px;
                            width: 40px;

                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .processSec {
        .processBox {
            gap: 12px;
            margin-top: 30px;
            justify-content: center;

            .processList {
                flex: 0 0 calc(33.33% - 12px);
                height: 320px;
                padding: 25px;

                .processIcon {
                    margin-bottom: 10px;

                    svg {
                        height: 50px;
                        width: auto;
                    }
                }

                .processContent {
                    h5 {
                        font-size: 18px;
                        margin-bottom: 10px;
                        line-height: 26px;

                    }

                    p {
                        margin-bottom: 10px;
                    }
                }

                .viewLinks {
                    line-height: 60px;

                    a,
                    div {
                        font-size: 14px;

                        .btnBox {
                            height: 35px;
                            width: 35px;

                            svg {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .processSec {
        .processBox {
            gap: 12px;
            margin-top: 30px;
            justify-content: center;

            .processList {
                flex: 0 0 calc(50% - 12px);
                height: 280px;
                padding: 25px;

                .processIcon {
                    margin-bottom: 10px;

                    svg {
                        height: 50px;
                        width: auto;
                    }
                }

                .processContent {
                    h5 {
                        font-size: 18px;
                        margin-bottom: 10px;
                        line-height: 26px;

                    }

                    p {
                        margin-bottom: 10px;
                    }
                }

                .viewLinks {
                    line-height: 60px;

                    a,
                    div {
                        font-size: 14px;

                        .btnBox {
                            height: 35px;
                            width: 35px;

                            svg {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .processSec {

        .stickyClass{
            position: relative !important;
            top: 0 !important;
        }
        .processBox {
            gap: 12px;
            margin-top: 30px;
            justify-content: center;

            .processList {
                flex: auto !important;
                height: auto !important;
                width: 100% !important;
                margin: 0;
                padding: 25px;
                
                .processIcon {
                    margin-bottom: 10px;

                    svg {
                        height: 50px;
                        width: auto;
                    }
                }

                .processContent {
                    z-index: 2 !important;

                    h5 {
                        font-size: 18px;
                        margin-bottom: 10px;
                        line-height: 26px;

                    }

                    p {
                        margin-bottom: 10px;
                    }
                }

                .viewLinks {
                    line-height: 60px;

                    a,
                    div {
                        font-size: 14px;

                        .btnBox {
                            height: 35px;
                            width: 35px;

                            svg {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}