.copyrigthSection {
    border-top: 1px solid #B1B1B1;
    height: 120px;
    font-family: "Poppins", sans-serif;

    .copyrightBox {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .dmcsImg {
            margin-right: 30px;
        }

        .copyrightTxt {
            p {
                margin-bottom: 0px;
                font-size: 14px;
                line-height: normal;
                color: rgb(255, 255, 255, 0.6);
            }
        }
    }

    .copyrightTxt1 {

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0px;
            margin: 0px;

            li {
                margin-left: 20px;

                a {
                    font-size: 14px;
                    line-height: normal;
                    color: rgb(255, 255, 255, 0.6);
                    border-right: 1px solid rgb(255, 255, 255, 0.6);
                    transition: .3s linear;
                    padding-right: 20px;

                    &:hover {
                        color: #e1f81c;
                        transition: .3s linear;
                    }
                }

                &:last-child {
                    a {
                        border-right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:600px) and (max-width: 1200px) {
    .copyrigthSection {
        height: 90px;

        .copyrightBox {
            .dmcsImg {
                margin-right: 10px;
            }

            .copyrightTxt {
                p {
                    margin-bottom: 0px;
                    font-size: 12px;
                }
            }
        }

        .copyrightTxt1 {

            ul {
                li {
                    margin-left: 15px;

                    a {
                        font-size: 12px;
                        padding-right: 15px;
                    }

                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .copyrigthSection {
        height: auto;
        padding: 20px 0px;

        .copyrightBox {
            .dmcsImg {
                display: none;

                img {
                    height: 30px;
                    width: auto;
                }
            }

            .copyrightTxt {
                text-align: center;
                width: 100%;

                p {
                    margin-bottom: 0px;
                    font-size: 12px;
                }
            }
        }

        .copyrightTxt1 {
            ul {
                justify-content: center;

                li {
                    margin-left: 15px;

                    a {
                        font-size: 12px;
                        padding-right: 15px;
                    }

                }
            }
        }
    }
}