.headerSection {
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 10px;
    width: 100%;
    left: 0px;
    z-index: 999;
    padding: 10px 0px;


    &.active {
        position: fixed;
        background: #000000;
        box-shadow: 0px 4px 20px 0px rgb(192 192 192 / 27%);
        top: 0px;

    }
    
    .headerLogo {
        height: auto;
        width: 250px;
        
        svg {
            height: 70px;
            width: auto;
        }
    }

    .headermobileLogo {
        height: 0px;
        opacity: 0;
        width: 0px;
        visibility: hidden;
    }


}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .headerSection {
        height: 70px;

        .headerLogo {
            svg {
                height: 60px;
                width: auto;
            }
        }
    }
}

@media only screen and (min-width: 1000px) and (max-width:1099px) {
    .headerSection {
        height: 60px;
        top: 10px;

        .headerLogo {
            svg {
                height: 55px;
                width: auto;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:999px) {
    .headerSection {
        height: 50px;
        top: 0px;
        background: #000000;

        .headerLogo {
            height: 0px;
            opacity: 0;
            width: 0px;
            visibility: hidden;
        }

        .headermobileLogo {
            height: auto;
            opacity: 1;
            width: auto;
            visibility: visible;

            svg {
                height: 55px;
                width: auto;
            }
        }

    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .headerSection {
        height: 50px;
        top: 0px;
        background: #000000;

        .headerLogo {
            height: 0px;
            opacity: 0;
            width: 0px;
            visibility: hidden;
        }

        .headermobileLogo {
            height: auto;
            opacity: 1;
            width: 100px;
            visibility: visible;

            svg {
                height: 55px;
                width: auto;
            }
        }
    }
}