.awardsSection {
  padding: 100px 0px;
  .awardsWapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    .awardsItem {
      flex: 0 0 calc(100% / 2 - 10px);
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px 20px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(3px);
      background: rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      margin-bottom: 20px;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-5px) scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        background: rgba(74, 120, 239, 0.1);
      }
      .awardsLogo {
        flex: 0 0 150px;
        height: 150px;
      }
      .awardsTxt {
        flex: 0 0 calc(100% - 200px);
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        color: #333333;
        margin-bottom: 0px;
        span {
          display: inline-block;
          background: #4a78ef;
          color: #fff;
          font-size: 15px;
          line-height: 30px;
          padding: 0px 10px;
          border-radius: 5px;
          transition: background 0.3s ease-in-out;
          &:hover {
            background: #2d54c8;
          }
        }
      }
    }
  }
}
