.footerSec {
  background: url(../../public/videoexplainer/footer-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.txt h2 {
  font-size: 30px;
  color: #231f20;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 0;
}

.txt p {
  font-size: 18px;
  color: #231f20;
  font-weight: 400;
  padding: 20px 0;
  font-family: "Montserrat";
}

.formWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 10px;
  width: 100%;
}

.inputs {
  position: relative;
  padding: 0 4px;
}

.icon {
  position: absolute;
  top: 14px;
  left: 17px;
  color: #b2b2b2;
  font-size: 16px;
}

.inputs input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 35px 10px 40px;
  border: 0;
  font-family: "Montserrat";
}

.inputs textarea {
  width: 100%;
  padding: 10px 35px 10px 40px;
  height: 100px;
  border: 0;
}

.btn button {
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  background: #231f20;
  padding: 13px 40px;
  border: 2px solid transparent;
  color: #fff;
  letter-spacing: 0.3px;
  transition-duration: 0.6s;
  width: auto;
  font-family: "Poppins";
}

.address_detail {
  width: 50%;
  margin: auto;
}

.address_detail ul {
  padding-left: 0;
}

.address_detail ul li {
  padding: 10px 0;
}

.address_detail ul li a {
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0 11px;
  font-family: "Montserrat";
}

.footerIcons {
  color: #222;
  position: relative;
  background: #fc0;
  border-radius: 60%;
  padding: 4px;
  font-size: 20px;
  width: 25px;
  height: 25px;
}

/* Copy Right Start */

.copyright {
  padding: 20px 0;
}

.copyRightCon {
  position: relative;
}

.copyRightCon p {
  font-size: 15px;
  padding-bottom: 13px;
  color: #333;
  text-align: center;
  font-family: "Montserrat";
  margin-bottom: 0;
}

.topIcon {
  background: #18d689;
  display: table;
  width: 80px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 60%;
  vertical-align: middle;
  padding-top: 14px;
  border: 5px solid #fff;
  position: absolute;
  right: 0;
}

.topIcon a {
  font-family: "Montserrat";
}

.topArrow {
  position: absolute;
  right: 0;
  top: -40px;
}

.topIcon p {
  font-size: 14px;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

/* Copy Right End */

/* Media Query Start */
@media only screen and (max-width: 991px) {
  .address_detail {
    width: 100%;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 567px) {
  .txt h2 {
    font-size: 22px;
    line-height: 29px;
  }

  .bannerSec p {
    font-size: 16px;
    padding: 10px 0;
  }

  .inputs {
    padding: 0 10px;
  }

  .topArrow {
    display: none;
  }
}
