.HomeBanner {
  position: relative;
}

.mood {
  position: relative;
  z-index: 9;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.ctaForm {
  padding: 25px 15px 25px 15px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  background-color: rgb(106 106 106 / 19%);
  border: 0.5px solid rgb(49, 49, 49);
}

.FormHo::before {
  background-image: url(../../public/blockchain/images/corner.png);
  width: 101px;
  height: 89px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  left: -5px;
  top: -4px;
}
.FormHo::after {
  background-image: url(../../public/blockchain/images/corner-r.png);
  width: 101px;
  height: 89px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  right: -5px;
  top: -4px;
}
.FormHoo::before {
  background-image: url(../../public/blockchain/images/corner-lb.png);
  width: 101px;
  height: 89px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  left: -5px;
  bottom: -4px;
}
.FormHoo::after {
  background-image: url(../../public/blockchain/images/corner-rb.png);
  width: 101px;
  height: 89px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  right: -5px;
  bottom: -4px;
}

.ctaForm input {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid var(--white);
  padding: 9px 20px 21px 3px;
  color: #fff;
  border-radius: 0px;
}
.ctaForm textarea {
  background: transparent;
  border: 0px;
  border-bottom: 2px solid var(--white);
  padding: 9px 20px 21px 3px;
  color: #fff;
  width: 100%;
  border-radius: 0px;
  height: 110px;
}
.ctaForm input::placeholder {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
.ctaForm textarea::placeholder {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.ctaForm label {
  color: var(--white);
  font-size: 12px;
}

.ctaForm input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  outline: 0px;
  border-bottom: 1px solid var(--mry);
  background: transparent;
  color: #fff;
}

.ctaForm textarea:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  outline: 0px;
  border-bottom: 1px solid var(--mry);
  background: transparent;
  color: #fff;
}

.ctaForm .btnprimary {
  width: 198px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: Montserrat;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  transition: background-color 1s;
  border: 1px solid white;
}
.ctaForm .btnprimary:hover {
  color: #000;
  background-color: #fff;
}

.input-group {
  width: auto !important;
}

.partnerLogos {
  padding: 12px 0px 12px 0px;
  border-top: 1px solid #5c5c5c;
  border-bottom: 1px solid #5c5c5c;
}

.Lcontent {
  padding-top: 40px;
  z-index: 2;
  position: relative;
}

.ctaForm1 {
  padding: 25px 15px 25px 15px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  background-color: rgb(106 106 106 / 19%);
  border: 0.5px solid rgb(49, 49, 49);
}

.ctaForm2 {
  padding: 5px 5px 5px 5px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  background-color: rgb(106 106 106 / 19%);
  border: 0.5px solid rgb(49, 49, 49);
}

.ctapara {
  font-size: 12px;
  color: var(--white);
}
.h42 {
  font-size: 40px;
  color: white;
  font-weight: 700;
}
.h41 {
  font-size: 15px;
  color: var(--white);
  font-weight: 400;
}

.para3 {
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
}

.cheading {
  margin-top: 20px;
  font-size: 45px;
  font-weight: 500;
  color: white;
  text-align: center;
}
.btnpri {
  width: 198px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: Montserrat;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  transition: background-color 1s;
  border: 1px solid white;
}

.ctac {
  padding: 25px 15px 25px 15px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  border-radius: 10px;
  backdrop-filter: blur(0px);
}

.btnpri {
  color: var(--white);
  padding: 10px 20px 10px 20px;
  line-height: 32px;
}
.btnpri:hover {
  background-color: var(--white) !important;
  color: #000;
}

.btnpri1 {
  color: var(--white);
  padding: 10px 20px 10px 20px;
  line-height: 32px;
}

.homeVideo {
  left: 0;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  height: 100%;
  overflow: hidden;
}

/* ====================================== */

@media (max-width: 768px) {
  .homeVideo {
    left: 0;
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
  }
  .Lcontent {
    text-align: center;
    padding-top: 10px;
  }
}

@media (max-width: 1028px) {
  .homeVideo {
    left: 0;
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
  }
}
