.formclass .formControl {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid var(--white);
  padding: 9px 20px 21px 3px;
  color: var(--mry);
  border-radius: 0px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 28px;
}

.barcode img {
  filter: drop-shadow(0 0 3.75rem rgb(62, 62, 62));
}
