.bannerAuthorSec {
  height: 800px;
  background: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .authorImage {
    height: 220px;
    width: 220px;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #f32faf;
      object-position: top;
    }
  }
  .authorName {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
  }
  .authorInfo {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerAuthorSec {
    height: 650px;
    padding-top: 100px;
    .authorImage {
      height: 180px;
      width: 180px;
      margin: auto;
    }
    .authorName {
      font-size: 26px;
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 26px;
    }
    .authorInfo {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 25px;
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerAuthorSec {
    height: 650px;
    padding-top: 100px;
    .authorImage {
      height: 180px;
      width: 180px;
      margin: auto;
    }
    .authorName {
      font-size: 26px;
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 26px;
    }
    .authorInfo {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 25px;
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerAuthorSec {
    height: 650px;
    padding-top: 60px;
    .authorImage {
      height: 160px;
      width: 160px;
      margin: auto;
    }
    .authorName {
      font-size: 22px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 22px;
    }
    .authorInfo {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 23px;
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .bannerAuthorSec {
    height: 600px;
    padding-top: 60px;
    .authorImage {
      height: 160px;
      width: 160px;
      margin: auto;
    }
    .authorName {
      font-size: 22px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 22px;
    }
    .authorInfo {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 23px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .bannerAuthorSec {
    height: 600px;
    padding-top: 60px;
    .authorImage {
      height: 160px;
      width: 160px;
      margin: auto;
    }
    .authorName {
      font-size: 22px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 22px;
    }
    .authorInfo {
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 23px;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bannerAuthorSec {
    height: 600px;
    padding-top: 60px;
    .authorImage {
      height: 160px;
      width: 160px;
      margin: auto;
    }
    .authorName {
      font-size: 22px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 22px;
    }
    .authorInfo {
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 23px;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .bannerAuthorSec {
    height: 600px;
    padding-top: 50px;
    .authorImage {
      height: 120px;
      width: 120px;
      margin: auto;
    }
    .authorName {
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 20px;
    }
    .authorInfo {
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 23px;
    }
  }
}
