.bannerSection {
  position: relative;
  font-family: "Poppins", sans-serif;
  margin: auto;

  &::before {
    content: "";
    background: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .bannerContent {
    position: relative;

    h1 {
      color: #fff;
      font-size: 70px;
      font-style: normal;
      font-weight: 700;
      line-height: 90px;
      letter-spacing: -0.165px;
      margin-bottom: 20px;
    }

    p {
      color: #9d9d9d;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -0.165px;
    }

    .digitalAnimatedBox {
      width: 300px;
      display: inline-block;
      height: 65px;

      .digitalAnimatedTxt {
        position: relative;
        height: auto;
        overflow: hidden;

        span {
          position: absolute;
          width: 100%;
          text-align: center;
          animation: scroll 8s infinite;
          opacity: 0;
          display: block;
          color: #fff;
          font-size: 70px;
          font-style: normal;
          font-weight: 700;
          line-height: 90px;
          letter-spacing: -0.165px;
          margin-bottom: 20px;
          color: #f31d63;
          display: inline-block;
        }

        span:nth-child(1) {
          animation-delay: 0s;
          color: #f31d63;
        }

        span:nth-child(2) {
          animation-delay: 2s;
          color: #a224ac;
        }

        span:nth-child(3) {
          animation-delay: 4s;
          color: #b66bf0;
        }

        span:nth-child(4) {
          animation-delay: 6s;
          color: #4d77ee;
        }
      }

      @keyframes scroll {
        0% {
          transform: translateY(-100%);
          opacity: 0;
        }

        10% {
          transform: translateY(0);
          opacity: 1;
        }

        25% {
          transform: translateY(0);
          opacity: 1;
        }

        35% {
          transform: translateY(100%);
          opacity: 0;
        }

        100% {
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }
  }

  .bannerImg {
    position: relative;
    overflow: hidden; // Ensure boxes don't overflow

    img {
      height: auto;
      width: auto;
    }

    .Box1 {
      transition: transform 0.5s ease;
      transform: translateX(0px);
    }

    .Box2 {
      transition: transform 0.5s ease;
      transform: translateX(0px);
    }

    .Box1,
    .Box2 {
      position: absolute;
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
      background: #555555;
      opacity: 0;
      border: 0.2px solid #929191;
      border-radius: 19px;
      padding: 15px 20px;

      img {
        margin-bottom: 10px;
      }

      .text {
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 60px;
        color: #fff;
      }

      .para {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.165px;
        color: #ffffff;
      }
    }

    .Box1 {
      top: 30%;
      right: 20px;
      transform: translateY(-20px);
    }

    .Box2 {
      bottom: 30%;
      left: 20px;
      transform: translateY(20px);
    }

    &:hover {
      .Box1 {
        opacity: 0.9;
        transform: translateY(0);
      }

      .Box2 {
        opacity: 0.9;
        transform: translateY(0);
      }
    }
  }

  .bannerBg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: -2;
    background: url(../../public/app-marketing/banner/bannerBG.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerSection {
    .bannerContent {
      h1 {
        font-size: 70px;
        line-height: 90px;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        line-height: 30px;
      }

      .digitalAnimatedBox {
        width: 280px;

        .digitalAnimatedTxt {
          span {
            font-size: 70px;
            line-height: 90px;
          }
        }
      }
    }

    .bannerImg {

      .Box1,
      .Box2 {
        img {
          margin-bottom: 10px;
        }

        .text {
          font-weight: 700;
          font-size: 55px;
          line-height: 60px;
        }

        .para {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: -0.165px;
        }
      }

      .Box1 {
        top: 28%;
        right: 15px;
        transform: translateY(-20px);
      }

      .Box2 {
        bottom: 28%;
        left: 10px;
        transform: translateY(20px);
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerSection {
    .bannerContent {
      h1 {
        font-size: 65px;
        line-height: 85px;
        margin-bottom: 5px;
      }

      p {
        font-size: 18px;
        line-height: 30px;
      }

      .digitalAnimatedBox {
        width: 280px;

        .digitalAnimatedTxt {
          span {
            font-size: 65px;
            line-height: 85px;
          }
        }
      }
    }

    .bannerImg {

      .Box1,
      .Box2 {
        img {
          margin-bottom: 10px;
        }

        .text {
          font-weight: 700;
          font-size: 50px;
          line-height: 55px;
        }

        .para {
          font-size: 19px;
          font-weight: 500;
        }
      }

      .Box1 {
        top: 28%;
        right: 10px;
        transform: translateY(-20px);
      }

      .Box2 {
        bottom: 28%;
        left: 5px;
        transform: translateY(20px);
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerSection {
    .bannerContent {
      h1 {
        font-size: 48px;
        line-height: 65px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 28px;
      }

      .digitalAnimatedBox {
        width: 280px;
        height: 45px;

        .digitalAnimatedTxt {
          span {
            font-size: 48px;
            line-height: 65px;
          }
        }
      }
    }

    .bannerImg {

      .Box1,
      .Box2 {
        padding: 12px 10px;

        img {
          margin-bottom: 10px;
        }

        .text {
          font-weight: 700;
          font-size: 35px;
          line-height: 45px;
        }

        .para {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .Box1 {
        top: 27%;
        right: 10px;
        transform: translateY(-20px);
      }

      .Box2 {
        bottom: 30%;
        left: 5px;
        transform: translateY(20px);
      }
    }
  }
}

@media only screen and (min-width: 901px) and (max-width: 1099px) {
  .bannerSection {
    .bannerContent {
      h1 {
        font-size: 50px;
        line-height: 70px;
        margin-bottom: 5px;
        padding-right: 30px;
      }

      p {
        font-size: 16px;
        line-height: 28px;
      }

      .digitalAnimatedBox {
        width: 280px;

        .digitalAnimatedTxt {
          span {
            font-size: 50px;
            line-height: 70px;
          }
        }
      }
    }

    .bannerImg {

      .Box1,
      .Box2 {
        padding: 8px;

        img {
          margin-bottom: 10px;
        }

        .text {
          font-weight: 700;
          font-size: 35px;
          line-height: 45px;
        }

        .para {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .Box1 {
        top: 26%;
        right: 5px;
        transform: translateY(-20px);
      }

      .Box2 {
        bottom: 30%;
        left: 0px;
        transform: translateY(20px);
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .bannerSection {
    padding-top: 50px;

    .bannerContent {
      h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0px;
        padding-right: 30px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }

      .digitalAnimatedBox {
        width: 250px;
        height: 45px;

        .digitalAnimatedTxt {
          span {
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
    }

    .bannerImg {
      display: flex;

      img {
        max-height: 400px;
        margin: 10px auto;
      }

      .Box1,
      .Box2 {
        padding: 8px;

        img {
          max-height: 30px;
          margin-bottom: 5px;
        }

        .text {
          font-weight: 600;
          font-size: 30px;
          line-height: 40px;
        }

        .para {
          font-weight: 400;
          font-size: 14px;
        }
      }

      .Box1 {
        top: 40%;
        right: auto;
        left: 2%;
        transform: translateY(-20px);
        width: auto;
      }

      .Box2 {
        bottom: 45%;
        right: 2%;
        left: auto;
        transform: translateY(20px);
        width: auto;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .bannerSection {
    padding-top: 50px;

    .bannerContent {
      h1 {
        font-size: 35px;
        line-height: 55px;
        margin-bottom: 0px;
        padding-right: 30px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }

      .digitalAnimatedBox {
        width: 220px;
        height: 45px;

        .digitalAnimatedTxt {
          span {
            font-size: 35px;
            line-height: 55px;
          }
        }
      }
    }

    .bannerImg {
      display: flex;
      margin-top: 30px;

      img {
        max-height: 400px;
        margin: 10px auto;
      }

      .Box1,
      .Box2 {
        padding: 8px;

        img {
          max-height: 30px;
          margin-bottom: 5px;
        }

        .text {
          font-weight: 600;
          font-size: 25px;
          line-height: 35px;
        }

        .para {
          font-weight: 400;
          font-size: 13px;
        }
      }

      .Box1 {
        top: 40%;
        right: auto;
        left: 2%;
        transform: translateY(-20px);
        width: auto;
      }

      .Box2 {
        bottom: 45%;
        right: 2%;
        left: auto;
        transform: translateY(20px);
        width: auto;
      }
    }
  }
}