.appCaseStudy {
  font-family: "Poppins", sans-serif;

  .embla {
    margin-top: 50px;
    max-width: 100%;
    position: relative;

    .embla__viewport {
      overflow: hidden;

      .embla__container {
        backface-visibility: hidden;
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(25px * -1);

        .embla__slide {
          min-width: 0;
          flex: 0 0 calc(50%);
          padding-left: 25px;
          height: 550px;

          .casestudyBox {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 100%;
            width: 100%;
            border-radius: 20px;
            position: relative;
            overflow: hidden;

            &::before {
              content: "";
              opacity: 0.9;
              background: linear-gradient(0deg,
                  rgba(0, 0, 0, 0.75) 0%,
                  rgba(0, 0, 0, 0) 100%);
              mix-blend-mode: multiply;
              height: 580px;
              width: 100%;
              border-radius: 0px 0px 20px 20px;
              position: absolute;
              left: 0px;
              bottom: -300px;
              transition: bottom 0.5s ease-in-out;
            }

            .casestudyContent {
              position: absolute;
              bottom: 30px;
              width: 100%;
              left: 0px;
              padding: 0px 30px;

              .casestudyTxt {
                .logoSec {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  justify-content: center;
                  margin-bottom: 0px;
                  transition: margin-bottom 0.3s ease-in-out;

                  h3 {
                    color: #fff;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 50px;
                    letter-spacing: -0.165px;
                    display: inline-block;
                    margin-bottom: 15px;
                  }

                  .para {
                    color: #fff;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 35px;
                    letter-spacing: -0.165px;
                    display: inline-block;
                  }
                }

                .casestudyPara {
                  opacity: 0;
                  max-height: 0;
                  overflow: hidden;
                  transition: opacity 0.3s ease-in-out,
                    max-height 0.4s ease-in-out;

                  p {
                    color: #fff;
                    margin-bottom: 10px;
                  }


                }
              }
            }

            &:hover {
              &::before {
                bottom: 0;
              }

              .casestudyContent {
                .casestudyTxt {
                  .logoSec {
                    margin-bottom: 0px;
                  }

                  .casestudyPara {
                    opacity: 1;
                    max-height: 500px;
                    transition: opacity 0.3s ease-in-out,
                      max-height 0.4s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .appCaseStudy {
    .embla {
      .embla__viewport {
        .embla__container {
          margin-left: calc(22px * -1);

          .embla__slide {
            padding-left: 22px;
            height: 500px;

            .casestudyBox {
              border-radius: 18px;

              .casestudyContent {
                bottom: 30px;
                padding: 0px 30px;

                .casestudyTxt {
                  .logoSec {
                    margin-bottom: 0px;

                    h3 {
                      font-size: 38px;
                      line-height: 45px;
                      margin-bottom: 10px;
                    }

                    .para {
                      font-size: 22px;
                      line-height: 28px;
                      margin-bottom: 5px;
                    }
                  }

                }
              }

              &:hover {
                &::before {
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .appCaseStudy {
    .embla {
      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            padding-left: 20px;
            height: 450px;

            .casestudyBox {
              border-radius: 18px;

              .casestudyContent {
                bottom: 28px;
                padding: 0px 25px;

                .casestudyTxt {
                  .logoSec {
                    margin-bottom: 0px;

                    h3 {
                      font-size: 32px;
                      line-height: 42px;
                      margin-bottom: 10px;
                    }

                    .para {
                      font-size: 20px;
                      line-height: 26px;
                      margin-bottom: 5px;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .appCaseStudy {
    .embla {
      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            padding-left: 20px;
            height: 430px;

            .casestudyBox {
              border-radius: 18px;

              .casestudyContent {
                bottom: 28px;
                padding: 0px 25px;

                .casestudyTxt {
                  .logoSec {
                    margin-bottom: 0px;

                    h3 {
                      font-size: 32px;
                      line-height: 42px;
                      margin-bottom: 10px;
                    }

                    .para {
                      font-size: 20px;
                      line-height: 26px;
                      margin-bottom: 5px;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .appCaseStudy {
    .embla {
      .embla__viewport {
        .embla__container {
          margin-left: calc(15px * -1);

          .embla__slide {
            padding-left: 15px;
            height: 420px;

            .casestudyBox {
              border-radius: 18px;

              .casestudyContent {
                bottom: 25px;
                padding: 0px 20px;

                .casestudyTxt {
                  .logoSec {
                    margin-bottom: 0px;

                    h3 {
                      font-size: 28px;
                      line-height: 38px;
                      margin-bottom: 5px;
                    }

                    .para {
                      font-size: 18px;
                      line-height: 24px;
                      margin-bottom: 5px;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .appCaseStudy {
    .embla {
      .embla__viewport {
        .embla__container {
          margin-left: calc(12px * -1);

          .embla__slide {
            flex: 0 0 calc(70%);
            padding-left: 12px;
            height: 350px;

            .casestudyBox {
              border-radius: 18px;

              .casestudyContent {
                bottom: 25px;
                padding: 0px 20px;

                .casestudyTxt {
                  .logoSec {
                    margin-bottom: 0px;

                    h3 {
                      font-size: 28px;
                      line-height: 38px;
                      margin-bottom: 5px;
                    }

                    .para {
                      font-size: 18px;
                      line-height: 24px;
                      margin-bottom: 5px;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .appCaseStudy {
    .embla {
      .embla__viewport {
        .embla__container {
          margin-left: calc(0px * -1);

          .embla__slide {
            flex: 0 0 calc(100%);
            padding-left: 0px;
            height: 350px;

            .casestudyBox {
              border-radius: 18px;

              .casestudyContent {
                bottom: 20px;
                padding: 0px 20px;

                .casestudyTxt {
                  .logoSec {
                    margin-bottom: 0px;

                    h3 {
                      font-size: 26px;
                      line-height: 36px;
                      margin-bottom: 5px;
                    }

                    .para {
                      font-size: 16px;
                      line-height: 22px;
                      margin-bottom: 5px;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}