.storySection {
    font-family: "Poppins", sans-serif;
    .storyPoints {
        position: relative;
        height: 300px;
        overflow: hidden;
        border-left: 2px solid #D9D9D9;
        padding-left: 150px;

        .storyItem {
            position: absolute;
            opacity: 0;
            transform: translateY(100%);
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
            font-style: normal;
            font-weight: 700;
            font-size: 155px;
            line-height: 170px;
            letter-spacing: -0.134826px;
            color: #000000;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .storyTxt {
                font-style: normal;
                font-weight: 500;
                font-size: 26px;
                line-height: 36px;
                letter-spacing: -0.134826px;
                color: #818181;
            }

            &.active {
                opacity: 1;
                transform: translateY(0);
            }
        }

    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .storySection {
        .storyPoints {
            height: 300px;
            padding-left: 150px;

            .storyItem {
                font-size: 150px;
                line-height: 170px;
                height: 250px;

                .storyTxt {
                    font-size: 26px;
                    line-height: 36px;
                }
            }

        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .storySection {
        .storyPoints {
            height: 250px;
            padding-left: 120px;

            .storyItem {
                font-size: 130px;
                line-height: 140px;
                height: 250px;

                .storyTxt {
                    font-size: 26px;
                    line-height: 36px;
                }
            }

        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .storySection {
        .storyPoints {
            height: 250px;
            padding-left: 120px;

            .storyItem {
                font-size: 110px;
                line-height: 120px;
                height: 230px;

                .storyTxt {
                    font-size: 24px;
                    line-height: 34px;
                }
            }

        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .storySection {
        .storyPoints {
            height: 200px;
            padding-left: 100px;

            .storyItem {
                font-size: 100px;
                line-height: 110px;
                height: 200px;

                .storyTxt {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .storySection {
        .storyPoints {
            height: 180px;
            padding-left: 80px;

            .storyItem {
                font-size: 80px;
                line-height: 90px;
                height: 180px;

                .storyTxt {
                    font-size: 18px;
                    line-height: 28px;
                }
            }

        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .storySection {
        .storyPoints {
            height: 180px;
            padding-left: 20px;
            border-left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .storyItem {
                font-size: 80px;
                line-height: 90px;
                height: 180px;
                text-align: center;

                .storyTxt {
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    width: 100%;
                }
            }

        }
    }
}