.projectList {
    font-family: "Poppins", sans-serif;

    .casestudyBox {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        height: 560px;
        margin-top: 25px;

        &::before {
            content: '';
            opacity: 0.9;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 100%);
            mix-blend-mode: multiply;
            height: 580px;
            width: 100%;
            border-radius: 0px 0px 20px 20px;
            position: absolute;
            left: 0px;
            bottom: -300px;
            transition: bottom 0.5s ease-in-out;
        }

        .casestudyContent {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 30px;
            width: 100%;
            left: 0px;
            padding: 0px 30px;

            .casestudyTxt {
                flex: 0 0 50%;

                .logoSec {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 0px;
                    transition: margin-bottom 0.3s ease-in-out;

                    span {
                        margin-left: 10px;
                        color: #FFF;
                        font-size: 35px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 45px;
                        letter-spacing: -0.165px;
                        display: inline-block;
                    }
                }

            }

            .btnSec {
                flex: 0 0 50%;
                text-align: right;
            }
        }

        &:hover {
            &::before {
                bottom: 0px;
            }
        }
    }

}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .projectList {
        .casestudyBox {
            height: 560px;
            margin-top: 25px;

            &::before {
                height: 580px;
                bottom: -300px;
            }

            .casestudyContent {
                bottom: 20px;
                padding: 0px 25px;

                .casestudyTxt {
                    flex: 0 0 50%;

                    .logoSec {
                        span {
                            margin-left: 10px;
                            font-size: 30px;
                        }
                    }

                }

                .btnSec {
                    flex: 0 0 50%;
                }

            }
        }

    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .projectList {
        .casestudyBox {
            height: 560px;
            margin-top: 20px;

            &::before {
                height: 580px;
                bottom: -300px;
            }

            .casestudyContent {
                bottom: 20px;
                padding: 0px 20px;

                .casestudyTxt {
                    flex: 0 0 50%;

                    .logoSec {
                        span {
                            margin-left: 10px;
                            font-size: 25px;
                        }
                    }

                }

                .btnSec {
                    flex: 0 0 50%;
                }

            }
        }

    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .projectList {
        .casestudyBox {
            height: 500px;
            margin-top: 25px;

            &::before {
                height: 500px;
                bottom: -300px;
            }

            .casestudyContent {
                bottom: 25px;
                padding: 0px 25px;

                .casestudyTxt {
                    flex: 0 0 50%;

                    .logoSec {
                        img {
                            width: 60px;
                            height: auto;
                        }

                        span {
                            margin-left: 10px;
                            font-size: 25px;
                            flex: 0 0 160px;
                        }
                    }

                }

                .btnSec {
                    flex: 0 0 50%;
                }

            }
        }

    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .projectList {
        .casestudyBox {
            height: 400px;
            margin-top: 25px;

            &::before {
                height: 400px;
                bottom: -300px;
            }

            .casestudyContent {
                bottom: 25px;
                padding: 0px 25px;
                align-items: flex-end;

                .casestudyTxt {
                    flex: 0 0 50%;

                    .logoSec {
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        img {
                            width: 60px;
                            height: auto;
                        }

                        span {
                            margin-left: 10px;
                            font-size: 25px;
                            display: block;
                            line-height: normal;
                        }
                    }

                }

                .btnSec {
                    flex: 0 0 50%;
                }

            }
        }

    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .projectList {
        .casestudyBox {
            height: 350px;
            margin-top: 25px;

            &::before {
                height: 400px;
                bottom: -300px;
            }

            .casestudyContent {
                bottom: 25px;
                padding: 0px 25px;
                align-items: flex-start;
                flex-wrap: wrap;
                flex-direction: column;

                .casestudyTxt {
                    flex: 0 0 100%;

                    .logoSec {
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        img {
                            width: 60px;
                            height: auto;
                        }

                        span {
                            margin-left: 10px;
                            font-size: 25px;
                            display: block;
                            line-height: normal;
                        }
                    }

                }

                .btnSec {
                    flex: 0 0 100%;
                }

            }
        }

    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .projectList {
        .casestudyBox {
            height: 300px;
            margin: 10px auto;
            max-width: 330px;

            &::before {
                height: 400px;
                bottom: -100px;
            }

            .casestudyContent {
                bottom: 15px;
                padding: 0px 25px;
                align-items: flex-start;
                flex-wrap: wrap;
                flex-direction: column;

                .casestudyTxt {
                    flex: 0 0 100%;

                    .logoSec {
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        img {
                            width: 60px;
                            height: auto;
                        }

                        span {
                            margin-left: 10px;
                            font-size: 22px;
                            display: block;
                            line-height: normal;
                            margin-bottom: 10px;
                        }
                    }

                }

                .btnSec {
                    flex: 0 0 100%;
                }

            }
        }

    }
}