.resultSection {
    font-family: "Poppins", sans-serif;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 800px;

    h2,
    p {
        color: #fff;
    }


    p {
        margin-bottom: 30px;
    }

    .resultBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px 40px;


        .resultTitle {
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 70px;
            letter-spacing: -0.165px;
            color: #FFFFFF;
            border-right: 1px solid #fff;
            padding-right: 40px;

            span {
                margin-top: 10px;
                display: block;
                font-weight: 500;
                font-size: 18px;
                color: #FFFFFF;
                line-height: normal;
            }

            &:last-child {
                border-right: 0px;
                padding-right: 0px;
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .resultSection {
        height: 700px;

        p {
            margin-bottom: 30px;
        }

        .resultBox {
            gap: 20px 40px;


            .resultTitle {
                font-size: 50px;
                line-height: 60px;
                padding-right: 40px;

                span {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .resultSection {
        height: 600px;

        p {
            margin-bottom: 25px;
        }

        .resultBox {
            gap: 20px 40px;


            .resultTitle {
                font-size: 45px;
                line-height: 55px;
                padding-right: 40px;

                span {
                    margin-top: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .resultSection {
        height: 550px;

        p {
            margin-bottom: 20px;
        }

        .resultBox {
            gap: 20px 40px;


            .resultTitle {
                font-size: 40px;
                line-height: 50px;
                padding-right: 40px;

                span {
                    margin-top: 10px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .resultSection {
        height: 550px;

        p {
            margin-bottom: 20px;
        }

        .resultBox {
            gap: 20px 40px;


            .resultTitle {
                font-size: 40px;
                line-height: 50px;
                padding-right: 40px;

                span {
                    margin-top: 10px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .resultSection {
        height: 550px;

        p {
            margin-bottom: 20px;
        }

        .resultBox {
            gap: 20px 40px;


            .resultTitle {
                font-size: 40px;
                line-height: 50px;
                padding-right: 40px;

                span {
                    margin-top: 10px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .resultSection {
        height: auto;
        padding: 30px 0px;
        background-size: cover;

        p {
            margin-bottom: 20px;
        }

        .resultBox {
            gap: 10px 20px;


            .resultTitle {
                font-size: 26px;
                line-height: 36px;
                padding-right: 20px;
                flex: 0;

                span {
                    margin-top: 5px;
                    font-size: 14px;
                }
            }
        }
    }
}