.singleProject {
    font-family: "Poppins", sans-serif;
    height: 800px;
    position: relative;

    &::before {
        content: '';
        opacity: 0.6;
        background: linear-gradient(90deg, #000 21%, rgba(0, 0, 0, 0.00) 118%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
    }

    .smallTxt {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 10px;
        letter-spacing: -0.165px;
        background: linear-gradient(91deg, #F32F56 -40%, #F32FAF 15%, #4A78EF 89%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h1 {
        color: #FFFFFF;
    }

    .bannerVideo {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        left: 0px;
        top: 0px;
        z-index: -2;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .singleProject {
        height: 650px;

        .smallTxt {
            font-size: 26px;
            line-height: 36px;
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .singleProject {
        height: 650px;

        .smallTxt {
            font-size: 26px;
            line-height: 36px;
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .singleProject {
        height: 550px;

        .smallTxt {
            font-size: 24px;
            line-height: 34px;
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .singleProject {
        height: 450px;

        .smallTxt {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .singleProject {
        height: 450px;

        .smallTxt {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .singleProject {
        height: 100%;
        padding: 100px 0px 50px;

        .smallTxt {
            font-size: 16px;
            line-height: 26px;
        }
    }
}