.techstackSection {
    font-family: "Poppins", sans-serif;
    overflow: hidden;

    .bgBox {
        background: #fff;
        position: relative;
        z-index: 22;

        ::after {
            content: '';
            background: #fff;
            width: 300%;
            position: absolute;
            left: -300%;
            height: 100%;
        }
    }

    .embla {
        .embla__viewport {
            overflow: visible;

            .embla__container {
                display: flex;
                touch-action: pan-y pinch-zoom;
                margin-left: calc(10px * -1);

                .embla__slide {
                    transform: translate3d(0, 0, 0);
                    flex: 0 0 248px;
                    min-width: 0;
                    padding-left: 10px;
                    height: 210px;


                    .techstackBox {
                        background: #F7F8F9;
                        border-radius: 20px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        .techstackIcon {
                            margin-bottom: 20px;

                            img {
                                height: 60px;
                                width: auto;
                            }
                        }

                        h6 {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 26px;
                            text-align: center;
                            letter-spacing: -0.165px;
                            color: #000000;
                            margin-bottom: 0px;
                        }
                    }
                }
            }


        }
    }


}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .techstackSection {
        .embla {
            .embla__viewport {
                .embla__container {
                    .embla__slide {
                        height: 210px;
                        flex: 0 0 248px;

                        .techstackBox {
                            background: #F7F8F9;
                            border-radius: 20px;

                            .techstackIcon {
                                margin-bottom: 20px;

                                img {
                                    height: 55px;
                                    width: auto;
                                }
                            }

                            h6 {
                                font-size: 20px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .techstackSection {
        .embla {
            .embla__viewport {
                .embla__container {
                    .embla__slide {
                        height: 190px;
                        flex: 0 0 210px;

                        .techstackBox {
                            background: #F7F8F9;
                            border-radius: 20px;

                            .techstackIcon {
                                margin-bottom: 20px;

                                img {
                                    height: 50px;
                                    width: auto;
                                }
                            }

                            h6 {
                                font-size: 16px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .techstackSection {
        .embla {
            .embla__viewport {
                .embla__container {
                    .embla__slide {
                        height: 190px;
                        flex: 0 0 210px;

                        .techstackBox {
                            background: #F7F8F9;
                            border-radius: 20px;

                            .techstackIcon {
                                margin-bottom: 20px;

                                img {
                                    height: 50px;
                                    width: auto;
                                }
                            }

                            h6 {
                                font-size: 16px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .techstackSection {
        .embla {
            .embla__viewport {
                .embla__container {
                    .embla__slide {
                        height: 160px;
                        flex: 0 0 200px;

                        .techstackBox {
                            background: #F7F8F9;
                            border-radius: 20px;

                            .techstackIcon {
                                margin-bottom: 20px;

                                img {
                                    height: 45px;
                                    width: auto;
                                }
                            }

                            h6 {
                                font-size: 15px;
                                line-height: 23px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .techstackSection {
        .embla {
            .embla__viewport {
                .embla__container {
                    .embla__slide {
                        height: 160px;
                        flex: 0 0 200px;

                        .techstackBox {
                            background: #F7F8F9;
                            border-radius: 20px;

                            .techstackIcon {
                                margin-bottom: 20px;

                                img {
                                    height: 45px;
                                    width: auto;
                                }
                            }

                            h6 {
                                font-size: 15px;
                                line-height: 23px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .techstackSection {
        .embla {
            .embla__viewport {
                .embla__container {
                    .embla__slide {
                        height: 120px;
                        flex: 0 0 150px;

                        .techstackBox {
                            background: #F7F8F9;
                            border-radius: 10px;

                            .techstackIcon {
                                margin-bottom: 15px;

                                img {
                                    height: 40px;
                                    width: auto;
                                }
                            }

                            h6 {
                                font-size: 14px;
                                line-height: 23px;
                            }
                        }
                    }
                }
            }
        }
    }
}