.bannerThanks {
  height: 60vh;
  padding-bottom: 100px;

  h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 148.958px;
    line-height: 110px;
    text-align: center;
    letter-spacing: -0.189063px;
    background: linear-gradient(
      91.75deg,
      #f32f56 -16.9%,
      #f32faf 30.01%,
      #4a78ef 86.05%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  h1 {
    text-align: center;
  }
  p {
    font-size: 18px;
    text-align: center;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerThanks {
    height: 70vh;
    padding-bottom: 50px;

    h1 {
      font-size: 120px;
      line-height: 110px;
    }

    p {
      font-size: 17px;
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerThanks {
    height: 70vh;
    padding-bottom: 50px;

    h1 {
      font-size: 110px;
      line-height: 110px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerThanks {
    height: 70vh;
    padding-bottom: 50px;

    h1 {
      font-size: 110px;
      line-height: 110px;
    }

    p {
      font-size: 15px;
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .bannerThanks {
    height: 55vh;
    padding-bottom: 50px;

    h1 {
      font-size: 90px;
      line-height: 90px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .bannerThanks {
    height: 50vh;
    padding-bottom: 50px;

    h1 {
      font-size: 80px;
      line-height: 80px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .bannerThanks {
    padding: 100px 0px 0px;
    height: 100%;

    h1 {
      font-size: 50px;
      line-height: 50px;
    }
    p {
      font-size: 15px;
    }
  }
}
