.convicedSec {
    padding: 80px 0;
    height: 100%;
    position: relative;
    background: #F3F3F3;
    z-index: 99;
    overflow: hidden;
}

.convicedSec h2 {
    font-size: 38px;
    line-height: 53px;
    font-weight: bold;
    margin-bottom: 17px;
    color: black;
    margin-bottom: 10px;
}

.convicedSec h2 span {
    color: #F32F53;
}

.txt p {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    color: black;
    margin-bottom: 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn a {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding: 0 20px;
    width: 220px;
    height: 45px;
    border-radius: 6px;
    background: #F32F53;
    box-shadow: 0 5px 12px #00000075;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.4s;
    margin-top: 20px;
}

.card {
    background: white;
    border-radius: 6px;
    padding: 20px;
}

.card p {
    font-size: 16px;
    font-weight: 300;
    color: black;
    line-height: 28px;
    margin-bottom: 20px;
}

.blue {
    color: #4A78EF;
}

.red {
    color: #F32F53;
}

.green {
    color: #11DF0A;
}

.cardNegative {
    padding-top: 35px;
}

.cardBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardBottom h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #1E1E1E;
    margin-bottom: 0;
}

.cardBottom h6 {
    color: #9F9F9F;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}

.cardBottom p {
    font-size: 11px;
    line-height: 17px;
    font-weight: 500;
}

.clutch {
    width: 25%;
}

/* Media Query Start */

@media only screen and (max-width: 1399px) {
    .convicedSec h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 1280px) {
    .card p {
        font-size: 14px;
        line-height: 24px;
    }

    .cardBottom h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .cardBottom h6 {
        font-size: 10px;
        line-height: 17px;
    }
}

@media only screen and (max-width: 1099px) {
    .convicedSec h2 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 0;
    }

    .txt {
        width: 60%;
    }

    .txt p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 991px) {
    .convicedSec {
        padding: 50px 0;
    }

    .btnImage {
        width: 50%;
    }

    .clutch {
        width: 80%;
    }
}

@media only screen and (max-width: 767px) {
    .txt {
        width: 100%;
    }
}

@media only screen and (max-width: 567px) {
    .convicedSec {
        padding: 50px 0;
    }

    .txt {
        text-align: center;
    }

    .clutch {
        width: 60%;
        margin: 0 auto 10px;
    }

    .convicedSec h2 {
        font-size: 32px;
        line-height: 1.3;
    }

    .txt p {
        font-size: 16px;
        line-height: 24px;
    }

    .cardNegative {
        margin-top: 0px;
    }

    .btn a {
        width: max-content;
        margin: 20px auto 20px;
    }

    .btnImage {
        width: 100%;
    }
}

/* Media Query End */