.achievedSection {
    font-family: "Poppins", sans-serif;
    .embla {
        margin-top: 0px;
        max-width: 100%;
        position: relative;

        .embla__viewport {
            overflow: hidden;
            padding: 30px 0px;

            .embla__container {
                backface-visibility: hidden;
                display: flex;
                touch-action: pan-y pinch-zoom;
                margin-left: calc(20px * -1);

                .embla__slide {
                    min-width: 0;
                    flex: 0 0 auto;
                    padding-left: 20px;

                    .achievedCard {
                        background: #010101;
                        width: 360px;
                        text-align: center;
                        height: 270px;
                        border-radius: 20px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
                        transition: all 0.3s ease-in-out;
                        padding: 30px 30px 30px 30px;
                        border: 2px solid transparent;

                        .achievedImg {
                            margin-bottom: 20px;
                            transition: all 0.3s ease-in-out;
                            height: 120px;
                            width: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                filter: grayscale(1);
                                transition: filter 0.3s ease-in-out;
                            }
                        }

                        .achievedContent {
                            .data {
                                h3{
                                    font-size: 34px;
                                    font-weight: 800;
                                    color: #e1f81c;
                                    transition: all 0.3s ease-in-out;
                                }
                                span{
                                    font-size: 20px;
                                    font-weight: 600;
                                    margin: 0px 0px 10px 0px;
                                    color: #F8F8FB;
                                    transition: all 0.3s ease-in-out;
                                }
                                p{
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin: 0;
                                    color: #ffffff;
                                    transition: all 0.3s ease-in-out;
                                }
                            }
                        }

                        &:hover {
                            background: #F8F8FB;
                            transform: scale(1.01);
                            transition: all 0.4s ease-in-out;
                            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
                            border-color: #010101;

                            .achievedImg {
                                img {
                                    filter: grayscale(0);
                                }
                            }
                            .achievedContent {
                                .data {
                                    h3{
                                        color: #010101;
                                    }
                                    span{
                                        color: #010101;
                                    }
                                    p{
                                        color: #010101;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .embla_container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 30px 0px 0px;
            position: absolute;
            top: -162px;
            right: 0px;

            div {
                cursor: pointer;
                height: 20px;
                transition: .3s linear;

                svg {
                    width: auto;
                    height: 16px;

                    h path {
                        fill: #000;
                    }
                }

                &:hover {
                    transition: .3s linear;

                    svg {
                        path {
                            fill: #4D77EE;
                        }
                    }
                }
            }

            .embla_prev {
                transform: rotate(-180deg);
                position: relative;
                top: 6px;
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .achievedSection {
        .embla {
            .embla__viewport {
                padding: 30px 0px;

                .embla__container {
                    margin-left: calc(20px * -1);

                    .embla__slide {
                        // flex: 0 0 20%;
                        padding-left: 20px;

                        .achievedCard {
                            width: 240px;
                            height: 300px;
                            padding: 20px 20px;

                            .achievedImg {
                                margin-bottom: 20px;
                                height: 120px;

                                img {
                                    height: 100px;
                                    width: auto;
                                }
                            }

                            .achievedContent {
                                .data {
                                    font-size: 16px;
                                    line-height: 26px;
                                    margin-bottom: 10px;

                                    span {
                                        margin-top: 10px;
                                        line-height: 24px;
                                        font-size: 15px;
                                    }
                                }
                            }

                            &:hover {
                                .achievedContent {
                                    .data {
                                        font-size: 25px;

                                        span {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .embla_container {
                gap: 20px;
                margin: 30px 0px 0px;
                top: -162px;

                div {
                    height: 20px;

                    svg {
                        height: 14px;
                    }
                }

                .embla_prev {
                    top: 6px;
                }
            }
        }



    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .achievedSection {
        .embla {
            .embla__viewport {
                padding: 20px 0px;

                .embla__container {
                    margin-left: calc(15px * -1);

                    .embla__slide {
                        flex: 0 0 auto;
                        padding-left: 15px;

                        .achievedCard {
                            width: 220px;
                            height: 280px;
                            padding: 20px 25px;

                            .achievedImg {
                                margin-bottom: 20px;
                                height: 90px;

                                img {
                                    height: 80px;
                                    width: auto;
                                }
                            }

                            .achievedContent {
                                .data {
                                    font-size: 15px;
                                    line-height: 24px;
                                    margin-bottom: 10px;

                                    span {
                                        margin-top: 10px;
                                        line-height: 20px;
                                        font-size: 13px;
                                    }
                                }
                            }

                            &:hover {
                                .achievedContent {
                                    .data {
                                        font-size: 20px;

                                        span {
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .embla_container {
                gap: 15px;
                margin: 30px 0px 0px;
                top: -162px;

                div {
                    height: 20px;

                    svg {
                        height: 12px;
                    }
                }

                .embla_prev {
                    top: 6px;
                }
            }
        }



    }
}


@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .achievedSection {
        .embla {
            .embla__viewport {
                padding: 20px 0px;

                .embla__container {
                    margin-left: calc(15px * -1);

                    .embla__slide {
                        flex: 0 0 20%;
                        padding-left: 15px;

                        .achievedCard {
                            width: 210px;
                            height: 260px;
                            padding: 20px 20px;

                            .achievedImg {
                                margin-bottom: 10px;
                                height: 100px;

                                img {
                                    height: 80px;
                                    width: auto;
                                }
                            }

                            .achievedContent {
                                .data {
                                    font-size: 15px;
                                    line-height: 24px;
                                    margin-bottom: 10px;

                                    span {
                                        margin-top: 10px;
                                        line-height: 20px;
                                        font-size: 13px;
                                    }
                                }
                            }

                            &:hover {
                                .achievedContent {
                                    .data {
                                        font-size: 18px;

                                        span {
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .embla_container {
                gap: 15px;
                margin: 30px 0px 0px;
                top: -140px;

                div {
                    height: 20px;

                    svg {
                        height: 12px;
                    }
                }

                .embla_prev {
                    top: 6px;
                }
            }
        }



    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {

    .achievedSection {
        .embla {
            .embla__viewport {
                padding: 20px 0px;

                .embla__container {
                    margin-left: calc(15px * -1);

                    .embla__slide {
                        flex: 0 0 25%;
                        padding-left: 15px;

                        .achievedCard {
                            width: auto;
                            min-width: 180px;
                            height: 260px;
                            padding: 20px 20px;

                            .achievedImg {
                                margin-bottom: 10px;
                                height: 100px;

                                img {
                                    height: 80px;
                                    width: auto;
                                }
                            }

                            .achievedContent {
                                .data {
                                    font-size: 15px;
                                    line-height: 24px;
                                    margin-bottom: 10px;

                                    span {
                                        margin-top: 10px;
                                        line-height: 20px;
                                        font-size: 13px;
                                    }
                                }
                            }

                            &:hover {
                                .achievedContent {
                                    .data {
                                        font-size: 18px;

                                        span {
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .embla_container {
                gap: 15px;
                margin: 30px 0px 0px;
                top: -140px;

                div {
                    height: 20px;

                    svg {
                        height: 12px;
                    }
                }

                .embla_prev {
                    top: 6px;
                }
            }
        }



    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .achievedSection {
        .embla {
            .embla__viewport {
                padding: 20px 0px;

                .embla__container {
                    margin-left: calc(15px * -1);

                    .embla__slide {
                        flex: 0 0 33.33%;
                        padding-left: 15px;

                        .achievedCard {
                            width: 100%;
                            min-width: 190px;
                            height: 250px;
                            padding: 20px 20px;

                            .achievedImg {
                                margin-bottom: 10px;
                                height: 100px;

                                img {
                                    height: 80px;
                                    width: auto;
                                }
                            }

                            .achievedContent {
                                .data {
                                    font-size: 15px;
                                    line-height: 24px;
                                    margin-bottom: 10px;

                                    span {
                                        margin-top: 10px;
                                        line-height: 20px;
                                        font-size: 13px;
                                    }
                                }
                            }

                            &:hover {
                                .achievedContent {
                                    .data {
                                        font-size: 18px;

                                        span {
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .embla_container {
                gap: 15px;
                margin: 30px 0px 0px;
                top: -140px;

                div {
                    height: 20px;

                    svg {
                        height: 12px;
                    }
                }

                .embla_prev {
                    top: 6px;
                }
            }
        }



    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .achievedSection {
        .embla {
            .embla__viewport {
                padding: 20px 0px;

                .embla__container {
                    margin-left: calc(15px * -1);

                    .embla__slide {
                        flex: 0 0 auto;
                        padding-left: 15px;

                        .achievedCard {
                            width: 100%;
                            width: 240px;
                            height: 250px;
                            padding: 20px 30px;

                            .achievedImg {
                                margin-bottom: 10px;
                                height: 100px;

                                img {
                                    height: 80px;
                                    width: auto;
                                }
                            }

                            .achievedContent {
                                .data {
                                    font-size: 15px;
                                    line-height: 24px;
                                    margin-bottom: 10px;

                                    span {
                                        margin-top: 10px;
                                        line-height: 20px;
                                        font-size: 13px;
                                    }
                                }
                            }

                            &:hover {
                                .achievedContent {
                                    .data {
                                        font-size: 18px;

                                        span {
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .embla_container {
                gap: 8px;
                margin: 0px;
                position: unset;
                width: 100%;

                div {
                    height: 20px;

                    svg {
                        height: 12px;
                    }
                }

                .embla_prev {
                    top: 6px;
                }
            }
        }



    }
}