.blogsSection {
    font-family: "Poppins", sans-serif;
    h2 {
        margin-bottom: 40px;
    }

    .blogBox {
        border: 1px solid #D7DDE2;
        box-shadow: 8px 15px 50px rgb(122 130 138 / 10%);
        padding: 15px 15px 20px;
        border-radius: 15px;

        .imgBox {
            position: relative;
            height: 216px;
            margin-bottom: 20px;

            img {
                border-radius: 15px;
            }
        }

        .category {
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            color: #4D77EE;
            margin-bottom: 5px;
        }

        h6 {
            a {
                font-size: 18px;
                line-height: 26px;
                font-weight: 600;
                margin-bottom: 10px;
                color: #000;
                transition: .3s linear;

                &:hover {
                    color: #4D77EE;
                    transition: .3s linear;
                }
            }
        }

        p {
            color: #707780;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
        }

        .btnBox {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .data {
                font-size: 16px;
                color: #9098A1;
                line-height: 22px;
                font-weight: 400;
            }

            .links {
                a {
                    font-size: 16px;
                    color: #000;
                    line-height: 22px;
                    font-weight: 600;
                    transition: .3s linear;

                    svg {
                        width: 16px;
                        height: auto;
                        margin-left: 5px;
                        transition: .3s linear;
                    }

                    &:hover {
                        color: #4D77EE;
                        transition: .3s linear;

                        svg {
                            path {
                                fill: #4D77EE;
                                transition: .3s linear;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .blogsSection {
        h2 {
            margin-bottom: 30px;
        }

        .blogBox {
            padding: 15px 15px 20px;

            .imgBox {
                height: 216px;
            }

            .category {
                font-size: 15px;
                margin-bottom: 5px;
            }

            h6 {
                a {
                    font-size: 17px;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }

            p {
                font-size: 15px;
                line-height: 22px;
            }

            .btnBox {
                .data {
                    font-size: 15px;
                    line-height: 22px;
                }

                .links {
                    a {
                        font-size: 15px;
                        line-height: 22px;

                        svg {
                            width: 15px;
                            margin-left: 5px;
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .blogsSection {
        h2 {
            margin-bottom: 30px;
        }

        .blogBox {
            padding: 15px 15px 20px;

            .imgBox {
                height: 216px;
            }

            .category {
                font-size: 15px;
                margin-bottom: 5px;
            }

            h6 {
                a {
                    font-size: 15px;
                    line-height: 22px;
                    margin-bottom: 10px;
                }
            }

            p {
                font-size: 14px;
                line-height: 22px;
            }

            .btnBox {
                .data {
                    font-size: 13px;
                    line-height: 22px;
                }

                .links {
                    a {
                        font-size: 13px;
                        line-height: 22px;

                        svg {
                            width: 14px;
                            margin-left: 5px;
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .blogsSection {
        h2 {
            margin-bottom: 30px;
        }

        .blogBox {
            padding: 10px 10px 15px;

            .imgBox {
                height: 180px;
            }

            .category {
                font-size: 14px;
                margin-bottom: 5px;
            }

            h6 {
                a {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 10px;
                }
            }

            p {
                font-size: 13px;
                line-height: 22px;
            }

            .btnBox {
                .data {
                    font-size: 12px;
                    line-height: 22px;
                }

                .links {
                    a {
                        font-size: 12px;
                        line-height: 22px;

                        svg {
                            width: 14px;
                            margin-left: 5px;
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .blogsSection {
        h2 {
            margin-bottom: 30px;
        }

        .blogBox {
            padding: 10px 10px 15px;

            .imgBox {
                height: 180px;
            }

            .category {
                font-size: 14px;
                margin-bottom: 5px;
            }

            h6 {
                a {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 10px;
                }
            }

            p {
                font-size: 13px;
                line-height: 22px;
            }

            .btnBox {
                .data {
                    font-size: 12px;
                    line-height: 22px;
                }

                .links {
                    a {
                        font-size: 12px;
                        line-height: 22px;

                        svg {
                            width: 14px;
                            margin-left: 5px;
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .blogsSection {
        h2 {
            margin-bottom: 30px;
        }

        .blogBox {
            padding: 10px 10px 15px;
            margin-bottom: 20px;

            .imgBox {
                height: 180px;
            }

            .category {
                font-size: 14px;
                margin-bottom: 5px;
            }

            h6 {
                a {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 10px;
                }
            }

            p {
                font-size: 13px;
                line-height: 22px;
            }

            .btnBox {
                .data {
                    font-size: 12px;
                    line-height: 22px;
                }

                .links {
                    a {
                        font-size: 12px;
                        line-height: 22px;

                        svg {
                            width: 14px;
                            margin-left: 5px;
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .blogsSection {
        h2 {
            margin-bottom: 30px;
        }

        .blogBox {
            padding: 10px 10px 15px;
            margin-bottom: 20px;

            .imgBox {
                height: 180px;
            }

            .category {
                font-size: 14px;
                margin-bottom: 5px;
            }

            h6 {
                a {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 10px;
                }
            }

            p {
                font-size: 13px;
                line-height: 22px;
            }

            .btnBox {
                .data {
                    font-size: 12px;
                    line-height: 22px;
                }

                .links {
                    a {
                        font-size: 12px;
                        line-height: 22px;

                        svg {
                            width: 14px;
                            margin-left: 5px;
                        }

                    }
                }
            }
        }
    }
}