.compareSection{
    padding: 100px 0px;

    .comapareSecText{
        text-align: center;
        padding-bottom: 5%;
    }
    .comapareSecTable{
        .red-bg {
            background: #de253a !important;
            color: #fff;
        }
        
    }
}