.locationSection {
  font-family: "Poppins", sans-serif;
  .embla {
    margin-top: 40px;
    max-width: 100%;
    position: relative;

    .embla__viewport {
      overflow: hidden;

      .embla__container {
        backface-visibility: hidden;
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(20px * -1);

        .embla__slide {
          min-width: 0;
          flex: 0 0 auto;
          margin-bottom: 100px;
          padding-left: 20px;

          .locationBox {
            border-radius: 16px;
            position: relative;
            cursor: pointer;
            width: 415px;

            .imgBox {
              position: relative;
              height: 475px;
              width: auto;

              img {
                border-radius: 16px;
              }

              .locationTitle {
                position: absolute;
                bottom: 30px;
                left: 30px;
                font-size: 46px;
                line-height: 56px;
                color: #fff;
                font-weight: 800;
                opacity: 1;
                transition: opacity 0.3s ease;
              }
            }

            .locationContent {
              opacity: 0;
              background-color: hsla(0, 0%, 100%, 0.3);
              backdrop-filter: blur(30px) brightness(1.5);
              -webkit-backdrop-filter: blur(30px) brightness(1.5);
              box-shadow: 8px 15px 50px rgb(122 130 138 / 16%);
              width: 390px;
              height: auto;
              padding: 15px;
              border-radius: 16px;
              position: absolute;
              z-index: 20;
              transition: opacity 0.3s ease, bottom 0.3s ease;
              bottom: -50px;
              right: -20px;

              .locOffice {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 5px;
                color: #fff;
                font-weight: 600;
              }

              .locState {
                font-size: 46px;
                line-height: 56px;
                margin-bottom: 10px;
                color: #fff;
                font-weight: 800;
              }

              .locAdd {
                a {
                  font-size: 16px;
                  line-height: 24px;
                  margin-bottom: 10px;
                  color: #fff;
                  font-weight: 500;
                  transition: 0.3s linear;
                  display: block;

                  &:hover {
                    transition: 0.3s linear;
                    color: #f32faf;
                  }
                }
              }

              ul {
                li {
                  margin-bottom: 5px;

                  a {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 5px;
                    color: #fff;
                    font-weight: 500;
                    transition: 0.3s linear;

                    svg {
                      margin-right: 10px;
                      width: 15px;
                      height: auto;
                      transition: 0.3s linear;
                    }

                    &:hover {
                      transition: 0.3s linear;
                      color: #f32faf;

                      svg {
                        transition: 0.3s linear;

                        path {
                          fill: #f32faf;
                        }
                      }
                    }
                  }
                }
              }
            }

            &:hover {
              .imgBox {
                .locationTitle {
                  opacity: 0;
                }
              }

              .locationContent {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .embla_container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 30px 0px 0px;
      position: absolute;
      top: -110px;
      right: 0px;

      div {
        cursor: pointer;
        height: 20px;
        transition: 0.3s linear;

        svg {
          width: auto;
          height: 20px;

          path {
            fill: #d5d5d5;
          }
        }

        &:hover {
          transition: 0.3s linear;

          svg {
            path {
              fill: #4d77ee;
            }
          }
        }
      }

      .embla_prev {
        transform: rotate(-180deg);
        position: relative;
        top: 6px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .locationSection {
    .embla {
      margin-top: 40px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            margin-bottom: 100px;
            padding-left: 20px;

            .locationBox {
              width: 385px;

              .imgBox {
                height: 475px;

                .locationTitle {
                  bottom: 30px;
                  left: 30px;
                  font-size: 40px;
                  line-height: 50px;
                }
              }

              .locationContent {
                width: 360px;
                padding: 15px;
                bottom: -50px;
                right: -20px;

                .locOffice {
                  font-size: 13px;
                  line-height: 20px;
                  margin-bottom: 5px;
                }

                .locState {
                  font-size: 40px;
                  line-height: 50px;
                  margin-bottom: 10px;
                }

                .locAdd {
                  font-size: 15px;
                  line-height: 22px;
                  margin-bottom: 10px;
                }

                ul {
                  li {
                    margin-bottom: 5px;

                    a {
                      font-size: 13px;
                      line-height: 20px;

                      svg {
                        margin-right: 10px;
                        width: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -110px;

        div {
          height: 20px;

          svg {
            height: 18px;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .locationSection {
    .embla {
      margin-top: 40px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            margin-bottom: 100px;
            padding-left: 20px;

            .locationBox {
              width: 355px;

              .imgBox {
                height: 450px;

                .locationTitle {
                  bottom: 30px;
                  left: 30px;
                  font-size: 38px;
                  line-height: 48px;
                }
              }

              .locationContent {
                width: 330px;
                padding: 15px;
                bottom: -50px;
                right: -20px;

                .locOffice {
                  font-size: 13px;
                  line-height: 20px;
                  margin-bottom: 5px;
                }

                .locState {
                  font-size: 38px;
                  line-height: 48px;
                  margin-bottom: 10px;
                }

                .locAdd {
                  font-size: 14px;
                  line-height: 22px;
                  margin-bottom: 10px;
                }

                ul {
                  li {
                    margin-bottom: 5px;

                    a {
                      font-size: 13px;
                      line-height: 20px;

                      svg {
                        margin-right: 10px;
                        width: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -110px;

        div {
          height: 20px;

          svg {
            height: 15px;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .locationSection {
    .embla {
      margin-top: 40px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            margin-bottom: 100px;
            padding-left: 20px;

            .locationBox {
              width: 325px;

              .imgBox {
                height: 430px;

                .locationTitle {
                  bottom: 30px;
                  left: 30px;
                  font-size: 35px;
                  line-height: 45px;
                }
              }

              .locationContent {
                width: 300px;
                padding: 15px;
                bottom: -50px;
                right: -20px;

                .locOffice {
                  font-size: 13px;
                  line-height: 20px;
                  margin-bottom: 0px;
                }

                .locState {
                  font-size: 35px;
                  line-height: 45px;
                  margin-bottom: 5px;
                }

                .locAdd {
                  font-size: 14px;
                  line-height: 22px;
                  margin-bottom: 5px;
                }

                ul {
                  li {
                    margin-bottom: 5px;

                    a {
                      font-size: 13px;
                      line-height: 20px;

                      svg {
                        margin-right: 10px;
                        width: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -100px;

        div {
          height: 20px;

          svg {
            height: 15px;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .locationSection {
    .embla {
      margin-top: 40px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            margin-bottom: 100px;
            padding-left: 20px;

            .locationBox {
              width: 325px;

              .imgBox {
                height: 430px;

                .locationTitle {
                  bottom: 30px;
                  left: 30px;
                  font-size: 35px;
                  line-height: 45px;
                }
              }

              .locationContent {
                width: 300px;
                padding: 15px;
                bottom: -50px;
                right: -20px;

                .locOffice {
                  font-size: 13px;
                  line-height: 20px;
                  margin-bottom: 0px;
                }

                .locState {
                  font-size: 35px;
                  line-height: 45px;
                  margin-bottom: 5px;
                }

                .locAdd {
                  font-size: 14px;
                  line-height: 22px;
                  margin-bottom: 5px;
                }

                ul {
                  li {
                    margin-bottom: 5px;

                    a {
                      font-size: 13px;
                      line-height: 20px;

                      svg {
                        margin-right: 10px;
                        width: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -100px;

        div {
          height: 20px;

          svg {
            height: 12px;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .locationSection {
    .embla {
      margin-top: 40px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            margin-bottom: 100px;
            padding-left: 20px;

            .locationBox {
              width: 300px;

              .imgBox {
                height: 430px;

                .locationTitle {
                  bottom: 30px;
                  left: 30px;
                  font-size: 30px;
                  line-height: 40px;
                }
              }

              .locationContent {
                width: 270px;
                padding: 15px;
                bottom: -50px;
                right: -20px;

                .locOffice {
                  font-size: 12px;
                  line-height: 20px;
                  margin-bottom: 0px;
                }

                .locState {
                  font-size: 30px;
                  line-height: 40px;
                  margin-bottom: 5px;
                }

                .locAdd {
                  font-size: 13px;
                  line-height: 22px;
                  margin-bottom: 5px;
                }

                ul {
                  li {
                    margin-bottom: 5px;

                    a {
                      font-size: 12px;
                      line-height: 20px;

                      svg {
                        margin-right: 10px;
                        width: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 20px;
        margin: 30px 0px 0px;
        top: -90px;

        div {
          height: 20px;

          svg {
            height: 12px;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .locationSection {
    .embla {
      margin-top: 20px;

      .embla__viewport {
        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            margin-bottom: 100px;
            padding-left: 20px;

            .locationBox {
              width: 300px;

              .imgBox {
                height: 380px;

                .locationTitle {
                  bottom: 30px;
                  left: 30px;
                  font-size: 30px;
                  line-height: 40px;
                }
              }

              .locationContent {
                width: 270px;
                padding: 15px;
                bottom: -50px;
                right: -10px;

                .locOffice {
                  font-size: 12px;
                  line-height: 20px;
                  margin-bottom: 0px;
                }

                .locState {
                  font-size: 30px;
                  line-height: 40px;
                  margin-bottom: 5px;
                }

                .locAdd {
                  font-size: 13px;
                  line-height: 22px;
                  margin-bottom: 5px;
                }

                ul {
                  li {
                    margin-bottom: 5px;

                    a {
                      font-size: 12px;
                      line-height: 20px;

                      svg {
                        margin-right: 10px;
                        width: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .embla_container {
        gap: 10px;
        margin: 30px 0px 0px;
        top: -80px;

        div {
          height: 20px;

          svg {
            height: 13px;
          }
        }

        .embla_prev {
          top: 6px;
        }
      }
    }
  }
}
