.metaverseSection {
    font-family: "Poppins", sans-serif;
    .embla {
        margin-top: 40px;
        max-width: 100%;
        position: relative;

        .embla__viewport {
            overflow: visible;

            .embla__container {
                backface-visibility: hidden;
                display: flex;
                touch-action: pan-y pinch-zoom;
                margin-left: calc(20px * -1);

                .embla__slide {
                    min-width: 0;
                    flex: 0 0 33.33%;
                    padding-left: 20px;

                    .metaverseItem {
                        position: relative;
                        overflow: hidden;

                        .imgBox {
                            height: 540px;

                            img {
                                border-radius: 15px;
                            }
                        }

                        .hoverContent {
                            width: 100%;
                            height: 100%;
                            background: rgba(255, 255, 255, 0.85);
                            background-color: hsla(0, 0%, 100%, .24);
                            backdrop-filter: blur(26px) brightness(1.2);
                            -webkit-backdrop-filter: blur(26px) brightness(1.2);
                            padding: 30px;
                            border-radius: 20px;
                            position: absolute;
                            top: 100%;
                            left: 0px;
                            opacity: 0;
                            transition: top 0.5s ease, opacity 0.5s ease;
                            z-index: 9;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                        }

                        &:hover {
                            .hoverContent {
                                top: 0;
                                opacity: 1;

                                h4 {
                                    color: #000;
                                }

                                p {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }

        .embla_container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 30px 0px 0px;
            position: absolute;
            top: -230px;
            right: 0px;

            div {
                cursor: pointer;
                height: 20px;
                transition: .3s linear;

                svg {
                    width: auto;
                    height: 20px;

                    path {
                        fill: #000;
                    }
                }

                &:hover {
                    transition: .3s linear;

                    svg {
                        path {
                            fill: #4D77EE;
                        }
                    }
                }
            }

            .embla_prev {
                transform: rotate(-180deg);
                position: relative;
                top: 6px;
            }
        }
    }
}