.offerSection {
  font-family: "Poppins", sans-serif;

  p {
    color: rgb(255, 255, 255, 60%);
    margin-bottom: 50px;
    a {
      color: rgb(255, 255, 255, 60%);
      transition: 0.3s linear;
      font-weight: 500;

      &:hover {
        color: rgb(255, 255, 255, 100%);
        transition: 0.3s linear;
      }
    }
  }

  .tabVertical {
    display: flex;
    margin-top: 40px;
    border-bottom: 1px solid #202020;
    padding-bottom: 100px;

    .tabTitle {
      flex: 0 0 50%;
      background: #292626;
      padding: 50px 30px;
      border-radius: 20px 0px 0px 20px;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        li {
          font-size: 20px;
          line-height: 55px;
          color: rgb(255, 255, 255, 40%);
          width: 100%;
          font-weight: 600;
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          cursor: pointer;

          .count {
            margin-right: 20px;
            height: 60px;
          }

          .title {
            border-bottom: 1px solid #707070;
            width: 100%;
            height: 60px;
          }

          &.active {
            color: #fff;

            .count {
              color: #e1f81c;
            }
          }
        }
      }
    }

    .tabContent {
      flex: 0 0 50%;
      background: #fff;
      padding: 20px 40px;
      border-radius: 0px 20px 20px 0px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      h4 {
        color: #000;
      }

      p {
        color: #707780;
        a {
          color: #585858;
          font-weight: 500;
          &:hover {
            transition: 0.3s linear;
            color: #4d77ee;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .offerSection {
    .tabVertical {
      margin-top: 40px;
      padding-bottom: 80px;

      .tabTitle {
        flex: 0 0 50%;
        padding: 50px 30px;

        ul {
          li {
            font-size: 18px;
            line-height: 55px;
            margin-bottom: 15px;

            .count {
              margin-right: 20px;
              height: 60px;
            }

            .title {
              height: 60px;
            }
          }
        }
      }

      .tabContent {
        flex: 0 0 50%;
        padding: 20px 40px;
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .offerSection {
    .tabVertical {
      margin-top: 30px;
      padding-bottom: 70px;

      .tabTitle {
        flex: 0 0 50%;
        padding: 40px 30px;

        ul {
          li {
            font-size: 16px;
            line-height: 55px;
            margin-bottom: 15px;

            .count {
              margin-right: 20px;
              height: 55px;
            }

            .title {
              height: 55px;
            }
          }
        }
      }

      .tabContent {
        flex: 0 0 50%;
        padding: 20px 40px;
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .offerSection {
    .tabVertical {
      margin-top: 30px;
      padding-bottom: 60px;

      .tabTitle {
        flex: 0 0 50%;
        padding: 30px 30px;

        ul {
          li {
            font-size: 16px;
            line-height: 55px;
            margin-bottom: 15px;

            .count {
              margin-right: 20px;
              height: 55px;
            }

            .title {
              height: 55px;
            }
          }
        }
      }

      .tabContent {
        flex: 0 0 50%;
        padding: 20px 40px;
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .offerSection {
    .tabVertical {
      margin-top: 30px;
      padding-bottom: 50px;

      .tabTitle {
        flex: 0 0 50%;
        padding: 30px 30px;

        ul {
          li {
            font-size: 16px;
            line-height: 55px;
            margin-bottom: 15px;

            .count {
              margin-right: 20px;
              height: 55px;
            }

            .title {
              height: 55px;
            }
          }
        }
      }

      .tabContent {
        flex: 0 0 50%;
        padding: 20px 40px;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .offerSection {
    .tabVertical {
      margin-top: 30px;
      padding-bottom: 50px;

      .tabTitle {
        flex: 0 0 50%;
        padding: 20px 20px;

        ul {
          li {
            font-size: 15px;
            line-height: 50px;
            margin-bottom: 0px;

            .count {
              margin-right: 20px;
              height: 50px;
            }

            .title {
              height: 50px;
            }
          }
        }
      }

      .tabContent {
        flex: 0 0 50%;
        padding: 20px 20px;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .offerSection {
    .tabVertical {
      margin-top: 20px;
      padding-bottom: 50px;
      flex-direction: column;

      .tabTitle {
        flex: 0 0 50%;
        padding: 20px 20px;
        border-radius: 20px 20px 0px 0px;

        ul {
          li {
            font-size: 15px;
            line-height: 50px;
            margin-bottom: 0px;

            .count {
              margin-right: 20px;
              height: 50px;
            }

            .title {
              height: 50px;
            }
          }
        }
      }

      .tabContent {
        flex: 0 0 50%;
        padding: 20px 20px;
        border-radius: 0px 0px 20px 20px;
      }
    }
  }
}
