.processSection {
  font-family: "Poppins", sans-serif;
  background: #000;

  h2 {
    color: #fff;
  }

  p {
    color: rgb(255, 255, 255, 60%);
    margin-bottom: 50px;
    a {
      color: rgb(255, 255, 255, 60%);
      transition: 0.3s linear;
      font-weight: 500;

      &:hover {
        color: rgb(255, 255, 255, 100%);
        transition: 0.3s linear;
      }
    }
  }

  .tabName {
    margin-bottom: 50px;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;

      li {
        height: 50px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
        color: #fff;
        cursor: pointer;
        transition: 0.3s linear;

        &:hover,
        &.active {
          background: #4d77ee;
          border: 1px solid #4d77ee;
          transition: 0.3s linear;
        }
      }
    }
  }

  .tabContent {
    .tabtxtBox {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #292626;
      padding: 30px;
      border-radius: 26px;

      .txtTitle {
        flex: 0 0 50%;
        padding-right: 50px;

        h4 {
          color: #fff;
        }

        p {
          color: rgb(255, 255, 255, 60%);
          margin-bottom: 20px;

          a {
            color: rgb(255, 255, 255, 60%);
            transition: 0.3s linear;
            font-weight: 500;

            &:hover {
              color: rgb(255, 255, 255, 100%);
              transition: 0.3s linear;
            }
          }
        }
      }

      .txtImg {
        flex: 0 0 50%;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .processSection {
    p {
      margin-bottom: 50px;
    }

    .tabName {
      margin-bottom: 50px;

      ul {
        li {
          height: 50px;

          font-size: 16px;
          padding: 0px 30px;
        }
      }
    }

    .tabContent {
      .tabtxtBox {
        padding: 30px;

        .txtTitle {
          flex: 0 0 50%;
          padding-right: 50px;
        }

        .txtImg {
          flex: 0 0 50%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .processSection {
    p {
      margin-bottom: 40px;
    }

    .tabName {
      margin-bottom: 50px;

      ul {
        li {
          height: 48px;
          font-size: 15px;
          padding: 0px 28px;
        }
      }
    }

    .tabContent {
      .tabtxtBox {
        padding: 30px;

        .txtTitle {
          flex: 0 0 50%;
          padding-right: 50px;
        }

        .txtImg {
          flex: 0 0 50%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .processSection {
    p {
      margin-bottom: 30px;
    }

    .tabName {
      margin-bottom: 40px;

      ul {
        li {
          height: 45px;
          font-size: 14px;
          padding: 0px 25px;
        }
      }
    }

    .tabContent {
      .tabtxtBox {
        padding: 30px;

        .txtTitle {
          flex: 0 0 50%;
          padding-right: 50px;
        }

        .txtImg {
          flex: 0 0 50%;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .processSection {
    p {
      margin-bottom: 20px;
    }

    .tabName {
      margin-bottom: 30px;

      ul {
        li {
          height: 40px;
          font-size: 13px;
          padding: 0px 20px;
        }
      }
    }

    .tabContent {
      .tabtxtBox {
        padding: 30px;

        .txtTitle {
          flex: 0 0 50%;
          padding-right: 30px;
        }

        .txtImg {
          flex: 0 0 50%;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .processSection {
    p {
      margin-bottom: 20px;
    }

    .tabName {
      margin-bottom: 30px;

      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        li {
          height: 40px;
          font-size: 13px;
          padding: 0px 20px;
        }
      }
    }

    .tabContent {
      .tabtxtBox {
        padding: 30px;

        .txtTitle {
          flex: 0 0 60%;
          padding-right: 0px;
        }

        .txtImg {
          flex: 0 0 40%;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .processSection {
    p {
      margin-bottom: 20px;
    }

    .tabName {
      margin-bottom: 20px;

      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        li {
          height: 40px;
          font-size: 13px;
          padding: 0px 25px;
        }
      }
    }

    .tabContent {
      .tabtxtBox {
        padding: 20px;
        flex-direction: column;

        .txtTitle {
          flex: 0 0 100%;
          padding-right: 0px;
        }

        .txtImg {
          flex: 0 0 100%;
          margin-top: 20px;
        }
      }
    }
  }
}
