.stackSection {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    padding: 100px 0px;

    .stackSecText{
        text-align: center;
        margin: 0px 0px 50px 0px;

        h2{
            width: 95%;
            margin: 0 auto 30px auto;
        }
        p{
            width: 80%;
            margin: 0 auto;
        }
    }

    .tabMain{
        background-color: #f6f6f6;

        .tabName {

            ul {
                display: flex;
                border: none;
                transform: translate(0px , 40px);
                padding: 0px 40px;

                li {
                    width: 16%;
                    margin: 0 auto;
                    background-color: #f6f6f6;
                    border-radius: 50px;
                    padding: 25px 20px;
                    color: #565656;
                    border: 5px solid #ffffff;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 25px;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.3s linear;

                    &:hover,
                    &.active {
                        background: #e1f81c;
                        transition: 0.3s linear;
                        color: #010101;
                    }
                }
            }
        }

        .tabContent {
            background-color: #ffffff;
            padding: 60px 30px 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            .tabPane{
                background-color: #f6f6f6;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                padding: 200px 150px 100px 150px;
                position: relative;

                ul{
                    display: flex;
                    flex-wrap: wrap;
                    place-content: center;

                    li.tabtxtBox {
                        padding: 10px 20px;
                        display: -webkit-box;
                        background-color: #ffffff;
                        box-shadow: 0px 10px 15px rgba(0,0,0,.09);
                        border-radius: 10px;
                        margin: 10px;
                        width: 23%;

                        h2{
                            position: absolute;
                            top: 100px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
        
                        .txtImg {
        
                            img {
                                margin: 5px 0 0;
                                max-width: 32px;
                            }
                        }
        
                        .txtTitle {
                            margin: 10px auto;
                        }
                    }
                }
            }

        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .stackSection {
        p {
            margin-bottom: 40px;
        }

        .tabName {
            margin-bottom: 40px;

            ul {
                gap: 25px;

                li {
                    height: 50px;
                    font-size: 16px;
                    padding: 0px 30px;
                }
            }

            .tabContent {
                .tabtxtBox {
                    margin-top: 30px;

                    .txtImg {
                        width: 125px;
                        height: 125px;
                        margin-bottom: 20px;

                        img {
                            height: 50px;
                        }
                    }

                    .txtTitle {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .stackSection {
        p {
            margin-bottom: 30px;
        }

        .tabName {
            margin-bottom: 30px;

            ul {
                gap: 20px;

                li {
                    height: 45px;
                    font-size: 15px;
                    padding: 0px 25px;
                }
            }

            .tabContent {
                .tabtxtBox {
                    margin-top: 20px;

                    .txtImg {
                        width: 120px;
                        height: 120px;
                        margin-bottom: 20px;

                        img {
                            height: 50px;
                        }
                    }

                    .txtTitle {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .stackSection {
        p {
            margin-bottom: 30px;
        }

        .tabName {
            margin-bottom: 30px;

            ul {
                gap: 20px;

                li {
                    height: 45px;
                    font-size: 14px;
                    padding: 0px 20px;
                }
            }
        }

        .tabContent {
            .tabtxtBox {
                margin-top: 20px;

                .txtImg {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 20px;

                    img {
                        height: 45px;
                    }
                }

                .txtTitle {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
    .stackSection {
        p {
            margin-bottom: 30px;
        }

        .tabName {
            margin-bottom: 30px;

            ul {
                gap: 10px;

                li {
                    height: 40px;
                    font-size: 14px;
                    padding: 0px 15px;
                }
            }
        }

        .tabContent {
            .tabtxtBox {
                margin-top: 10px;

                .txtImg {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 20px;

                    img {
                        height: 45px;
                    }
                }

                .txtTitle {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .stackSection {
        p {
            margin-bottom: 20px;
        }

        .tabName {
            margin-bottom: 20px;

            ul {
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;

                li {
                    height: 40px;
                    font-size: 14px;
                    padding: 0px 20px;
                }
            }
        }

        .tabContent {
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;

            .tabtxtBox {
                margin-top: 20px;

                .txtImg {
                    width: 90px;
                    height: 90px;
                    margin-bottom: 20px;

                    img {
                        height: 30px;
                    }
                }

                .txtTitle {
                    font-size: 13px;
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .stackSection {
        p {
            margin-bottom: 20px;
        }

        .tabName {
            margin-bottom: 20px;

            ul {
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;

                li {
                    height: 40px;
                    font-size: 14px;
                    padding: 0px 20px;
                }
            }
        }

        .tabContent {
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;

            .tabtxtBox {
                margin-top: 10px;

                .txtImg {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 10px;

                    img {
                        height: 30px;
                    }
                }

                .txtTitle {
                    font-size: 13px;
                }
            }
        }
    }
}