.reviewsSection {
    font-family: "Poppins", sans-serif;
    .reviewsBox {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0px;

        img {
            height: 65px;
            width: auto;
            padding: 0px 0px 0px 50px;
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .reviewsSection {
        .reviewsBox {
            img {
                height: 55px;
                padding: 0px 0px 0px 40px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .reviewsSection {
        .reviewsBox {
            img {
                height: 50px;
                padding: 0px 0px 0px 35px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .reviewsSection {
        .reviewsBox {
            img {
                height: 55px;
                padding: 0px 0px 0px 35px;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .reviewsSection {
        .reviewsBox {
            img {
                height: 55px;
                padding: 0px 0px 0px 30px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .reviewsSection {
        .reviewsBox {
            margin-top: 30px;
            justify-content: space-around;


            img {
                height: 40px;
                padding: 0px 0px 0px 0px;
            }
        }
    }
}