.futureSec {
    padding: 80px 0;
    height: 100%;
    position: relative;
    background: #fff;
    z-index: 99;
    overflow: hidden;
}

.futureSec h2 {
    font-size: 40px;
    line-height: 53px;
    font-weight: bold;
    margin-bottom: 17px;
    color: black;
}

.futureSec h2 span {
    color: #F32F53;
}

.futureSec p {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 40px;
    padding-right: 16px;
    color: black;
    width: 95%;
}

.card {
    position: relative;
    background: #000;
    border-radius: 15px;
    padding: 20px;
    padding: 20px;
    transition: all ease-in-out 0.4s;
    height: 100%;
}

.card:hover {
    background: linear-gradient(to bottom right, #4A78EF, #F32FC2, #F32F53);
    transition: all ease-in-out 0.4s;
}

.iosCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    background-image: url(../../public/newmobileapp/ios.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.andriodCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    background-image: url(../../public/newmobileapp/andriod.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.nativeCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    background-image: url(../../public/newmobileapp/native.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.flutterCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    background-image: url(../../public/newmobileapp/flutter.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.crossCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    background-image: url(../../public/newmobileapp/cross.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.webdevelopmentCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    background-image: url(../../public/newmobileapp/webdevelopment.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.cardTop {
    display: flex;
    align-items: center;
    gap: 40px;
}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    margin-bottom: 0;
}

.card p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 20px;
    padding-right: 3px;
    color: white;
}

.btn {
    display: block;
    margin-left: auto;
    width: max-content;
}

.btn a {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    padding: 0 20px;
    width: max-content;
    height: 35px;
    border-radius: 6px;
    background: #F32F53;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover .btn a {
    background: #000;
    transition: all ease-in-out 0.4s;
}

/* Media Query Start */

@media only screen and (max-width: 1399px) {
    .card p {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .futureSec {
        padding: 50px 0 0;
    }

    .card p {
        font-size: 14px;
        line-height: 20px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 567px) {

    .futureSec {
        padding: 50px 0;
    }

    .futureSec h2 {
        font-size: 32px;
        line-height: 1.3;
    }

    .futureSec p {
        font-size: 14px;
        line-height: 24px;
        padding-right: 0px;
    }

    .card {
        min-height: 263px;
    }
}