.header {
    height: 67px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: none;
    position: relative;
    z-index: 9999;
}

.neuport {
    margin-top: 30%;
}

.header.trans {
    background-color: transparent;
}

.header.trans .inqBtn a {
    background-color: transparent;
}

.navLogo {
    margin-left: 15px;
    width: 13%;
}

.navBar {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu li {
    height: 100%;
    display: flex;
}

.megpost li {
    height: 6.5%;
}

.menu li a {
    color: #fff;
    height: 100%;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    transition: all 0.4s ease-in-out;
}

.menu li a:hover {
    background-color: #272727;
    color: #fff;
}

.megaList1:hover .megaLink,
.megaList2:hover .megaLink,
.megaList3:hover .megaLink,
.megaList4:hover .megaLink {
    background-color: #272727;
    color: #fff;
}

.megaList1 .megaMenu1,
.megaList2 .megaMenu2,
.megaList3 .megaMenu3,
.megaList4 .megaMenu4 {
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 2;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 12px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.4s ease-in-out;
    border-image: linear-gradient(90deg, #f32f5e, #4a78ef) 30;
    border-width: 2px;
    border-style: solid;
    border-top: 2px solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    z-index: 9999;
}

.megaList1:hover .megaMenu1,
.megaList2:hover .megaMenu2,
.megaList3:hover .megaMenu3,
.megaList4:hover .megaMenu4 {
    display: block;
    animation: 0.7s ease-in-out forwards growDown;
    transform-origin: top;
}

.header .download {
    color: white;
    height: unset;
    padding: unset;
    font-size: 14px;
    font-weight: 400;
    display: unset;
    align-items: unset;
    gap: unset;
    text-transform: unset;
    font-family: "Montserrat", sans-serif;
    transition: all 0.4s ease-in-out;
}

.header .listBody .download:hover {
    background-color: transparent !important;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}

.megaMenu1 {
    padding: 30px 20px;
}

.megaMenu2 {
    padding: 30px 20px;
}

.megaRow {
    row-gap: 30px;
}

.listHeading {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
    width: 100%;
    border-image: linear-gradient(90deg, #f32f5e, #4a78ef) 30;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-bottom: 2px solid;
    border-left: 0;
    border-right: 0;
}

.listHeading h5 {
    color: #fff;
}

.megaIcon {
    max-height: 24px;
}

.listHeading img {
    max-height: 22px;
}

.listImg {
    text-align: center;
    background-color: #1c1c1cc2;
    padding: 20px;
    border-radius: 10px;
    height: 375px;
}

.listImg img {
    width: 85%;
}

.listBody ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    background-color: #1c1c1cc2;
    gap: 20px;
    border-radius: 10px;
    height: 520px;
}

.listBody ul li {
    width: 100%;
}

.listBody ul li a {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 0;
    color: #ccc;
    position: relative;
    width: 100%;
}

.listBody ul li a:hover {
    background-color: transparent !important;
}

.listBody ul li span {
    font-size: 11px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    border-bottom: 1px solid #a7a7a7;
    width: 100%;
}

.listBody p {
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    color: #ccc;
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
}

.listMain2 {
    background-color: #141414;
    border-radius: 10px;
}

.megaMenu3 .megaRow {
    padding: 20px 20px;
}

.megaMenu3 .listMain2 {
    padding: 30px;
}

.listMain2 .listBody ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.listMain2 .listBody ul li a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.listMain2 .listBody ul li a span {
    color: #fff;
}

.listMain2 .listBody ul li a img {
    filter: invert(1);
    width: 28px;
}

.megaMenu4 {
    padding: 40px 20px;
}

.megaMenu4 .megaRow {
    row-gap: 60px;
}

.boxSpace {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1c1c1cc2;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}

.workBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px 0;
    border-bottom: 1px solid #a7a7a7;
}

.lastBox {
    border: 0;
}

.workBox img {
    width: 40px;
    height: 40px;
}

.ourWork {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.ourWork .workTitle {
    padding: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}

.realDummy {
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.cntct {
    row-gap: 10px;
}

.fill {
    display: flex;
    gap: 15px;
    margin-bottom: 2%;
    align-items: center;
}

.ourWork .fill a {
    color: #fff;
    padding: 0;
    font-size: 16px;
}

.ourWork .fill svg {
    color: #fff;
    width: 15px;
}

.megaRow a:hover {
    background-color: #000 !important;
}

.navTogle,
.backArrow {
    display: none;
}

.inqBtn a {
    color: #fff !important;
    transition: all 0.5s ease-in-out;
    background-color: #e83468;
}

.menu .inqBtn a:hover {
    transition: background-color 2s;
    background-color: #000;
}

.mblLogo,
.mbInq {
    display: none;
}

.cross {
    position: absolute;
    top: -1.5%;
    right: -1.5%;
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border-radius: 50px;
    font-weight: bolder;
    font-family: Poppins;
    cursor: pointer;
    border: 1px solid #ff004a;
    background-color: #ff004a;
}

.gameApp img {
    filter: invert(0);
}

.imgCol {
    padding: 20px 20px 20px 0;
}

.megaMenu2 .listBody ul {
    height: 375px;
}

.header {
    display: none;
}

/* ===============Media Queries================ */

@media screen and (max-width: 1600px) {
    .neuport {
        margin-top: 19%;
    }

    .listBody ul {
        height: 415px;
    }

    .listImg,
    .megaMenu2 .listBody ul {
        height: 340px;
    }
}

@media screen and (min-width: 1440px) {

    .megaMenu1,
    .megaMenu2,
    .megaMenu3 {
        height: auto;
    }
}

@media screen and (max-width: 1440px) {
    .listBody ul {
        height: 370px;
    }

    .listImg,
    .megaMenu2 .listBody ul {
        height: 300px;
    }

    .megaMenu4 {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 1366px) {
    .megaMenu1 {
        height: 90vh;
    }

    .megaMenu3 {
        height: 70vh;
    }
}

@media screen and (max-width: 1280px) {
    .menu li a {
        padding: 0 20px;
        font-size: 15px;
    }
}

@media screen and (max-width: 991px) {
    .header {
        display: flex;
    }

    .navBar {
        position: unset;
    }

    .megaMenu1,
    .megaMenu2,
    .megaMenu3 {
        height: 85vh;
    }

    .megaMenu4 {
        height: 75vh;
    }

    .listMain2 {
        height: 85vh;
    }

    .resList {
        margin-top: 10px;
    }

    .listImg img {
        margin-top: 0;
    }

    .listBody ul,
    .listImg,
    .megaMenu2 .listBody ul,
    .boxSpace {
        height: auto;
    }

    .cross {
        top: -6%;
        right: -3%;
    }

    .header {
        padding: 0 15px;
    }

    .navLogo {
        margin-left: 0px;
        width: 30%;
    }

    .navLogo.mblLogo {
        display: block;
        margin-bottom: 0;
        z-index: 9999;
        margin-top: -10px;
        width: 50%;
        margin-bottom: 50px;
    }

    .navBar {
        box-shadow: none;
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 85%;
        z-index: 9;
        height: 100vh;
        padding: 20px 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        background-color: #272727;
        transition: all 0.5s ease-in-out;
        z-index: 9999;
    }

    .menu.active {
        left: 0;
    }

    .menu li a svg {
        font-size: 16px;
    }

    .menu .navList {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 12px;
    }

    .menu .inqBtn {
        border-bottom: 0px;
        padding-bottom: 0;
    }

    .menu .inqBtn a {
        justify-content: center;
        height: 60px;
    }

    .menu .inqBtn a:hover {
        transition: background-color 2s;
        background-color: #000;
        border: 1px solid #fff;
    }

    .menu li a {
        font-size: 16px;
        color: #fff;
        padding: 0 12px;
    }

    .megaList1 .megaMenu1,
    .megaList2 .megaMenu2,
    .megaList3 .megaMenu3,
    .megaList4 .megaMenu4 {
        display: block;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        opacity: 1;
        transition: all 0.7s ease-in-out;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .megaList1:hover .megaMenu1,
    .megaList2:hover .megaMenu2,
    .megaList3:hover .megaMenu3,
    .megaList4:hover .megaMenu4 {
        display: unset;
        animation: unset;
        transform-origin: unset;
    }

    .megaMenu1.opnMenu1,
    .megaMenu2.opnMenu2,
    .megaMenu3.opnMenu3,
    .megaMenu4.opnMenu4 {
        left: 0%;
    }

    .listBody ul li span {
        font-size: 12px;
    }

    .listBody p {
        font-size: 16px;
        margin-top: 10px;
    }

    .listHeading h5 {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .listHeading img {
        max-height: unset;
    }

    .listMain2 .listBody ul li a img {
        width: auto;
    }

    .listImg img {
        width: 100%;
    }

    .listMain2 {
        height: 100%;
    }

    .navTogle {
        display: block;
    }

    .navTogle .line {
        background-color: #000;
        width: 30px;
        height: 3px;
        display: block;
        margin: 6px auto;
        transition: 0.5s ease-in-out;
    }

    .navTogle .line.line1 {
        transform: translateY(10px) rotate(45deg);
        position: absolute;
        top: 13px;
        right: 15px;
    }

    .navTogle .line.line2 {
        display: none;
    }

    .navTogle .line.line3 {
        transform: translateY(-9px) rotate(-45deg);
        margin-top: 20px;
    }

    .backArrow {
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 1;
        filter: invert(1);
    }

    .backArrow img {
        width: 25px;
        height: 25px;
    }

    .ourWork .workTitle {
        font-size: 12px;
    }

    .realDummy {
        font-size: 14px;
    }

    .megaMenu4 .megaRow {
        row-gap: 20px;
    }

    .megaMenu4 {
        padding: 0;
    }

    .megaRow {
        padding: 20px 20px;
    }

    .megaRow {
        row-gap: 20px;
    }

    .boxSpace {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0 20px;
    }

    .mbInq {
        margin-top: 20px;
        display: block;
    }

    .mbInq .ourWork .fill a {
        font-size: 14px;
    }

    .mbInq .ourWork .fill svg {
        width: 15px;
        margin-bottom: 2px;
    }

    .workBox img {
        width: 30px;
        height: 25px;
    }
}

@media screen and (max-width: 767px) {
    .cross {
        top: -10%;
        right: -5%;
    }
}

@media screen and (max-width: 480px) {
    .navLogo {
        width: 60%;
    }
}