.bannerSec {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bannerOne {
  /* background-image: url(../../public/services/service-bg.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 170px 0 100px;
}

.bannerTwo {
  background: #2E2E2E;
  padding: 130px 0 175px;
  height: 115vh !important;
  /* margin-top: -80px; */
}

.bannerTwo .firstPara {
  font-size: 20px;
  background: linear-gradient(to right, #4A78EF 20%, #F32FC2, #F32F53 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bannerOne .firstPara {
  font-size: 20px;
  background: linear-gradient(to right, #4A78EF 0%, #F32FC2 18%, #F32F53 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bannerSec h1 {
  font-size: 50px;
  line-height: 68px;
}

/* =================== */

.bannerform {
  height: 100%;
  width: 95%;
  margin: 50px auto;
  border-image: linear-gradient(0deg, #f32f5e, #4a78ef) 30;
  border-width: 2px;
  border-style: solid;
  border-bottom: 0px;
  position: relative;
}

.bannerform1 {
  height: 100%;
  width: 95%;
  margin: 50px auto;
  border-image: linear-gradient(0deg, #f32f5e, #4a78ef) 30;
  border-width: 2px;
  border-style: solid;
  border-bottom: 0px;
  position: relative;
  margin-top: 0;
}

.discuss {
  justify-content: space-between;
  height: 75px;
  align-items: center;
  padding-left: 35px;
  padding-right: 30px;
}

.formsbanner .forminput {
  background-color: #000;
  border: 1px solid #707070;
  height: 50px;
  width: 100%;
  border-radius: unset;
  margin-bottom: 4%;
  padding-left: 2%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.formsbanner .forminput::placeholder {
  color: #9f9f9f;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-weight: 200;
  font-family: "SF-Pro-Display-Regular", sans-serif;
  letter-spacing: 1px;
}

.formsbanner .forminput:focus-visible,
.formsbanner .formarea:focus-visible {
  outline: none;
}

.formsbanner .formarea::placeholder {
  color: #9f9f9f;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-weight: 200;
  font-family: "SF-Pro-Display-Regular", sans-serif;
  letter-spacing: 1px;
}

.formsbanner .formarea {
  background-color: #000;
  border: 1px solid #707070;
  height: 115px;
  width: 100%;
  border-radius: unset;
  margin-bottom: 2%;
  padding-left: 2%;
  padding-top: 2%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  resize: none;
}

.take p {
  color: #707070;
}

.take p span {
  color: #959595;
  font-weight: 700;
}

.locations {
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}

.locInner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subInner {
  display: flex;
  flex-direction: column;
}

.subInner p {
  color: #707070;
}

@-moz-document url-prefix() {
  .menu::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(183deg, #4a78ef, #eb335b 65%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: add, add;
    -webkit-mask-composite: exclude;
    margin-top: 1%;
    margin-left: 1%;
  }
}

.newAddress {
  background-color: #000;
  padding-bottom: 150px;
}

.address2d {
  padding-bottom: 0px;
  padding-top: 150px;
}

.appios {
  border-image: linear-gradient(0deg, #f32f5e, #4a78ef) 30;
  border-width: 2px;
  border-style: solid;
  padding: 40px 40px 20px;
}

.your {
  border-radius: 22px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 40px;
  padding-bottom: 50px;
  background: linear-gradient(to top, #f32f53, #f32fc2, #4a78ef);
  width: 65%;
  margin-left: auto;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.your::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2px 2px 2px;
  border-radius: 22px;
  /* background: linear-gradient(var(--angle), #f32f5e, #4a78ef); */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  background: linear-gradient(var(--angle), #f32f5e, #4a78ef, #f32f5e);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: rotate 10s linear infinite;
  z-index: -1;
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }

  100% {
    --angle: 360deg;
  }
}

.your h3 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  line-height: 33px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}

.your h3::after {
  content: "";
  height: 1px;
  width: 82%;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.your p {
  font-size: 15px !important;
  line-height: 20px;
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 1px;
}

.your input {
  height: 45px;
  border: 1px solid #4a78ef;
  background-color: white;
  border-radius: 9px;
  color: black;
  padding-left: 15px;
}

.your .vehicle1 {
  height: unset !important;
  border: inherit !important;
  background-color: unset !important;
  border-radius: unset !important;
  color: white;
  backdrop-filter: unset !important;
  padding-right: unset !important;
  margin-top: 0% !important;
}

.your label {
  padding-left: 8px;
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.your input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 200;
  font-family: "SF-Pro-Display-Regular", sans-serif;
  letter-spacing: 1px;
}

.your textarea {
  height: 115px;
  border: 1px solid #4a78ef;
  background-color: white;
  border-radius: 9px;
  color: black;
  padding-left: 15px;
  resize: none;
}

.your textarea::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 200;
  font-family: "SF-Pro-Display-Regular", sans-serif;
  letter-spacing: 1px;
  padding-top: 5px;
}

.your .value {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.value {
  border: 0;
  background-color: #000000;
  width: max-content;
  padding: 0 15px;
  height: 45px;
  border-radius: 6px;
  box-shadow: 0 5px 12px #00000075;
}

.your textarea:focus,
.your input:focus {
  background-color: white;
  border: 1px solid #4a78ef;
  color: black;
}

.badge {
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 700px;
}

.clientRviews {
  width: 500px;
}

.badge p {
  font-size: 14px;
  color: black;
  line-height: 19px;
  width: 185px;
  margin-top: 10px;
  margin-bottom: 0 !important;
  text-align: center;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.demoBtn {
  background: #F32F53;
  border-radius: 6px;
  width: max-content;
  height: 45px;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px 5px #00000021;
}

.portfolioBtn {
  background: #fff;
  border-radius: 6px;
  width: 182px;
  height: 45px;
  color: black;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px 5px #00000021;
}

.moveLogos {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  right: 0;
}

.moveLogos img {
  opacity: 0.6;
}

._rows1,
._rows3 {
  display: flex;
  justify-content: space-around;
}

._rows2,
._rows4 {
  display: flex;
  justify-content: space-between;
}

@keyframes moveIcons {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(30px, 30px);
  }
}

.iconMove {
  animation: moveIcons 1s ease-in-out infinite alternate;
}

/* =========================================== */

@media only screen and (max-width: 1920px) {
  .bannerOne {
    height: 100%;
  }

  .bannerTwo {
    height: 110vh !important;
  }

  .applost {
    padding: 0px 0 0px;
  }

  .your p {
    font-size: 17px;
  }

  .your {
    width: 70%;
  }
}

@media screen and (min-width: 1700px) {

  .conform h1 {
    font-size: 50px;
  }

  .your input {
    height: 55px;
  }

  .your textarea {
    height: 110px;
  }

  .oppp p {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
  }

  .appios {
    max-width: 1750px;
  }
}

@media screen and (max-width: 1799px) {
  .bannerOne {
    height: 100%;
  }

  .applost {
    padding: 120px 0 100px;
  }

  .conform h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1600px) {
  .appios {
    max-width: 1400px;
  }
}

@media screen and (max-width: 1599px) {
  .posty {
    display: flex;
    gap: 50px;
    margin-top: 2%;
  }

  .deliver {
    width: 245px;
    height: 45px;
  }

  .oppp p {
    margin-top: 10px !important;
    margin-bottom: 25px !important;
  }

  .comple1 p,
  .comple5 p {
    color: white;
    font-size: 11px;
  }

  /* .conform h2 {
    font-size: 45px;
    line-height: 1.2;
  } */

  .postimg {
    max-width: 65%;
    margin-top: 5%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1499px) {
  .oppp h1 {
    font-size: 45px;
    line-height: 50px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1399px) {
  .moveLogos img {
    width: 55%;
    height: 45%;
    object-fit: contain;
  }

  .BannerThree p br {
    display: none;
  }

  .BannerThree img:last-of-type {
    /* width: 80%; */
    margin-left: auto;
  }

  .bannerSec h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .bannerOne .firstPara {
    font-size: 18px;
    margin-bottom: 0 !important;
  }

  .bannerTwo .firstPara {
    font-size: 18px;
    margin-bottom: 0 !important;
  }

  .your {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .your p {
    font-size: 14px !important;
  }

  .applost {
    padding: 190px 0;
  }

  .your p {
    font-size: 14px;
  }

  .your {
    width: 80%;
  }

  .clientRviews {
    width: 330px;
  }

  .clients {
    width: 40%;
    height: 40%;
  }

  .clients img {
    width: 100%;
    height: 100%;
  }

  /* .partnersImage {
    width: 80%;
    height: 80%;
  }

  .partnersImage img {
    width: 100%;
    height: 100%;
  } */
}

@media screen and (max-width: 1280px) {
  .bannerSec {
    height: 100%;
    padding: 90px 0;
  }

  .your {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .applost {
    padding: 0px 0;
  }

  .your h3 {
    font-size: 22px;
    line-height: 32px;
  }

  .comple1 p,
  .comple5 p {
    color: white;
    font-size: 20px;
  }

  .oppp p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px !important;
    margin-bottom: 45px !important;
  }

  .postimg img {
    transform: unset;
  }

  .secImage {
    width: 80%;
    object-fit: contain;
    max-height: 320px;
  }

  .badge {
    width: 672px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .oppp p {
    padding-right: 0;
    margin-bottom: 14px !important;
  }
}

@media screen and (max-width: 1099px) {
  /* .BannerThree img:last-of-type {
    width: 100%;
  } */

  .your {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .bannerSec h1 {
    font-size: 35px;
    line-height: 40px;
  }

  .bannerOne .firstPara {
    font-size: 16px;
  }

  .bannerTwo .firstPara {
    font-size: 16px;
  }

  .demoBtn {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolioBtn {
    width: 155px;
    font-size: 14px;
    line-height: 20px;
  }

  .your h3 {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 6px;
  }

  .your label {
    font-size: 10px;
  }

  .your .value {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .bannerTwo {
    height: 90vh !important;
  }

  .bannerSec {
    padding-bottom: 50px;
  }

  .bannerSec::after {
    z-index: -1;
  }

  .your {
    margin-top: 35px;
  }

  .applost {
    padding: 0;
  }

  .comple1 p,
  .comple5 p {
    color: white;
    font-size: 16px;
  }

  .oppp h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .postimg {
    max-width: 100%;
    margin-top: 5%;
    margin-left: 0%;
    text-align: center;
  }

  .postimg img {
    transform: unset;
  }

  .just {
    font-size: 18px;
    line-height: 28px;
  }

  .just2 {
    font-size: 24px;
    line-height: 34px;
  }

  .DubaiBanner h3 {
    font-size: 40px;
    line-height: 50px;
  }

  .secImage {
    width: 100%;
    max-height: 100%;
    margin-top: 0px;
  }

  .take p {
    font-size: 16px;
  }

  .read {
    padding-left: 0px;
    margin-top: 50px;
  }

  .read .free {
    margin-bottom: 40px;
  }

  .read .free p {
    font-size: 20px;
  }

  .locations {
    padding: 0 20px;
  }

  .locations .locInner {
    justify-content: center;
  }

  .appios {
    max-width: 720px;
  }

  .newAddress {
    padding-bottom: 50px;
  }

  .address2d {
    padding-bottom: 0px;
    padding-top: 50px;
  }

  .bannerSec {
    height: auto;
    padding-bottom: 70px;
  }

  .applost {
    position: sticky;
    width: 100%;
  }

  .badge {
    flex-wrap: inherit;
  }
}

@media screen and (max-width: 767px) {
  .comple1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: self-start;
    text-align: left;
  }

  .comple {
    display: flex;
    gap: 10px;
    margin-top: 8%;
    flex-direction: column;
    align-items: flex-start;
  }

  .posty {
    display: flex;
    gap: 47px;
    margin-top: 11%;
    flex-direction: column;
  }

  .DubaiBanner h3 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
  }

  .just {
    font-size: 18px;
  }

  .book,
  .about {
    font-size: 14px;
    font-weight: 200;
    font-family: "SF-Pro-Display-Regular", sans-serif;
    letter-spacing: 1px;
  }

  .secImage {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .read {
    margin-top: 35px;
  }

  .take p {
    font-size: 14px;
  }

  .read .free {
    margin-bottom: 20px;
    text-align: center;
  }

  .read .free p {
    font-size: 14px;
  }

  .locations .locInner {
    justify-content: flex-start;
    gap: 10px;
  }

  .appios {
    max-width: 370px;
    padding: 40px 25px;
  }

  .oppp p {
    padding-right: 0;
  }

  .badge {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 30px;
    padding: 0 10px;
  }

  .clientRviews {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .badge {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 567px) {
  .bannerOne {
    background-image: none;
  }

  .bannerTwo {
    height: 100vh !important;
  }

  .bannerSec {
    padding: 50px 0;
  }

  .moveLogos {
    justify-content: space-evenly;
  }

  .bannerSec h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .newpound {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .deliver span {
    width: 100%;
  }

  .DubaiBanner {
    padding-top: 40px;
  }

  .newpound {
    flex-wrap: wrap;
  }

  .conform h1 {
    font-size: 32px;
    line-height: 1.3;
    padding-right: 0;
  }

  .newpound h4 {
    font-size: 20px;
  }

  .DubaiBanner h3 {
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
    margin-top: 0;
  }

  .your .value {
    width: 100%;
    justify-content: center;
    gap: 10px;
  }

  .postimg img {
    transform: unset;
    margin-top: 10%;
  }

  .oppp p {
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
    margin-top: 10px !important;
    margin-bottom: 45px !important;
    padding-right: 0;
  }

  .deliver {
    width: 100%;
    height: 45px;
  }
}