.caseSec {
    margin-top: -250px;
}


/* Media Query Start */

@media only screen and (max-width: 1299px) {
    .caseSec {
        margin-top: -150px;
        position: relative;
        z-index: 999;
    }
}

@media only screen and (max-width: 576px) {
    .caseSec {
        margin-top: -150px;
    }
}