.provideserv {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.providecustom {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.providecustom .create {
  width: unset;
}
.deve {
  background-color: black;
}
.provideserv::before {
  position: absolute;
  content: "";
  background-image: url(../../public/newiconimg/bg-image.png);
  background-position: center 75%;
  background-size: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.providecustom::before {
  position: absolute;
  content: "";
  background-image: url(../../public/newiconimg/bg-image.png);
  background-position: center 55%;
  background-size: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.deve {
  display: flex;
  border: 2px solid #3d3d3d;
  border-radius: 20px;
  width: 100%;
  height: 250px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.deve:hover {
  background-color: #f32f53;
}

@media screen and (max-width: 991px) {
  .provideserv {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .providecustom {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .newsize p {
    font-size: 20px;
  }
  .provideserv {
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .providecustom {
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
