.TestimonialItem {
    padding: 80px 0px 0px;
    font-family: "Poppins", sans-serif;

    .starClass {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        svg {
            margin-right: 5px;
        }
    }

    .testContent {
        font-size: 36px;
        font-weight: 500;
        line-height: 50px;
        margin-bottom: 40px;
        padding: 0px 0px 50px;
        border-bottom: 1px solid #9098A1;
        text-align: left;
        color: #000;
    }

    .testProfile {
        display: flex;
        align-items: center;

        .ImgBox {
            margin-right: 20px;

            img {
                border-radius: 100%;
                height: 80px;
                width: auto;
            }
        }

        .ImgTitle {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            color: #000;

            span {
                color: #717171;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                display: block;
            }
        }
    }
}

// .svgIcon {
//     position: absolute;
//     right: 0px;
//     bottom: 0px;
//     z-index: 9;
//     background: #fff;
//     width: 250px;
// }

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .TestimonialItem {
        padding: 70px 0px 0px;

        .starClass {
            margin-bottom: 40px;
        }

        .testContent {
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 30px;
            padding: 0px 0px 40px;
        }

        .testProfile {
            .ImgBox {
                margin-right: 20px;

                img {
                    height: 80px;
                }
            }

            .ImgTitle {
                font-size: 20px;
                line-height: 28px;

                span {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .TestimonialItem {
        padding: 60px 0px 0px;

        .starClass {
            margin-bottom: 30px;
        }

        .testContent {
            font-size: 28px;
            font-weight: 500;
            line-height: 38px;
            padding: 0px 0px 30px;
            margin-bottom: 20px;
        }

        .testProfile {
            .ImgBox {
                margin-right: 20px;

                img {
                    height: 70px;
                }
            }

            .ImgTitle {
                font-size: 18px;
                line-height: 26px;

                span {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .TestimonialItem {
        padding: 50px 0px 0px;

        .starClass {
            margin-bottom: 30px;
        }

        .testContent {
            font-size: 26px;
            font-weight: 500;
            line-height: 36px;
            padding: 0px 0px 30px;
            margin-bottom: 20px;
        }

        .testProfile {
            .ImgBox {
                margin-right: 20px;

                img {
                    height: 65px;
                }
            }

            .ImgTitle {
                font-size: 17px;
                line-height: 26px;

                span {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .TestimonialItem {
        padding: 50px 0px 0px;

        .starClass {
            margin-bottom: 30px;
        }

        .testContent {
            font-size: 26px;
            font-weight: 500;
            line-height: 36px;
            padding: 0px 0px 30px;
            margin-bottom: 20px;
        }

        .testProfile {
            .ImgBox {
                margin-right: 20px;

                img {
                    height: 65px;
                }
            }

            .ImgTitle {
                font-size: 17px;
                line-height: 26px;

                span {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .TestimonialItem {
        padding: 50px 0px 0px;

        .starClass {
            margin-bottom: 20px;

            svg {
                width: 16px;
            }
        }

        .testContent {
            font-size: 22px;
            font-weight: 500;
            line-height: 34px;
            padding: 0px 0px 20px;
            margin-bottom: 20px;
        }

        .testProfile {
            .ImgBox {
                margin-right: 20px;

                img {
                    height: 65px;
                }
            }

            .ImgTitle {
                font-size: 17px;
                line-height: 26px;

                span {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .TestimonialItem {
        padding: 40px 0px 0px;

        .starClass {
            margin-bottom: 20px;

            svg {
                width: 16px;
            }
        }

        .testContent {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            padding: 0px 0px 20px;
            margin-bottom: 20px;
        }

        .testProfile {
            .ImgBox {
                margin-right: 15px;

                img {
                    height: 60px;
                }
            }

            .ImgTitle {
                font-size: 16px;
                line-height: 26px;

                span {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }
    }
}