.appideaSection {
    font-family: "Poppins", sans-serif;
    .boxItem {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;

        &::before {
            content: '';
            background: #F6F6F6;
            border-radius: 26px 0px 0px 26px;
            width: 140%;
            height: 380px;
            position: absolute;
            left: 0px;
            top: 50%;
            z-index: -1;
            transform: translate(0px, -50%);
        }

        h2 {
            margin-bottom: 0px;
            width: 100%;
            text-align: left;
            line-height: normal;
        }

        .custumTitle {
            font-size: 96px;
            line-height: normal;
            font-weight: 800;
            color: #000;
            margin-top: -20px;

            span {
                color: #F6F6F6;
                position: relative;
                padding: 0px 10px;

                &::before {
                    content: '';
                    // background: rgb(74, 120, 239);
                    background: linear-gradient(90deg, rgba(74, 120, 239, 1) 0%, rgba(243, 47, 194, 1) 50%, rgba(243, 47, 83, 1) 100%);
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    filter: blur(15px);
                }
            }


        }
    }

    .ideaBox {
        background: #fff;
        box-shadow: 3px 8px 21px rgb(0 0 0 / 16%);
        max-width: 450px;
        padding: 30px;
        border-radius: 30px;

        h5 {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .appideaSection {
        .boxItem {
            padding: 50px;

            &::before {
                border-radius: 26px 0px 0px 26px;
                width: 140%;
                height: 380px;
                left: 0px;
                top: 50%;
            }

            .custumTitle {
                font-size: 96px;
                margin-top: -20px;

                span {
                    padding: 0px 10px;

                    &::before {
                        border-radius: 100px;
                    }
                }


            }
        }

        .ideaBox {
            max-width: 450px;
            padding: 30px;

            h5 {
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .appideaSection {
        .boxItem {
            padding: 50px;

            &::before {
                border-radius: 26px 0px 0px 26px;
                width: 140%;
                height: 380px;
                left: 0px;
                top: 50%;
            }

            .custumTitle {
                font-size: 86px;
                margin-top: -20px;

                span {
                    padding: 0px 10px;

                    &::before {
                        border-radius: 100px;
                    }
                }

            }
        }

        .ideaBox {
            max-width: 450px;
            padding: 30px;

            h5 {
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .appideaSection {
        .boxItem {
            padding: 50px;

            &::before {
                border-radius: 26px 0px 0px 26px;
                width: 140%;
                height: 380px;
                left: 0px;
                top: 50%;
            }

            .custumTitle {
                font-size: 80px;
                margin-top: -20px;

                span {
                    padding: 0px 10px;

                    &::before {
                        border-radius: 100px;
                    }
                }

            }
        }

        .ideaBox {
            max-width: 450px;
            padding: 30px;

            h5 {
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .appideaSection {
        .boxItem {
            padding: 50px;

            &::before {
                border-radius: 26px 0px 0px 26px;
                width: 140%;
                height: 380px;
                left: 0px;
                top: 50%;
            }

            .custumTitle {
                font-size: 56px;
                margin-top: -20px;

                span {
                    padding: 0px 10px;

                    &::before {
                        border-radius: 100px;
                    }
                }

            }
        }

        .ideaBox {
            max-width: 450px;
            padding: 30px;

            h5 {
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .appideaSection {
        .boxItem {
            padding: 20px 20px;

            &::before {
                border-radius: 26px 0px 0px 26px;
                width: 140%;
                height: 380px;
                left: 0px;
                top: 50%;
            }

            .custumTitle {
                font-size: 50px;
                margin-top: 10px;

                span {
                    padding: 0px 10px;

                    &::before {
                        border-radius: 100px;
                    }
                }

            }
        }

        .ideaBox {
            max-width: 450px;
            padding: 30px;

            h5 {
                margin-bottom: 30px;
            }
        }
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .appideaSection {
        padding-top: 50px;

        .boxItem {
            padding: 0px 30px 30px;
            h2 {
                text-align: center;
            }

            &::before {
                display: none;
            }

            .custumTitle {
                font-size: 41px;
                margin-top: 10px;
                margin: auto;

                span {
                    padding: 0px 10px;

                    &::before {
                        border-radius: 100px;
                    }
                }

            }
        }

        .ideaBox {
            max-width: 450px;
            padding: 30px;
            margin: auto;

            h5 {
                margin-bottom: 30px;
            }
        }
    }
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
    .appideaSection {
        padding-top: 50px;

        .boxItem {
            padding: 0px 30px 30px;

            &::before {
                display: none;
            }

            .custumTitle {
                font-size: 41px;
                margin-top: 10px;

                span {
                    padding: 0px 10px;

                    &::before {
                        border-radius: 100px;
                    }
                }

            }
        }

        .ideaBox {
            max-width: 450px;
            padding: 30px;

            h5 {
                margin-bottom: 30px;
            }
        }
    }
}