.sidebar h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 37px;
}

.navigations {
  border-radius: 10px;
  background: white;
  margin-bottom: 45px;
  padding-top: 20px;
}

.mainHeading {
  background: #000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 15px 0;
  cursor: pointer;
}

.active {
  position: relative;
  color: #e1f81c;
}

.active::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0;
  left: 0;
  background: #f32f53;
}

.mainHeading h3 {
  font-size: 28px;
  line-height: 38px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-family: "SF-Pro-Display", sans-serif;
}

.navigations ul {
  padding: 0;
  border: 1px solid #bfbfbf;
  background-color: #f3f3f3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "SF-Pro-Display", sans-serif;
}

.services ul li::before,
.articles ul li::before,
.navigations ul li::before {
  position: inherit;
  content: none;
}

.navigations ul li:not(:last-child) {
  border-bottom: 1px solid #bfbfbf;
}

.navigations ul li a {
  position: relative;
  font-size: 17px;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 0.6px;
  width: 100%;
  display: block;
  padding: 15px 25px;
  font-family: "SF-Pro-Display", sans-serif;
}

.articles {
  margin-bottom: 60px;
}

.articles h3 {
  margin-bottom: 60px;
  font-family: "SF-Pro-Display", sans-serif;
}

.articles ul {
  padding: 0;
  font-family: "SF-Pro-Display", sans-serif;
}

.articles ul li {
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 3px;
  margin-bottom: 30px;
}

.articles ul li p {
  font-size: 16px;
  line-height: 20px;
  color: #f32f53;
  margin-bottom: 12px;
  font-family: "SF-Pro-Display", sans-serif;
}

.articles ul li h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-family: "SF-Pro-Display", sans-serif;
}

.sidebar a {
  color: #212529;
  font-family: "SF-Pro-Display", sans-serif;
}

.services ul {
  padding: 0;
}

.services ul li {
  margin-bottom: 20px;
  background: #f3f3f3;
  border-radius: 40px;
  padding: 10px 30px;
  width: max-content;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.noList li::before,
.navHeadings li::before {
  display: none;
}

/*============ Media Queries ============*/

@media only screen and (max-width: 1299px) {
  .navigations ul li a {
    font-size: 14px;
    line-height: 18px;
  }

  .navigations ul li {
    padding: 0px 0px;
  }

  .articles ul li h6 {
    font-size: 17px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 1099px) {
  .sidebar {
    width: 100%;
  }
  .navigations ul li {
    padding: 0px 0px;
  }
  .navigations ul li a{
    padding: 10px 10px;
  }
}

@media only screen and (max-width: 991px) {
  .sidebar {
    padding-top: 50px;
  }
  .navigations ul li a{
    padding: 10px 10px;
  }
  .services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 30px;
  }
}
