.blogListBody {
  height: 55vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogListBody h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.bttns1:hover {
  transition: background-color 2s;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

/* =================================== */

.postList {
  background-color: #000;
  border-top: 1px solid #fff;
}

.banImg {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blogCategory {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 30px;
}

.blogTitle a {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.blogDesciption p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.detailDate {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.ctaBtn {
  font-size: 12px;
  padding: 15px 10px;
  border: unset;
  color: #000;
  display: block;
  max-width: 100%;
  min-width: 230px;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 1px;
  background-color: #fff;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  box-shadow: #e83468 2px 2px 29px 0;
}

.ctaImg {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url(../public/images/blogBanners/cta.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.platForm .subTitle {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 8px;
}

.platForm .title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.platForm .para {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.arrowBtn {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: left;
  color: #fff;
}

.arrowBtn>span {
  margin-right: 8px;
  transition: 0.4s;
}

.arrowBtn:hover>span {
  margin-right: 30px;
}

.arrowBtn>img {
  display: inline-block;
  margin: unset;
  filter: invert(1);
}

.loadMore {
  background: #000;
  color: white;
  box-shadow: 0px 3px 25px rgba(65, 59, 59, 0.75);
  border-radius: 4px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 55px auto 0;
}

.loadMore:hover {
  transition: background-color 2s;
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

/* ============================================= */

@media screen and (max-width: 991px) {
  .blogListBody {
    padding: 50px 0 25px;
    border-bottom: 1px solid #b8b8b8;
  }

  .blogRow {
    border-bottom: 1px solid #b8b8b8;
    padding: 20px 0;
  }

  .blogTitle a {
    font-size: 24px;
    line-height: 32px;
  }

  .blogDesciption p {
    font-size: 15px;
  }

  .platForm .subTitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .cardCntnt {
    margin-top: 25px;
  }

  .platForm .para {
    font-size: 16px;
  }

  .arrowBtn {
    font-size: 16px;
  }
}