.trandubai {
    padding-bottom: 100px;
    padding-top: 100px;
}

.newtsl {
    align-items: flex-end;
}

.level {
    box-shadow: rgb(0 0 0 / 9%) 0px 3px 8px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.level input[type="text"] {
    height: 52px;
    width: 50%;
    background-color: #f3f3f3;
    border: unset;
    border-radius: 6px;
    padding-left: 20px;
}

.level input[type="tel"] {
    height: 52px;
    width: 50%;
    background-color: #f3f3f3;
    border: unset;
    border-radius: 6px;
    padding-left: 20px;
}

.level input[type="Email"] {
    height: 52px;
    width: 50%;
    background-color: #f3f3f3;
    border: unset;
    border-radius: 6px;
    padding-left: 20px;
}

.message {
    height: 120px;
    width: 100%;
    background-color: #f3f3f3;
    border: unset;
    border-radius: 6px;
    padding-left: 20px;
    padding-top: 15px;
    resize: none;
}

.chill {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.level .message::placeholder {
    color: #000000;
    font-size: 14px;
    font-family: "SF-Pro-Display";
}

.level input[type="text"]::placeholder {
    color: #000000;
    font-size: 14px;
    font-family: "SF-Pro-Display";
}

.level input[type="email"]::placeholder {
    color: #000000;
    font-size: 14px;
    font-family: "SF-Pro-Display";
}

.level input[type="tel"]::placeholder {
    color: #000000;
    font-size: 14px;
    font-family: "SF-Pro-Display";
}

.level h3 {
    font-family: "SF-Pro-Display";
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
    padding-bottom: 15px;
}

.level h3 span {
    color: #f32f53;
}

.level input[type="submit"] {
    width: 190px;
    height: 45px;
    background-color: #f32f53;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    border: unset;
    margin-bottom: 0;
}

.imgtoken img {
    position: relative;
    height: auto;
}

@media screen and (max-width: 1499px) {
    .level {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 1200px) {
    .level {
        box-shadow: rgb(0 0 0 / 9%) 0px 3px 8px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 991px) {
    .trandubai {
        padding-top: 70px;
    }

    .imgtoken img {
        width: auto;
        position: unset;
        left: unset;
        display: block;
        margin: auto;
    }

    .level {
        border-radius: 25px;
        padding: 25px;
    }
}

@media screen and (max-width: 767px) {
    .level h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .trandubai {
        padding: 50px 0;
    }

    .level input[type="text"] {
        width: 100%;
    }

    .level input[type="email"] {
        width: 100%;
    }

    .level input[type="tel"] {
        width: 100%;
    }

    .chill {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        flex-direction: column;
    }

    .imgtoken img {
        width: 100%;
    }

    .level h3 {
        font-size: 32px;
        line-height: 1.3;
        text-align: center;
    }

    .level input[type="submit"] {
        width: 100%;
    }
}