.screen {
  background-color: #000;
  padding: 20px 0 45px;
  height: 94vh;
  display: flex;
  align-items: center;
}

.height {
  height: auto;
}

/* =============================== */

.progressBar {
  display: flex;
  margin-bottom: 15px;
  gap: 32px;
}

.bar {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  width: 15%;
  position: relative;
}

.bar::before {
  content: "";
  position: absolute;
  top: 12%;
  left: 70%;
  width: 100%;
  border-bottom: 2px dotted #fff;
}

.barLast::before {
  display: none;
}

.bar.done::before {
  border-bottom: 2px dotted #f22f53;
}

.bar span {
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 100%;
  border: 2px solid #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar.done span {
  background-color: #f22f53;
  border: #f22f53;
}

.bar.active span {
  border-color: #f22f53;
}

.bar span .check {
  display: none;
}

.bar.done .check {
  width: 60%;
  display: block;
}

.progressBar .bar p {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

/* =============================== */

.checkCol {
  /* height: 530px; */
  height: 895px;
  overflow-y: scroll;
}

.checkCol h3 {
  font-size: 20px;
  font-weight: 500;
  color: #f22f53;
  margin-bottom: 10px;
  margin-top: 40px;
  letter-spacing: 1px;
}

.checkCol h3:first-child {
  margin-top: 0;
}

.checkCol p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0px;
}

.checkCol h5 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.checkBoxs p {
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.checkBox:first-child {
  margin-top: 0;
}

.checkboxInput {
  display: none;
}

.checkboxLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
  background-color: #fff;
  margin: 15px 0;
  padding: 20px 20px;
  border-left: 4px solid #f22f53;
  cursor: pointer;
}

.checkboxLabel::before {
  content: "\2713";
  font-size: 16px;
  color: white;
  display: block;
  text-align: center;
  line-height: 20px;
  width: 25px;
  height: 25px;
  border: 2px solid #d2d2d2;
  position: absolute;
  right: 2%;
  top: 35%;
}

.checkBox input[type="checkbox"]:checked + .checkboxLabel::before {
  background-color: #f22f53;
  border: 2px solid #fff;
}

.checkBox input[type="checkbox"]:checked + .checkboxLabel {
  background-color: #f22f53;
}

.checkboxContent {
  flex: 1;
}

.checkBox h4 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.checkBox p {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  max-width: 75%;
}

.checkBox input[type="checkbox"]:checked + .checkboxLabel h4,
.checkBox input[type="checkbox"]:checked + .checkboxLabel p {
  color: #fff;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 57%;
}

.btns .btnPrev,
.btns .btnNext,
.btns .bttns1 {
  border: 0;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

.btnPrev {
  background-color: #e2e2e2;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnNext {
  background-color: #f22f53;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bttns1 {
  background-color: #f22f53;
  color: #fff;
}

/* =============================== */

.checkBoxs2 {
  width: 100%;
}

.checkBoxs2 .forCheckBox,
.checkBoxs3 .forCheckBox {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.checkBoxs2 .checkBox {
  width: 48%;
}

.checkBoxs2 .checkboxLabel {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.checkBoxs2 .costBox1 {
  width: 100%;
}

.checkBoxs2 .imgBox {
  display: block;
  width: 10%;
}

.checkBoxs2 .imgBox3 {
  width: 8%;
}

.checkBoxs2 .checkboxLabel::before {
  right: 5%;
  top: 8%;
}

.checkBoxs2 .checkBox h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.checkBoxs2 .checkBox p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  max-width: 80%;
}

.checkBoxs2 .checkBox .cost {
  font-size: 24px;
  font-weight: 600;
  color: #f22f53;
  text-align: right;
  max-width: 100%;
  margin-top: 20px;
}

.checkBoxs2 .costBox1 p {
  max-width: 100%;
}

.checkBox.checked .cost {
  color: #fff;
}

.checkBoxs2 .forCheckBox2 .checkBox {
  width: 100%;
}

.checkBoxs2 .forCheckBox2 .checkBox .checkboxLabel {
  height: auto;
  padding-bottom: 30px;
}

.checkBoxs2 .forCheckBox2 .checkBox .checkboxLabel h6 {
  font-weight: 600;
  letter-spacing: 1px;
}

.forCheckBox2 .listBox2 {
  padding-left: 25px;
  margin: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 0;
}

.forCheckBox2 .listBox2 li {
  width: 50%;
  font-size: 15px;
  font-weight: 300;
  list-style-type: disc;
}

.forCheckBox2 .listBox2 li span {
  color: #f22f53;
}

.checkBox input[type="checkbox"]:checked + .checkboxLabel h6,
.checkBox input[type="checkbox"]:checked + .checkboxLabel .listBox2 li span {
  color: #fff;
}

.checkBoxs2 .forCheckBox3 .checkBox {
  width: 100%;
}

.checkBoxs2 .forCheckBox3 .checkBox .checkboxLabel {
  height: auto;
}

.checkBoxs2 .forCheckBox3 .checkboxLabel::before {
  right: 2%;
  top: 35%;
}

/* =============================== */

.checkBoxs3 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.checkBoxs3 .checkBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.checkBoxs3 .imgBox {
  width: 12%;
}

.checkBoxs3 .checkboxLabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  margin-top: 5px !important;
}

.checkBoxs3 .checkboxLabel::before {
  right: 5%;
  top: 3%;
}

.checkBoxs3 .checkBox h4 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.checkBoxs3 .checkBox p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  max-width: 55%;
}

.checkBoxs3 .checkBox .cost {
  font-size: 35px;
  font-weight: 600;
  color: #f22f53;
  text-align: right;
  max-width: 100%;
  margin-bottom: 0;
}

.checkBoxs3 .costBox2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 5%;
  top: 12%;
}

.checkBoxs3 .costBox2 p {
  max-width: 100%;
  text-align: right;
  color: #f22f53;
  position: absolute;
  right: 0%;
  bottom: -20%;
}

.checkBoxs3 .costBox2 .cost {
  position: unset;
}

/* ============ */

.checkBoxs3 .costBox3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.costBox4 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 50px 0;
  width: 50%;
}

.checkBoxs3 .headBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.checkBoxs3 .headBox img {
  width: 8%;
}

.checkBoxs3 .headBox .imgMock {
  width: 12%;
}

.checkBoxs3 .costBox4 h5 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0;
}

.checkBoxs3 .costBox4 ul {
  margin-top: 20px;
  padding-left: 20px;
}

.checkBoxs3 .costBox4 ul li {
  list-style-type: disc;
  margin: 5px 0;
}

.checkBox input[type="checkbox"]:checked + .checkboxLabel h5,
.checkBox input[type="checkbox"]:checked + .checkboxLabel ul li {
  color: #fff;
}

.checkBox input[type="checkbox"]:checked + .checkboxLabel .headBox img {
  filter: invert(1);
}

/* =============================== */

.checkBoxs4 {
  height: auto;
  overflow-y: auto;
  margin-top: 15px;
}

.checkBoxs4 .forCheckBox {
  display: none;
}

.checkBoxs4 .fromBox {
  display: block;
}

.checkCol h2 {
  font-size: 24px;
  font-weight: 600;
  color: #f22f53;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  letter-spacing: 1px;
}

.estimateForm input,
.estimateForm textarea {
  width: 100%;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: transparent;
}

.estimateForm textarea {
  height: 100px;
  resize: none;
  padding-top: 10px;
}

/* =============================== */

.imgCol {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.para {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
}

.imgCol p {
  color: #000;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}

.imgBg {
  width: 50%;
  padding: 5px;
  background-color: #000;
  border-radius: 25px;
}

/* =============================== */

.selected {
  padding: 20px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  background-color: #484848;
}

.selected h4 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}

.features ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0;
}

.features li {
  color: #fff;
  font-size: 12px;
  text-align: left;
  font-weight: 300;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.features ol li:nth-child(3n + 1) {
  grid-column-start: 1;
}

.features ol li:nth-child(3n + 2) {
  grid-column-start: 2;
}

.features ol li:nth-child(3n + 3) {
  grid-column-start: 3;
}

/* =============================== */

@media screen and (max-width: 1699px) {
  .screen {
    height: 93.8vh;
  }

  .checkCol {
    height: 850px;
  }
}

@media screen and (max-width: 1599px) {
  .screen {
    height: auto;
  }

  .checkCol {
    height: 530px;
  }
}

@media screen and (max-width: 1499px) {
  .screen {
    height: 92.8vh;
  }

  .checkCol {
    height: 730px;
  }

  .bar::before {
    left: 68%;
    padding: 0 45px;
  }
}

@media screen and (max-width: 1399px) {
  .screen {
    height: 91.5vh;
  }

  .checkCol {
    height: 580px;
  }
}

@media screen and (max-width: 1299px) {
  .screen {
    height: 91.9vh;
    padding-bottom: 80px;
  }

  .checkCol {
    height: 630px;
  }

  .progressBar .bar p {
    font-size: 10px;
  }

  /* .imgBg {
    width: 55%;
    height: 370px;
  } */
}

@media screen and (max-width: 1099px) {
  .screen {
    height: auto;
    padding-bottom: 83px;
  }

  .calRow {
    flex-direction: column;
  }

  .col1 {
    width: 100%;
  }

  .col2 {
    display: none;
  }

  .checkCol {
    height: 600px;
  }

  .pading {
    padding-left: 0 !important;
  }

  .progressBar .bar p {
    font-size: 10px;
  }

  .imgCol {
    width: 100%;
  }

  .btns {
    left: -10px;
    width: 100%;
  }

  /* .imgBg {
    width: 55%;
    height: 370px;
  } */
}

@media screen and (max-width: 767px) {
  .progressBar {
    display: none;
  }

  .checkCol h3 {
    font-size: 24px;
  }

  .checkCol p {
    font-size: 16px;
  }

  .checkBox h4 {
    font-size: 22px;
  }

  .checkBox p {
    font-size: 15px;
    max-width: 92%;
  }

  .checkBoxs2 .checkBox {
    width: 100%;
  }

  .forCheckBox2 .listBox2 {
    flex-direction: column;
  }

  .forCheckBox2 .listBox2 li {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    list-style-type: disc;
  }

  .checkBoxs3 .imgBox {
    width: 25%;
  }
  .checkBoxs3 .checkBox p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    max-width: 100%;
  }

  .checkBoxs3 .costBox2 {
    top: 7%;
  }

  .checkBoxs3 .checkBox .cost {
    font-size: 30px;
    margin-bottom: 4px;
  }

  .costBox4 {
    margin-top: 15px;
    width: 100%;
  }

  .costBox4 ul {
    margin-top: 15px;
  }

  .checkBoxs3 .headBox img {
    width: 12%;
  }

  .checkBoxs3 .headBox .imgMock {
    width: 20%;
  }
}
