.counter {
  padding-top: 0px;
  padding-bottom: 90px;
}

.counter h2 {
  font-size: 55px;
  line-height: 60px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin: 0 auto 15px;
}

.counter p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.counter p span {
  color: #f32f53;
  font-weight: bold;
}

.counter .btn {
  width: fit-content;
  height: 45px;
  padding: 0 10px;
  background-color: #f32f53;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  margin: 35px auto 0;
}

.btn {
  background-color: #f32f53;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin: 0;
  text-align: center;
}

/* Media Query Start */

@media only screen and (max-width: 1399px) {
  .counter h2 {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 1024px) {
  .counter h2 {
    font-size: 50px;
    line-height: 60px;
    margin: 0 auto 0px;
  }

  .counter p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  .counter h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .counter {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  .counter h2 {
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: 0;
  }

  .counter p {
    font-size: 16px;
    line-height: 24px;
  }

  .counter {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
