.mobileApplicationSec {
  padding: 80px 0;
  background-image: url(../public/newdubai/dubaimobile-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mobileApplicationSec h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 55px;
  color: white;
  margin-bottom: 20px;
}

.mobileApplicationSec p {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 23px;
  color: white;
}

.btn {
  background: #000;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  width: 246px;
  height: 45px;
  margin-top: 35px;
}

.btn a {
  color: white;
}

.reviewMain {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.review1 {
  position: absolute;
  left: 50%;
  bottom: 12%;
  width: 40%;
  transition: all 0.5s ease-in-out;
}

.review2 {
  position: absolute;
  left: 5%;
  top: 14%;
  width: 38%;
  transition: all 0.5s ease-in-out;
}

.reviewMain:hover .review1 {
  transition: all 0.5s ease-in-out;
  left: 52%;
}

.reviewMain:hover .review2 {
  transition: all 0.5s ease-in-out;
  left: 2%;
}

/* Media Query Start */
@media only screen and (max-width: 1399px) {
  .mobileApplicationSec h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
  }

  .mobileApplicationSec p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 23px;
    color: white;
  }
}

@media only screen and (max-width: 1024px) {
  .mobileApplicationSec h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .mobileApplicationSec p {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 18px;
  }

  .btn {
    font-size: 12px;
    letter-spacing: 1px;
    width: 205px;
    height: 40px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .mobileApplicationSec h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .mobileApplicationSec p {
    font-size: 16px;
  }

  .btn {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 567px) {
  .mobileApplicationSec {
    padding: 50px 0;
  }

  .mobileApplicationSec h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .mobileApplicationSec p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }
}