.DubaiDelivered {
  padding: 80px 0;
  background: #000;
  position: relative;
  height: 100vh;
  /* display: flex;
  align-items: center; */
  overflow: hidden;
}

.DubaiDelivered h2 {
  font-size: 45px;
  text-align: center;
  font-weight: 500;
  line-height: 54px;
  color: white;
  margin-bottom: 20px;
}

.DubaiDelivered p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: 300;
}

.btn {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn button {
  color: white;
  letter-spacing: 2px;
  background-color: #f32f53;
  border-radius: 4px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 50px;
  padding: 0 20px;
  border: 0;
}

.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) !important;
  width: 62%;
}

.cross {
  position: absolute;
  top: -1.5%;
  right: -1.5%;
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  border-radius: 50px;
  font-weight: bolder;
  font-family: Poppins;
  cursor: pointer;
  border: 1px solid #ff004a;
  background-color: #ff004a;
}

/* Images */

.imageOne {
  position: absolute;
  top: 0;
  left: 0;
}

.imageTwo {
  position: absolute;
  bottom: 0;
  left: 0;
}

.imageThree {
  position: absolute;
  top: 0;
  right: 0;
}

.imageFour {
  position: absolute;
  right: 0;
  bottom: 0;
}

.secImageFour {
  max-height: 400px;
}

/* media Query start */

@media only screen and (max-width: 1599px) {

  .txt h2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1399px) {
  .DubaiDelivered h2 {
    font-size: 40px;
    line-height: 45px;
    max-width: 900px;
    margin: 0 auto 15px;
    display: block;
  }

  .secImageTwo {
    max-height: 445px;
    max-width: 500px;
  }

  .secImage,
  .secImageFour {
    max-height: 345px;
    max-width: 345px;
  }
}

@media only screen and (max-width: 1280px) {
  .secImage {
    max-width: 290px;
    min-width: 290px;
  }

  .secImageTwo {
    max-width: 420px;
    min-width: 420px;
  }

  .secImageThree {
    max-width: 250px;
    min-width: 250px;
  }

  .secImageFour {
    max-width: 270px;
    min-width: 270px;
  }
}

@media only screen and (max-width: 1024px) {
  .DubaiDelivered {
    height: 100vh;
  }

  .secImage {
    max-width: 250px;
    min-width: 255px;
  }

  .secImageTwo {
    max-width: 376px;
    min-width: 321px;
    margin-top: 40px;
  }

  .txt h2 {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .particleOne {
    display: none;
  }

  .particleThree {
    display: none;
  }

  .particleTwo {
    display: none;
  }

  .particleFour {
    display: none;
  }

  .DubaiDelivered {
    height: auto;
  }

  .DubaiDelivered h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .txt {
    position: inherit;
    width: 100%;
    transform: inherit !important;
  }
}

@media only screen and (max-width: 767px) {
  .DubaiDelivered h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .DubaiDelivered p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 567px) {
  .DubaiDelivered {
    padding: 50px 0;
  }

  .DubaiDelivered h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .DubaiDelivered p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .btn {
    padding-top: 30px;
  }
}