.awardSec {
  padding: 50px 0;
  background: linear-gradient(to bottom, #ed017b 0, #ed1644 100%);
  position: relative;
}

.slider {
  position: relative;
}

.slider::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  margin-top: -50px;
  margin-bottom: -50px;
  margin-right: -400px;
  background-color: black;
}

.newLogoSlide img {
  min-width: 110px;
  max-width: 110px;
  min-height: 110px;
  max-height: 110px;
  margin: 0 auto;
}
