.footer {
  background: #000;
  padding-bottom: 20px;
}

.award {
  margin-top: -200px;
  padding: 100px 0;
}

.award img {
  margin: 0 auto;
  display: block;
}

.footerpara {
  max-width: max-content;
  background-color: white;
  margin: -16px auto 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  padding: 1.4rem 2rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .borderbottom {
  border-bottom: 3px solid #cecece;
}

.footer ul {
  padding-left: 0;
}

.footer ul li a:hover {
  color: white;
  transition: ease-in-out 0.4s;
}

.icons {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px 14px;
  border-radius: 30px;
  margin-top: 20px;
  gap: 0 13px;
}

.icons p {
  padding-right: 10px;
}

.borderRight {
  border-right: 1px solid black;
}

.copyright {
  background-color: #1e1d1e;
  padding: 1rem 0;
}

@media screen and (max-width: 991px) {
  .footerpara {
    max-width: unset;
  }

  .footerpara {
    max-width: max-content;
    background-color: white;
    margin: 38px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 20px;
  }

  .award {
    margin-top: -185px;
    padding: 80px 0 30px;
  }

  .official {
    flex-direction: column;
  }

  .footerpara {
    margin: 40px auto 0;
  }
}
