.newtown h2 {
  font-size: 55px;
  font-weight: 500;
  line-height: 65px;
  max-width: 1180px;
  margin: 0 auto;
}

.expertapp {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}

.expertapp p {
  font-size: 17px;
  line-height: 26px;
  padding-right: 10px;
  font-weight: 300;
  color: black;
}

.expertapp h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0;
  color: #000;
}

.appno {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2%;
}

.copy img {
  filter: brightness(0);
}

.app {
  display: flex;
  align-items: flex-start;
  background-color: #f3f3f3;
  border: 2px solid #f3f3f3;
  border-radius: 15px;
  height: 100%;
  min-height: 300px;
  padding: 20px 15px;
  gap: 10px;
  transition: all 1s ease-out;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy {
  width: 91%;
  display: flex;
  align-items: center;
  gap: 13px;
  padding-bottom: 15px;
}

.connect {
  width: 436px;
  height: 45px;
  background-color: #e1f81c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.offer {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.app:hover {
  background-color: #e1f81c;
  transition: all 1s ease-out;
}


.app:hover .copy h3 {
  color: #010101;
}

.app:hover p {
  color: #010101;
}

/* Media Query Start */

@media only screen and (max-width: 1399px) {
  .newtown h2 {
    font-size: 40px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 1280px) {
  a .expertapp h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .expertapp {
    padding: 0 0 80px;
    background-image: none;
  }

  .app {
    height: 225px;
    margin: 0 5px;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .expertapp {
    padding: 70px 0;
    background-image: none;
  }

  .expertapp h2 {
    font-size: 30px;
    line-height: 1.3;
  }

  .expertapp p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    padding-right: 0;
  }
}

@media screen and (max-width: 567px) {
  .expertapp {
    padding: 0px 0 90px;
  }
}
