.heading h3 img {
  position: absolute;
  right: 1%;
  margin-top: 0.5%;
}

.faqs {
  background-color: white;
  padding-bottom: 50px;
  position: relative;
}

.faqs h2 {
  font-size: 55px;
}

.plus {
  font-size: 30px;
}

.siop {
  font-size: 20px;
}

.about {
  width: 250px;
  height: 45px;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 80px auto 0;
}

.heading {
  border-width: 2px;
  border-style: solid;
  padding: 10px 20px;
  margin-top: 1%;
  cursor: pointer;
  padding-bottom: unset;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 10px;
  -webkit-mask:
    /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  padding-top: 17px !important;
  padding-bottom: 12px !important;
  position: relative;
}

.mostimg {
  border: 2px solid #000 !important;
  border-top: unset !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.heading h3 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}

.description {
  margin-top: 1%;
}

.faqs ul {
  padding-left: 15px;
}

.faqs ul li {
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-align: justify;
  margin: 5px 0;
  list-style: disc;
}

.faqs a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f32fc2;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.mostimg {
  display: flex !important;
  gap: 40px;
  justify-content: space-between;
}

.mostimg img {
  width: auto;
}

.mostimg p {
  max-width: 750px;
  color: black;
  font-weight: 300;
}

.mostimg button {
  width: fit-content;
  height: 45px;
  background-color: #f32f53;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
  border: 0;
}

.comfort p {
  padding-right: 140px;
}

.cross {
  position: absolute;
  top: -1.5%;
  right: -1.5%;
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  border-radius: 50px;
  font-weight: bolder;
  font-family: Poppins;
  cursor: pointer;
  border: 1px solid #ff004a;
  background-color: #ff004a;
}

/* =================Media Queries=================== */
@media screen and (min-width: 1400px) {
  .mostimg p {
    max-width: 1100px;
    font-size: 17px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 1399px) {
  .faqs h2 {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 1280px) {
  .comfort p {
    padding-right: unset;
  }

  .faqs::after {
    display: none;
  }

  .mostimg img {
    display: none;
  }

  .mostimg a {
    margin-bottom: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .mostimg a {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .mostimg a {
    font-size: 13px;
  }

  .faqs h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .mostimg {
    display: unset !important;
    gap: 40px;
    justify-content: space-between;
  }

  .faqs {
    padding: 0 0 80px;
  }

  .about {
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .faqs {
    padding: 0 0 50px;
  }

  .about {
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 480px) {
  .faqs h4 {
    font-size: 35px;
    line-height: 1.2;
  }

  .mostimg a {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .faqs h3 {
    font-size: 16px;
    padding-right: 46px;
  }

  .heading {
    padding-top: 12px !important;
    padding-bottom: 8px !important;
  }

  .heading h3 img {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
  }

  .mostimg p {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
  }

  .comfort h2 {
    text-align: left !important;
    margin-bottom: 0%;
    margin-top: 5%;
  }

  .comfort h2 {
    text-align: center;
    margin-bottom: 0%;
  }

  .about {
    margin-right: auto;
    margin-bottom: 5%;
  }

  .faqs {
    padding: 0 0 0px;
  }
}