.futureSec {
    padding: 80px 0;
    height: 100%;
    position: relative;
    background: #fff;
    z-index: 99;
    overflow: hidden;
}

.futureSec h2 {
    font-size: 40px;
    line-height: 53px;
    font-weight: bold;
    margin-bottom: 17px;
    color: black;
}

.futureSec h4 {
    color: #010101;
}

.futureSec h2 span {
    color: #F32F53;
}

.futureSec p:first-of-type {
    margin-bottom: 13px;
}

.futureSec p:last-of-type {
    margin-bottom: 40px;
}

.futureSec .txt p {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    padding-right: 16px;
    color: black;
    width: 95%;
    margin: 0 auto;
}

.cardsRow {
    display: flex;
    flex-wrap: wrap;
}

.cardMain {
    width: 50%;
    margin: 0 auto;
}

.card {
    position: relative;
    background: #000;
    border-radius: 15px;
    padding: 20px;
    padding: 20px;
    transition: all ease-in-out 0.4s;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    background: #e1f81c;
    transition: all ease-in-out 0.4s;
}

.iosCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    /* background-image: url(../public/newmobileapp/ios.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.andriodCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    /* background-image: url(../public/newmobileapp/andriod.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.nativeCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    /* background-image: url(../public/newmobileapp/native.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.flutterCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    /* background-image: url(../public/newmobileapp/flutter.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.crossCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    /* background-image: url(../public/newmobileapp/cross.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.webdevelopmentCard::after {
    content: '';
    position: absolute;
    right: -70px;
    bottom: 25px;
    height: 200px;
    width: 216px;
    /* background-image: url(../public/newmobileapp/webdevelopment.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.cardTop {
    display: flex;
    align-items: center;
    gap: 40px;
}

.card h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    margin-bottom: 0;
    border-bottom: 1px solid white;
    padding-bottom: 9px;
}
.card:hover h3{
    color: #010101;
    border-color: #010101;
}

.card p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 20px;
    padding-right: 3px;
    color: white;
}
.card:hover p{
    color: #010101;
}

.btn {
    display: block;
    margin-left: auto;
    width: max-content;
}

.btn button {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    padding: 0 30px;
    width: max-content;
    height: 40px;
    border-radius: 6px;
    background: #e1f81c;
    color: #010101;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.card:hover .btn button {
    background: #000;
    color: #ffffff;
    transition: all ease-in-out 0.4s;
}

.cross {
    position: absolute;
    top: -1.5%;
    right: -1.5%;
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border-radius: 50px;
    font-weight: bolder;
    font-family: Poppins;
    cursor: pointer;
    border: 1px solid #ff004a;
    background-color: #ff004a;
}

/* Media Query Start */

@media only screen and (max-width: 1399px) {
    .card p {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .futureSec {
        padding: 50px 0 0;
    }

    .card p {
        font-size: 14px;
        line-height: 20px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 567px) {
    .cardMain {
        width: 100%;
        margin: 0 auto;
    }

    .futureSec {
        padding: 50px 0 0;
    }

    .futureSec h2 {
        font-size: 32px;
        line-height: 1.3;
    }

    .futureSec .txt p {
        font-size: 14px;
        line-height: 24px;
        padding-right: 0px;
    }

    .card {
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}