.mapGlobal {
  background-color: #f3f3f3;
  /* margin: 0px 0 100px; */
  position: relative;
  height: 67vh;
}

.newtimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.map {
  width: 100%;
  height: 500px;
}

.newtimg h2 {
  color: #f32f53;
  font-size: 55px;
  line-height: 60px;
  font-weight: 500;
  margin-bottom: 0;
}

.newtimg .address {
  color: black;
  font-size: 25px;
  font-family: "SF-Pro-Display";
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: 300;
}

.timr {
  width: 220px;
  height: 45px;
  background-color: #f32f53;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 0 6%;
  color: white;
  border-radius: 4px;
  font-weight: 300;
  margin-bottom: 20px;
}

.num {
  color: #f32f53;
}

@media only screen and (max-width: 1920px) {
  .mapGlobal {
    height: 100%;
  }
}

@media screen and (max-width: 1399px) {
  .map {
    height: 440px;
  }

  .newtimg h2 {
    font-size: 40px;
    line-height: 45px;
  }

  .newtimg .address {
    font-size: 21px;
  }
}

@media only screen and (max-width: 1280px) {
  .newtimg .address {
    font-size: 21px;
    padding-top: 3px;
  }
}

@media screen and (max-width: 1099px) {
  .map {
    height: 350px;
  }
}

@media screen and (max-width: 991px) {
  .newtimg {
    background-color: #f3f3f3;
    height: auto;
    margin-top: unset;
    margin-bottom: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
  }

  .newtimg h2 {
    font-size: 30px;
    width: 80%;
  }

  .newtimg h4 {
    font-size: 24px;
    width: 80%;
  }

  .mapGlobal {
    margin: 25px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .newtimg {
    padding: 30px 0;
  }

  .newtimg h2 {
    font-size: 30px;
    width: 80%;
  }

  .newtimg h4 {
    font-size: 24px;
    width: 80%;
  }
}


@media screen and (max-width: 567px) {
  .newtimg h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .newtimg .address {
    font-size: 16px;
    line-height: 26px;
    padding-top: 0;
  }

  .mapGlobal img {
    height: auto;
  }
}