.benifits {
  padding: 80px 0;
  background: #000;
}

.benifits h2 {
  color: #fff;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  margin-bottom: 10px;
}

.benifits h2 span {
  background: linear-gradient(to right, #eb335b 55%, #4a78ef 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs {
  border-right: 1px solid #707070;
  padding: 0;
}

.benifitsBox {
  border-radius: 25px;
  background-color: #1a1a1a;
}

.beniftIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px 0 20px 25px;
  border-bottom: 1px solid #707070;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.beniftIcon.last {
  border: 0;
}

.beniftIcon.active {
  background-color: #eb335b;
}

.hidden {
  display: none;
}

.beniftIcon h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.benifTxt {
  padding: 100px 20px;
}

.benifTxt h3 {
  color: #fff;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}

.benifTxt p {
  color: #fff;
  font-size: 16px;
}

.btns {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.btn {
  width: 260px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.btn1 {
  background-color: #4a78ef;
}

.btn2 {
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
}

/* =========================================== */

@media screen and (max-width: 991px) {
  .benifits {
    padding: 0 0 80px;
  }

  .benifits h2 {
    font-size: 45px;
    line-height: 55px;
  }

  .benifitsBox {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .benifTxt h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    padding: auto;
  }

  .benifitsOpt {
    position: relative;
  }

  .benifitsOpt select {
    width: 100%;
    padding: 15px 20px;
    background-color: #1a1a1a;
    color: #fff;
    border: 0;
    font-size: 24px;
    overflow: hidden;
    background-image: none;
  }

  .benifitsOpt svg {
    color: #fff;
    position: absolute;
    right: 2%;
    top: 1.5%;
    font-size: 40px;
  }

  .benifitsOpt select:focus {
    box-shadow: none;
  }

  .benifitsOpt select option {
    font-size: 14px;
  }

  .benifTxt {
    padding: 0 5px;
  }
}

@media screen and (max-width: 767px) {
  .benifits {
    padding: 0 0 50px;
  }

  .benifits h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .beniftIcon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 0 20px 15px;
  }

  .benifTxt h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .benifitsOpt select {
    font-size: 16px;
  }

  .benifitsOpt svg {
    right: 2%;
    top: 1.5%;
    font-size: 20px;
  }

  .benifitsOpt {
    width: 98%;
    margin: 0 auto;
  }

  .tabs {
    border: 0;
  }

  .benifitsOpt select option {
    font-size: 12px;
  }
}
