.banner {
  background: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0 0;
}

.banSec {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.banSec h3 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.banSec h1 {
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  background: linear-gradient(to right, #4a78ef 0%, #eb335b 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.banSec p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  width: 100%;
}

.btn {
  width: 260px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 2px solid #fff;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.btn1 {
  background-color: #4a78ef;
}

.btn2 {
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
}

/* =============================== */

.ios {
  background-image: url(../public/images/hire-page/ios-banner.png);
}

.android {
  background-image: url(../public/images/hire-page/hire-banner.png);
}

.hybrid {
  background-image: url(../public/images/hire-page/hire-banner.png);
}

.native {
  background-image: url(../public/images/hire-page/hire-banner.png);
}

.mbl {
  background-image: url(../public/images/hire-page/mobile/mbl-banner.png);
}

/* =========================================== */

@media screen and (max-width: 991px) {
  .banner {
    padding: 50px 0 0px;
    background-image: none;
  }

  .banSec h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 767px) {
  .banSec h1 {
    font-size: 30px;
  }
}
