.paddingBottom {
  padding-bottom: 150px !important;
}

.slide {
  background-color: black;
  padding-bottom: 80px;
  padding-top: 80px;
}
.slide1 {
  background-color: black;
}

.just {
  font-size: 130px;
  line-height: 1.2;
  font-weight: bold;
  background: linear-gradient(to right, #eb335b 35%, #4a78ef 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.develop {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.book {
  width: 198px;
  height: 45px;
  background-color: #4a78ef;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {
  width: 198px;
  height: 45px;
  background-color: #f32f53;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pont {
  display: flex;
  gap: 20px;
  margin-top: 3%;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .just {
    font-size: 45px;
    line-height: 1;
  }
}

@media screen and (max-width: 991px) {
  .develop {
    position: relative;
    z-index: 999;
    font-size: 25px;
  }

  .pont {
    margin-top: 3%;
  }

  .just {
    font-size: 47px;
    line-height: 0.8;
  }

  .slide {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .justforpop {
    padding-top: 20px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 767px) {
  .slide {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .just {
    font-size: 35px;
  }

  .develop {
    font-size: 25px;
  }

  .justforpop {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .just {
    font-size: 30px;
  }
  .justforpop {
    padding-top: 0px;

  }
}
