.slide1lp {
  background-color: white;
  padding-bottom: 80px;
}

.slide2 a {
  border-radius: 10px;
}

.slide2lp6 a {
  border-radius: unset;
}

.just {
  font-size: 130px;
  font-weight: 500;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #0047ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.develop {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.book {
  width: 198px;
  height: 45px;
  background-color: #4a78ef;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {
  width: 198px;
  height: 45px;
  background-color: #f32f53;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 0;
}

.about1 {
  width: 198px;
  height: 45px;
  background-color: #4a78ef;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  border: 0;
}

.pont {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 48px auto;
}

.title {
  font-size: 65px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}

.title span {
  color: #f32f53;
}

.para {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #000000;
}

.cross {
  position: absolute;
  top: -1.5%;
  right: -1.5%;
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  border-radius: 50px;
  font-weight: bolder;
  font-family: Poppins;
  cursor: pointer;
  border: 1px solid #ff004a;
  background-color: #ff004a;
}

/* Media Query Start */

@media screen and (max-width: 1280px) {
  .just {
    font-size: 45px;
  }

  .title {
    font-size: 55px;
  }

  .para {
    font-size: 25px;
  }
}

@media screen and (max-width: 991px) {
  .develop {
    position: relative;
    z-index: 999;
    font-size: 25px;
  }

  .just {
    font-size: 40px;
  }


  .slide2lp6,
  .slide2 {
    padding: 0 0 80px;
  }

  .slide1lp {
    padding: 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .slide {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .just {
    font-size: 35px;
  }

  .develop {
    font-size: 20px;
  }

  .slide1lp,
  .slide2lp6,
  .slide2 {
    padding: 0 0 50px;
  }
}

@media screen and (max-width: 480px) {

  .slide1lp,
  .slide2lp6,
  .slide2 {
    padding: 0 0 20px;
  }

  .just {
    font-size: 30px;
  }

  .title {
    font-size: 35px;
    line-height: 1.2;
  }

  .para {
    font-size: 16px;
    line-height: 26px;
  }

  .pont {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 23px auto 0;
  }

  .about {
    width: 150px;
  }

  .about1 {
    width: 150px;
  }
}