.just {
  font-size: 130px;
  font-weight: bold;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.develop {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.book {
  width: 198px;
  height: 45px;
  background-color: #4a78ef;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {
  width: 198px;
  height: 45px;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pont {
  display: flex;
  gap: 20px;
  margin-top: 3%;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .just {
    font-size: 45px;
  }
}

@media screen and (max-width: 991px) {
  .develop {
    position: relative;
    z-index: 999;
  }

  .pont {
    margin-top: 10%;
  }

  .just {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .slide {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .just {
    font-size: 35px;
  }

  .develop {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .just {
    font-size: 30px;
  }
}
