.slide1 {
  background-color: black;
}
.slide1lp {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}
.slide2 {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}
.slide2lp6 {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}
.slide2 a {
  border-radius: 10px;
}
.slide2lp6 a {
  border-radius: unset;
}

.just {
  font-size: 130px;
  font-weight: bold;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #0047ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.develop {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.book {
  width: 198px;
  height: 45px;
  background-color: #4a78ef;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {
  width: 198px;
  height: 45px;
  background-color: #f32f53;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 6px;
}

.about1 {
  width: 198px;
  height: 45px;
  background-color: #4a78ef;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 6px;
}

.pont {
  display: flex;
  gap: 20px;
  margin-top: 3%;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .just {
    font-size: 45px;
  }
}

@media screen and (max-width: 991px) {
  .develop {
    position: relative;
    z-index: 999;
    font-size: 25px;
  }

  .just {
    font-size: 40px;
  }

  .slide1lp,
  .slide2lp6,
  .slide2 {
    padding: 0 0 80px;
  }
}

@media screen and (max-width: 767px) {
  .slide {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .just {
    font-size: 35px;
  }

  .develop {
    font-size: 20px;
  }
  .slide1lp,
  .slide2lp6,
  .slide2 {
    padding: 0 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .just {
    font-size: 30px;
  }
}
