.transformlp {
  background-color: white;
  padding: 50px 0;
}

.walk h3 {
  font-size: 55px;
  letter-spacing: 1px;
  line-height: 65px;
  font-weight: bold;
}

.walk p {
  margin: 25px 0 36px;
  font-size: 17px;
  line-height: 26px;
  color: black;
  padding-right: 35px;
}

.dus {
  width: 351px;
  height: 45px;
  background-color: #f32f53;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 6px;
  padding: 0 15px;
}

.cart {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 3%;
}

.walk h2 {
  font-size: 35px;
  line-height: 45px;
  color: #f32f53;
  padding-right: 36px;
}

.walk p span {
  color: #f32f53;
  font-weight: 600;
}

.post {
  background-color: black;
  height: 180px;
  width: 195px;
  border: 1px solid #565353;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0px;
  box-shadow: rgb(100 100 111 / 31%) 0px 7px 29px 0px;
}

.post p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.work {
  position: relative;
  right: 0px;
}

@media screen and (max-width: 1400px) {
  .transform {
    background-image: url(../public/newHomePage/images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 87%;
    background-position: 374px center;
    background-color: black;
  }

  .hybirf {
    background-image: url(../public/newHomePage/images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 87%;
    background-position: 374px center;
    background-color: black;
    padding-bottom: 150px;
  }

  .walk h2 {
    font-size: 30px;
  }

  .walk p {
    font-size: 14px;
    max-width: 530px;
  }
}

@media screen and (min-width: 1400px) {
  .transform {
    background-image: url(../public/newHomePage/images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: 550px center;
    background-color: black;
  }

  .hybirf {
    background-image: url(../public/newHomePage/images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: 550px center;
    background-color: black;
  }
}

@media screen and (max-width: 1399px) {
  .walk h3 {
    font-size: 47px;
    line-height: 57px;
  }
}

@media screen and (max-width: 1400px) {
  .post {
    width: 175px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {

  .work {
    position: relative;
    right: unset;
  }

  .transform {
    padding-top: 0px;
    padding-bottom: 80px;
    background-image: none;
  }

  .transformlp {
    padding: 0 0 80px;
    background-image: none;
  }

  .hybirf {
    padding-top: 50px;
    padding-bottom: 0px;
    background-image: none;
  }

  .post {
    width: 90%;
  }

  .walk p {
    max-width: 100%;
  }

  .marginTop {
    padding-top: 0;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .walk h3 {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 35px;
  }

  .transform {
    padding-top: 0px;
    padding-bottom: 50px;
  }


  .walk h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .dus {
    padding: 0 10px;
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width: 567px) {
  .walk h3 {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 1.3;
  }

  .walk p {
    font-size: 16px;
    line-height: 24px;
    padding-right: 0;
    text-align: justify;
  }

  .transformlp {
    padding: 50px 0;
  }
}