.formsbanner .forminput {
  background-color: transparent;
  border: 2px solid #f32f53;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  margin-bottom: 4%;
  padding-left: 5%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.formsbanner .forminput::placeholder {
  color: #9f9f9f;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.formsbanner .forminput:focus-visible {
  outline: none;
}

.formsbanner .formarea:focus-visible {
  outline: none;
}

.menu {
  position: relative;
  cursor: pointer;
  width: 280px;
  margin: 0 auto;
}

.menu:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: #f32f53;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  margin-top: 1%;
  margin-left: 1%;
}

.book {
  height: 50px;
  background-color: #f32f53;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  width: 100%;
  border: unset;
}

.book2 {
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  font-size: 15px;
  color: #fff;
  border: 2px solid transparent;
  padding: 0px;
  font-weight: bold;
  width: 100%;
  letter-spacing: unset;
  cursor: pointer;
}

.menu img {
  filter: brightness(5);
}

/* =================== */

@-moz-document url-prefix() {
  .menu::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(183deg, #4a78ef, #eb335b 65%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: add, add;
    -webkit-mask-composite: exclude;
    margin-top: 1%;
    margin-left: 1%;
  }
}

.newAddress {
  background-color: #000;
  padding: 100px 0 0;
}

.appios {
  padding: 30px 40px;
}

.keyFrame {
  background-color: #000;
  padding: 50px 0 0px;
}

.cirMain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cir1 {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: #f32f53;
  border-radius: 100%;
  animation: bounce 2s infinite;
}

.cir2 {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: #4a78ef;
  border-radius: 100%;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.para {
  padding: 75px 0 50px;
  background-image: url(../public/images/lp-images/bg-image.png);
  background-size: 450px;
  background-position: center;
  background-repeat: no-repeat;
}

.para P {
  font-size: 28px;
  color: #fff;
  text-align: center;
  line-height: 42px;
}

/* =========================================== */

@media screen and (max-width: 1920px) {
  .appios {
    max-width: 1750px;
  }
}

@media screen and (max-width: 1600px) {
  .appios {
    max-width: 1400px;
  }
}

@media screen and (max-width: 991px) {
  .appios {
    max-width: 720px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .newAddress {
    padding: 50px 0 50px;
  }

  .keyFrame {
    padding: 20px 0 0px;
  }

  .para {
    background-image: none;
    padding: 45px 0 0;
  }

  .para p {
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .iosclass {
    padding-top: 50px;
  }

  .newHomeBg {
    padding-bottom: 5px;
  }

  .keyFrame {
    padding: 40px 0 0px;
  }

  .book,
  .about {
    font-size: 12px;
  }
  
  .appios {
    max-width: 100%;
    min-width: unset;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .newAddress {
    padding: 0px;
  }

  .para {
    background-image: none;
    padding: 30px 0 0;
  }

  .para p {
    font-size: 20px;
    text-align: left;
  }
}
