.faqs::after {
  position: absolute;
  content: '';
  width: 90%;
  height: 100%;
  background-image: url(/_next/static/media/bg-image.7e56972e.png);
  background-repeat: no-repeat;
  background-position: center;
  bottom: -200px;
  right: 0;
}

.faqs {

  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.plus {
  font-size: 30px;
}
.siop{
  font-size: 20px;
}
.faqs h3 {
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-align: left;
  background: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.about {
  width: 250px;
  height: 45px;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 80px auto 0;
}

.heading {
 border: 1px solid #F32F53;
  border-width: 2px;
  border-style: solid;
  padding: 10px 20px;
  margin-top: 1%;
  cursor: pointer;
  padding-bottom: unset;
  background-color: black;
  padding-bottom: 10px;
  border-radius: 10px;
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
}
.mostimg{
  border: 2px solid #F32F53!important;
  border-top: unset!important;
  border-bottom-right-radius:20px!important;
  border-bottom-left-radius:20px!important;
}
.description {
  margin-top: 1%;
}

.faqs p {

  font-weight: 400;
  color: white;
  text-align: justify;
}

.faqs ul {
  padding-left: 15px;
}

.faqs ul li {
  font-size: 14px;
  font-weight: 400;
  color: white;
  
  text-align: justify;
  margin: 5px 0;
  list-style: disc;
}

.faqs a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f32fc2;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  
}


.mostimg{
  display: flex!important;
  gap: 40px;
  justify-content: space-between;
}
.mostimg img{
  width: 15%!important;
}
.mostimg p{
  max-width: 750px;
}
.mostimg a{
  width: fit-content;
  height: 45px;
  background-color: #f32f53;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
 
}
.comfort p{
  padding-right: 140px;
}
/* =================Media Queries=================== */
@media screen and (min-width: 1400px) {

  .mostimg p {
    max-width: 890px;
    font-size: 19px;
}


  
}

@media screen and (max-width: 1200px) { 

  .comfort p{
    padding-right: unset;
  }

  .faqs::after {
  display: none;
  }

.mostimg img{
  display: none;
}
.mostimg a{

  margin-bottom: auto;
}
}
@media screen and (max-width: 991px) {

  .mostimg a {

    font-size: 13px;
}

  .mostimg {
    display: unset!important;
    gap: 40px;
    justify-content: space-between;
}

  .faqs {
    padding: 0 0 80px;
  }

  .about {
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .faqs {
    padding: 0 0 50px;
  }

  .about {
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 480px) {

  
  .mostimg a {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

  .faqs h3 {
    font-size: 17px;
}
.faqs p{
  text-align: left;
}
  .comfort h2 {
    text-align: left!important;
    margin-bottom: 0%;
    margin-top: 5%;
}

  .comfort h2 {
    text-align: center;
    margin-bottom: 0%;
  }

  .about {
    margin-right: auto;
    margin-bottom: 5%;
  }
  .faqs {
    padding: 0 0 0px;
}
}
