.newHomeBg {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #000;
  margin-top: -1%;
}

.newHomeBg h1 {
  max-width: 990px;
  margin: 0 auto;
}

.para {
  font-size: 14px;
  max-width: 375px;
  color: #fff;
  overflow: hidden;
  height: 57px;
  overflow: auto;
  padding-right: 10px;

  -webkit-box-orient: vertical;
}

.contentPara {
  max-width: 315px;
  height: 77px;
  overflow: auto;
}

.para1 {
  font-size: 14px;

  color: white;
}

.cardImage {
  min-height: 550px;
}

.app {
  background-image: url(../public/images/lpfund/1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.app33 {
  background-image: url(../public/images/lpfund/33.png);
  background-position: center;
  background-size: cover;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.app44 {
  background-image: url(../public/images/lpfund/44.png);
  background-position: center;
  background-size: cover;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.app55 {
  background-image: url(../public/images/lpfund/55.png);
  background-position: center;
  background-size: cover;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.cardContent {
  margin-bottom: 30px;
}

.app1 {
  background-image: url(../public/images/lpfund/2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.app2 {
  background-image: url(../public/images/lpfund/3.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.app1,
.app2,
.app,
.app4,
.app5,
.app33,
.app44,
.app55 {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  padding: 0 40px;
}

.app7 {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  justify-content: flex-end;
}

.app6 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 0;
}

.power {
  width: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
}

.para2 {
  font-size: 14px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  height: 65px;
  overflow: auto;
}

.para9 {
  font-size: 14px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  overflow: auto;
}

.app2 {
  border-radius: 30px;
  background-color: transparent;
  height: 531px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.app2 .para {
  color: white;
}

.app3 {
  background-image: url(../public/images/lpfund/4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 30px 28px 9px 33px;
  height: 460px;
}

.paraThreeContent {
  margin-top: 160px;
}

.pont {
  display: flex;
  gap: 20px;
  margin-top: 2%;
}

.book {
  width: 198px;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {
  width: 198px;
  height: 45px;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.app4 {
  background-image: url(../public/images/lpfund/5.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 531px;
}

.app7 {
  background-image: url(../public/images/lpfund/88.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  height: 531px;
}

.app7 .appImage {
  max-width: 417px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.para3 {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: black;
  height: 65px;
  overflow: auto;
}

.possibilities {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.app5 {
  background-image: url(../public/images/lpfund/6.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 531px;
}

.app6 {
  background-image: url(../public/images/lpfund/7.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  height: 531px;
  position: relative;
  z-index: 99999;
}

.pick {
  display: flex;
  width: 44%;
}

.custom {
  width: 75%;
}

@media screen and (min-width: 1500px) {
  .app3 {
    padding: 30px 28px 9px 33px;
  }

  .app {
    height: 530px;
  }

  .app {
    height: 530px;
  }

  .app1 {
    height: 530px;
  }

  .app2 {
    height: 530px;
    border-radius: 28px;
  }

  .app4,
  .app5 {
    height: 531px;
  }

  .custom {
    width: 65%;
  }
}

@media only screen and (max-width: 1399px) {

  .app,
  .app33,
  .app44,
  .app55 {
    height: 456px;
  }

  .app1 {
    height: 456px;
  }

  .app2 {
    height: 456px;
    border-radius: 24px;
  }

  .app4 {
    height: 457px;
  }

  .app5 {
    height: 457px;
  }

  .app6 {
    height: 457px;
  }

  .app7 {
    height: 457px;
  }

  .app7 .appImage {
    max-width: 357px;
  }
}

@media screen and (max-width: 1200px) {
  .newHomeBg {
    padding-bottom: 50px;
    background: #000;
    height: 100%;
  }

  .app,
  .app1,
  .app2,
  .app3,
  .app4,
  .app5 {
    height: 381px;
  }

  .app3 {
    background-size: cover;
    padding: 30px 28px 9px 33px;
  }

  .app3 img {
    max-width: 24%;
    margin-top: 2%;
  }

  .app7 {
    height: 381px;
  }

  .app7 .appImage {
    max-width: 99%;
  }

  .app6 {
    height: 381px;
  }

  .power {
    padding-left: 5%;
  }
}

@media screen and (max-width: 991px) {

  .app1,
  .app {
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    padding-top: 50px;
    padding-bottom: 0px;
    height: 428px;
  }

  .app2 {
    height: 878px;
    border-radius: 24px;
  }

  .app3 {
    height: 231px;
  }

  .paraThreeContent {
    margin-top: 92px;
  }

  .app4,
  .app5 {
    height: 282px;
  }

  .app6 {
    height: 430px;
  }

  .app7 {
    height: 485px;
    background-image: none;
    border: 3px solid #f32f53;
    border-radius: 22px;
  }

  .app7 .appImage {
    width: 100%;
    max-width: 99%;
    margin-left: 3px;
  }

  .newHomeBg {
    padding-top: 0px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .newHomeBg {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .pick {
    display: flex;
    flex-direction: column;
  }

  .power {
    width: 100%;
  }

  .app6 {
    padding: 0 40px;
  }

  .app6,
  .app7 {
    height: 650px;
  }

  .app1,
  .app {
    height: 315px;
  }

  .app4,
  .app5 {
    height: 208px;
  }

  .app6 {
    background-image: url(../public/newHomePage/images/newMaintain10.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pick {
    width: 100%;
  }

  .app7 .appImage {
    max-width: 100%;
    width: 99%;
  }

  .app7 {
    gap: 14px;
  }

  .power {
    padding-left: 0%;
  }
}

@media screen and (max-width: 480px) {

  .book,
  .about {
    font-size: 10px !important;
  }

  .app,
  .app4,
  .app6,
  .app2,
  .app5,
  .app7 {
    padding: 30px 28px 9px 33px;
  }

  .app4,
  .app5 {
    height: 304px;
  }

  .app6,
  .app7 {
    height: 300px;
    border: 2px solid #4a78ef;
    border-radius: 15px;
  }

  .app6 {
    background-image: url(../public/newHomePage/images/maintain8_bg.png);
  }

  .app1,
  .app,
  .app2 {
    height: 460px;
    background-size: contain;
  }

  .newHomeBg h1 {
    font-size: 30px;
  }

  .app7 .appImage {
    display: none;
  }

  .app7 {
    background-image: url(../public/newHomePage/images/newMaintain9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: inherit;
  }

  .app3 {
    height: 340px;
    border: 2px solid #4a78ef;
    border-radius: 15px;
  }
}