.newHomeBg {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #000;
  margin-top: -1%;
}

.changered {
  color: #f32f53;
  font-weight: 600;
}

.changered1 {
  color: #f32f53;
}

.para {
  font-size: 14px;
  max-width: 375px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.contentPara {
  max-width: 315px;
}

.para1 {
  font-size: 14px;

  color: white;
}

.cardImage {
  min-height: 550px;
}

.app {
  background-image: url(../public/newHomePage/images/pageLp6/icon1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.cardContent {
  margin-bottom: 30px;
}

.app1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../public/newHomePage/images/pageLp6/icon2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.app2 {
  background-image: url(../public/newHomePage/images/pageLp6/icon3.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.app2 .cardContent {
  margin-bottom: 52px;
}

.app1,
.app2,
.app,
.app4,
.app5 {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  padding: 0 40px;
}

.app7 {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}

.app6 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 0;
}

.power {
  width: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
}

.para2 {
  font-size: 14px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  height: 65px;
  overflow: auto;
}

.para9 {
  font-size: 14px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  overflow: auto;
}

.app1 p,
.app2 p,
.app p {
  font-size: 14px;
}

.app2 {
  border-radius: 30px;
  background-color: transparent;
  height: 531px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.app2 .para {
  color: white;
}

.app3 {
  background-image: url(../public/newHomePage/images/pageLp6/icon4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 30px 28px 9px 33px;
  height: 460px;
}

.paraThreeContent {
  margin-top: 160px;
}

.pont {
  display: flex;
  gap: 20px;
  margin-top: 2%;
}

.book {
  width: 198px;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {
  width: 198px;
  height: 45px;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.app4 {
  background-image: url(../public/newHomePage/images/pageLp6/icon5.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 531px;
}

.app7 {
  background-image: url(../public/newHomePage/images/pageLp6/icon8.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 80px;
  height: 531px;
}

.app7 .appImage {
  max-width: 417px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.para3 {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: black;
  height: 65px;
  overflow: auto;
}

.possibilities {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.app5 {
  background-image: url(../public/newHomePage/images/pageLp6/icon6.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 531px;
}

.app6 {
  background-image: url(../public/newHomePage/images/pageLp6/icon7.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  height: 531px;
  position: relative;
  z-index: 99999;
}

.pick {
  display: flex;
  width: 44%;
}

.custom {
  width: 75%;
}

/* =============================================== */

@media screen and (min-width: 1500px) {
  .app3 {
    padding: 30px 28px 9px 33px;
  }

  .app {
    height: 530px;
  }

  .app1 {
    height: 530px;
  }

  .app2 {
    height: 530px;
    border-radius: 28px;
  }

  .app4,
  .app5 {
    height: 531px;
  }

  .custom {
    width: 65%;
  }
}

@media only screen and (max-width: 1399px) {
  .app {
    height: 456px;
  }

  .app1 {
    height: 456px;
  }

  .app2 {
    height: 456px;
    border-radius: 24px;
  }

  .app4 {
    height: 457px;
  }

  .app5 {
    height: 457px;
  }

  .app6 {
    height: 457px;
  }

  .app7 {
    height: 457px;
  }

  .app7 .appImage {
    max-width: 357px;
  }
}

@media screen and (max-width: 1200px) {
  .newHomeBg {
    padding: 50px 0;
    background: #000;
    height: 100%;
  }

  .app,
  .app1,
  .app2,
  .app3,
  .app4,
  .app5 {
    height: 381px;
  }

  .app3 {
    background-size: cover;
    padding: 30px 28px 9px 33px;
  }

  .app3 img {
    max-width: 24%;
    margin-top: 2%;
  }

  .app7 {
    height: 381px;
  }

  .app7 .appImage {
    max-width: 99%;
  }

  .app6 {
    height: 381px;
  }

  .power {
    padding-left: 5%;
  }
}

@media screen and (max-width: 991px) {
  .newHomeBg {
    padding: 0 0 80px;
  }

  .servSlider .app {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    padding: 0;
    display: flex !important;
  }

  .servSlider .app1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../public/newHomePage/images/newMaintain1.png);
  }

  .servSlider .app2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../public/newHomePage/images/newMaintain2.png);
  }

  .servSlider .app3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../public/newHomePage/images/newMaintain3.png);
  }

  .servSlider .app4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../public/newHomePage/images/newMaintain12.png);
  }

  .servSlider .app5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../public/newHomePage/images/newMaintain5.png);
  }

  .servSlider .app6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../public/newHomePage/images/newMaintain6.png);
    justify-content: flex-end;
  }

  .servSlider .app7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../public/newHomePage/images/maintain8_bg.png);
  }

  .servSlider .app8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(../public/newHomePage/images/newMaintain11.png);
  }

  .servSlider .app .cardContent {
    width: 45%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .servSlider .app .para {
    max-width: 100%;
    height: 120px;
    overflow: auto;
  }
}

@media screen and (max-width: 767px) {
  .newHomeBg {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .servSlider .app .cardContent {
    width: 85%;
    padding-bottom: 20px;
  }

  .servSlider .app {
    height: 500px;
  }

  .servSlider .app6 .cardContent {
    position: relative;
    top: -70px;
  }
}

@media screen and (max-width: 480px) {

  .book,
  .about {
    font-size: 10px !important;
  }

  .newHomeBg h1 {
    font-size: 30px;
  }
}