.newHomeBg {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #000;
}

.newHomeBg h1 {
  margin: 0 auto;
}

.para {
  font-size: 14px;
  max-width: 330px;
  color: #fff;
  height: 57px;
  overflow: auto;
  padding-right: 7px;
}

.para1 {
  font-size: 14px;
  color: white;
  width: 75%;
}

.cardImage {
  min-height: 550px;
}

.cardContent {
  margin-bottom: 30px;
}

.app {
  background-image: url(../public/newMobilePageImages/card1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 20px;
  height: 531px;
}

.app1,
.app2,
.app,
.app4,
.app5 {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  padding: 0 40px;
}

.cardContent {
  margin-bottom: -15%;
}

.app4,
.app5 .cardContent {
  margin-bottom: -15%;
}

.app1 {
  background-image: url(../public/newMobilePageImages/card2.png);
  background-repeat: no-repeat;
  height: 530px;
  display: flex;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 0px;
}

.app2 {
  background-image: url(../public/newMobilePageImages/card3.png);
  background-repeat: no-repeat;
  height: 530px;
  display: flex;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 0px;
}

.cardContent {
  margin-bottom: 30px;
}

.app2 .para {
  color: white;
}

.app3 {
  background-image: url(../public/newMobilePageImages/card4.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 20px;
  height: 431px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 28px 9px 33px;
}

.pont {
  display: flex;
  gap: 20px;
  margin-top: 2%;
}

.book {
  width: 198px;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about {
  width: 198px;
  height: 45px;
  background-image: linear-gradient(to right, #f32f53, #f32fc2, #4a78ef);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.app4 {
  background-image: url(../public/newMobilePageImages/card5.png);
  background-repeat: no-repeat;
  height: 530px;
  display: flex;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-bottom: 70px;
}

.app7 {
  border-radius: 15px;
  border: 4px solid;
  border-image: linear-gradient(#f32f53, #f32fc2, #4a78ef) 10;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  padding-top: 50px;
  padding-bottom: 20px;
  height: 460px;
}

.para2 {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 75px;
}

.para3 {
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 75px;
}

.app5 {
  background-image: url(../public/newMobilePageImages/card6.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 531px;
}

.app6 {
  border-radius: 15px;
  border: 10px solid transparent;
  background: linear-gradient(#f32f53, #f32fc2, #4a78ef) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  padding-top: 50px;
  padding-bottom: 20px;
  height: 465px;
}

.pick {
  display: flex;
}

.power {
  width: 100%;
}

.custom {
  width: 75%;
}

@media screen and (min-width: 1400px) {
  .app {
    padding-bottom: 0px !important;
  }

  .app5 {
    padding-top: 155px !important;
  }
}

@media screen and (min-width: 1500px) {
  .app3 {
    padding: 30px 28px 9px 33px;
  }

  .app {
    height: 533px;
    padding-bottom: 20px;
  }

  .app1 {
    height: 533px;
  }

  .app2 {
    height: 533px;
  }

  .app4,
  .app5 {
    height: 531px;
  }

  .app4 {
    padding-bottom: 70px;
  }

  .custom {
    width: 65%;
  }
}

@media only screen and (max-width: 1399px) {

  .app,
  .app1,
  .app2 {
    height: 456px;
  }

  .app3 {
    height: 371px;
  }

  .app4,
  .app5 {
    height: 457px;
  }
}

@media screen and (max-width: 1200px) {
  .app4 {
    height: auto;
  }

  .app5 {
    height: auto;
  }

  .app3 {
    background-size: cover;
    padding: 30px 28px 9px 33px;
  }

  .app3 img {
    max-width: 24%;
    margin-top: 2%;
  }

  .app7 {
    height: auto;
  }
}

@media screen and (max-width: 991px) {

  .app1,
  .app {
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    padding-top: 50px;
    padding-bottom: 0px;
    height: 428px;
  }

  .app2 {
    height: 878px;
  }

  .app4 {
    height: 282px;
    align-items: flex-start;
    background-size: cover;
  }

  .app3 {
    height: 231px;
  }

  .app5 {
    height: 282px;
    align-items: flex-start;
    background-size: cover;
  }

  .cardContent {
    margin-bottom: -8%;
  }

  .app4,
  .app5 .cardContent {
    margin-bottom: 0;
  }

  .para1 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .newHomeBg {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .pick {
    display: flex;
    flex-direction: column;
  }

  .power {
    width: 100%;
  }

  .app6 {
    height: 460px;
  }

  .app {
    height: 460px;
  }

  .app1 {
    height: 460px;
  }

  .app2 {
    height: 460px;
  }

  .app3 {
    height: 330px;
    display: block;
  }

  .app4 {
    height: 460px;
  }

  .app5 {
    height: 460px;
  }

  .cardContent {
    margin-bottom: 15%;
  }

  .app4,
  .app5 .cardContent {
    margin-bottom: -25%;
  }
}

@media screen and (max-width: 480px) {

  .app,
  .app1,
  .app2,
  .app3,
  .app4 {
    height: auto;
    border: 3px solid #4a78ef;
    padding: 30px 10px;
    border-radius: 20px;
  }

  .app5 {
    height: 360px;
    margin-top: 91px;
    border-radius: 20px;
    border: 3px solid #4a78ef;
  }

  .book,
  .about {
    font-size: 12px;
  }
}