.newHomeBg {
  background: #000;
  padding-bottom: 150px;
  padding-top: 100px;
}

.newHomeBg h2 {
  line-height: 1;
}

.whyBox {
  padding: 80px 20px;
  border: 1px solid #f32f53;
  position: relative;
  height: 350px;
}

.whyBox .max_width {
  max-width: 230px;
}

.whyBox .whyImg {
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: #000;
  padding: 10px 5px;
}

.whyBox .whyImg img {
  filter: brightness(500);
}

.sec_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn {
  width: 300px;
  height: 50px;
  background-color: #f32f53;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
}

.btn1 {
  background: #4a78ef;
}

@media screen and (max-width: 991px) {
  .whyBox {
    height: auto;
    padding: 80px 20px 50px;
  }

  .newHomeBg {
    padding-bottom: 50px;
  }

  .newHomeBg h2 {
    line-height: 0.8;
  }
}

@media screen and (max-width: 767px) {
  .btn_txt {
    font-size: 19px;
  }

  .whyBox .whyImg {
    top: -15px;
    left: -15px;
    padding: 15px 15px;
  }

  .whyBox .whyImg img {
    filter: brightness(500);
  }

  .whyBox {
    height: 300px;
  }
}
