.startups {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}

.startupshome {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}

.from {
  color: #f32f53;
}

.startups p {
  margin-right: 20%;
  color: #8a8a8a;
}

.book {
  height: 50px;
  width: max-content;
  padding: 0 25px;
  background-color: #f32f53;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 991px) {
  .startups {
    padding: 0 0 80px;
  }

  .startupshome {
    padding-bottom: 50px;
    padding-top: 0;
  }

  .book {
    width: 100%;
    padding: 0;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
  }

  .startups p {
    margin-right: unset;
    text-align: justify;
  }

  .book {
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  .startups {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}