.bussinessEmpower {
    padding: 20px 0 70px;
}

.bussinessEmpower h4 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    color: #F32F53;
    margin-bottom: 0;
}

.bussinessEmpower h2 {
    font-size: 55px;
    font-weight: 500;
    line-height: 65px;
    color: black;
    margin-bottom: 15px;
}

.bussinessEmpower p {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    width: 1112px;
    color: black;
}

.btn {
    margin-top: 20px;
    padding-bottom: 30px;
}

.btn a {
    color: white;
    background-color: #f32f53;
    border-radius: 4px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabsInfo {
    width: 660px;
}

.bussinessEmpower h5 {
    font-size: 25px;
    font-weight: 500;
}

.bussinessEmpower .tabsInfo p {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    width: 662px;
    padding-top: 14px;
}

.bussinessEmpower .storyLineImages {
    object-fit: contain;
    max-height: 590px;
}

.isActive {
    border-bottom: 1px solid #F32F53;
    padding-bottom: 10px;
}

.nonActive {
    border-bottom: 1px solid #707070;
    padding-bottom: 10px;
    width: 660px;
}

.nonActive h5 {
    color: black;
    opacity: 0.7;
    font-weight: 500;
}

.isActive h5 {
    color: black;
    opacity: 1;
    font-weight: 500;
}

.isActiveArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #000000ad;
    box-shadow: 0 3px 10px #87929d;
    border-radius: 50px;
}

.isActiveArrow img {
    width: 40%;
    height: 40%;
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
}

.isActiveArrow img {
    width: 40%;
    height: 40%;
}

.nonActiveArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: red;
    box-shadow: 0 3px 10px #87929d;
    border-radius: 50px;
}

.nonActiveArrow img {
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
    width: 45%;
    height: 45%;
}

.nonActiveArrow:hover {
    transition: all 0.4s ease-in-out;
    background-color: #000000ad;
}

.nonActiveArrow:hover img {
    transition: all 0.4s ease-in-out;
    transform: rotate(181deg);
}

.isActiveArrow:hover {
    background-color: red;
    transition: all 0.4s ease-in-out;
}

.isActiveArrow:hover img {
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
}

/* media Query Start */

@media only screen and (max-width: 1399px) {
    .bussinessEmpower {
        padding: 60px 0;
    }

    .bussinessEmpower p {
        font-size: 20px;
        font-weight: 200;
        line-height: 32px;
        width: 895px;
    }

    .storyLineImages {
        max-width: 435px;
    }

    .bussinessEmpower h2 {
        font-size: 40px;
        line-height: 45px;
    }
}

@media only screen and (max-width: 1024px) {
    .bussinessEmpower h4 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0;
    }

    .bussinessEmpower h2 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 5px;
    }

    .bussinessEmpower p {
        font-size: 17px;
        line-height: 22px;
    }

    .tabsInfo {
        width: 500px;
    }

    .bussinessEmpower .tabsInfo p {
        font-size: 13px;
        line-height: 18px;
        width: 513px;
        padding-top: 14px;
    }

    .nonActive {
        width: 500px;
    }

    .bussinessEmpower h5 {
        font-size: 20px;
    }

    .storyLineImages {
        max-width: 410px;
    }
}

@media only screen and (max-width: 991px) {
    .bussinessEmpower {
        padding: 0px 0 90px;
    }

    .bussinessEmpower p {
        width: auto;
    }

    .tabsInfo {
        width: 350px;
    }

    .nonActive {
        width: 350px;
    }

    .bussinessEmpower .tabsInfo p {
        width: auto;
    }

    .isActiveArrow {
        width: 24px;
        height: 24px;
    }

    .nonActiveArrow {
        width: 24px;
        height: 24px;
    }

    .storyLineImages {
        max-width: 330px;
    }
}

@media screen and (max-width: 567px) {
    .bussinessEmpower {
        padding: 50px 0 50px;
    }

    .bussinessEmpower h2 {
        font-size: 32px;
        line-height: 1.3;
    }

    .bussinessEmpower h4 {
        font-size: 18px;
        line-height: 24px;
    }

    .bussinessEmpower p {
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
    }

    .bussinessEmpower h5 {
        font-size: 17px;
    }

    .isActiveArrow {
        width: 20px;
        height: 20px;
    }

    .nonActiveArrow {
        width: 20px;
        height: 20px;
    }

    .tabsInfo {
        width: 100%;
    }

    .nonActive {
        width: 100%;
    }

    .bussinessEmpower .tabsInfo p {
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
    }


    .btn {
        margin-top: 20px;
        padding-bottom: 30px;
    }

    .btn a {
        width: 100%;
    }
}