.counterSec {
  padding: 40px 0 0;
  height: 100%;
}

.txt img {
  filter: brightness(100);
}

.travel {
  background-color: #468feb;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative !important;
  z-index: 99 !important;
}

.travel p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  margin-top: 10px;
}

.travel2 p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  margin-top: 10px;
}

.travel3 p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  margin-top: 10px;
}

.travel2 {
  background-color: #4c0251;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative !important;
  z-index: 999999 !important;
}

.travel3 {
  background-color: #243140;
  padding-left: 28px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative !important;
  z-index: 999999 !important;
}

.travel h3 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.travel2 h3 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.travel3 h3 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.android h3 {
  color: #f32f53;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 25px;
  margin-bottom: 0;
}

.android h2 {
  color: black;
  font-size: 55px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 1px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.android p {
  color: black;
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 30px;
  font-weight: 300;
}

.caseBox {
  background: #f3f3f3;
  padding-top: 30px;
}

.caseBox:hover {
  background: #e4e4e4;
  transition: all ease-in-out 0.4s;
  position: relative !important;
  z-index: -1 !important;
}

.ImageDiv {
  width: 75%;
  height: auto;
  margin: auto;
}

.ImageDiv img:hover {
  transform: translateY(20px);
  transition: all ease-in-out 0.4s;
}

.counter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 21px;
}

.counter p:first-of-type {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  color: white;
  margin-bottom: 0;
}

.counter .symbols {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: white;
  margin-left: 9px;
}

.counter .txtSpan {
  font-size: 17px;
  line-height: 16px;
  font-weight: 400;
  color: white;
  margin-top: 14px;
}

.travelBox a {
  position: absolute;
  right: 55px;
  top: 40px;
  transition: all 0.4s ease-in-out;
  width: 30px;
}

.travelBox:hover a {
  position: absolute;
  right: 25px;
  top: 40px;
  transition: all 0.4s ease-in-out;
}

.travelBox p {
  height: 165px;
}

@media only screen and (min-width: 1599px) {
  .travelBox p {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 1px;
  }

  .travelBox p {
    height: 185px;
  }
}

@media only screen and (max-width: 1299px) {
  .travelBox p {
    height: 200px;
  }
}

@media only screen and (max-width: 1399px) {
  .android h2 {
    font-size: 40px;
    line-height: 45px;
  }

  .travel h3,
  .travel2 h3,
  .travel3 h3 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1099px) {
  .travelBox {
    padding-bottom: 20px;
  }

  .travel {
    padding-left: 20px;
    padding-right: 20px;
  }

  .travel2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .travel3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .travel h3 {
    font-size: 30px;
    line-height: 33px;
  }

  .travel2 h3 {
    font-size: 30px;
    line-height: 33px;
  }

  .travel3 h3 {
    font-size: 30px;
    line-height: 33px;
  }

  .travelBox p {
    height: 150px;
  }

  .travel p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 0px;
  }

  .travel2 p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 0px;
  }

  .travel3 p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 0px;
  }

  .counter {
    margin-bottom: 0;
  }

  .counter p {
    font-size: 18px;
    line-height: 22px;
  }

  .counter .txtSpan {
    font-size: 20px;
    bottom: 0px;
    right: 50px;
  }

  .counter .txtSpan {
    font-size: 13px;
    line-height: 16px;
  }

  .travelBox a {
    right: 55px;
    top: 35px;
    width: 20px;
  }

  .travelBox:hover a {
    right: 25px;
    top: 35px;
  }
}

@media screen and (max-width: 991px) {
  .comm {
    display: none;
  }

  .android h2 {
    line-height: 33px;
    padding-top: 0px;
    font-size: 35px;
    line-height: 45px;
  }

  .counter .txtSpan {
    font-size: 15px;
    line-height: 17px;
  }

  .counter {
    padding-right: 0;
  }

  .counter p:first-of-type {
    font-size: 20px;
    line-height: 30px;
  }

  .counter .symbols {
    font-size: 19px;
    line-height: 25px;
    margin-left: 4px;
  }

  .counter .txtSpan {
    margin-left: 5px;
  }

  .txt h3 {
    font-size: 26px;
    line-height: 29px;
  }

  .travelBox a {
    top: 62px;
  }

  .travelBox:hover a {
    top: 62px;
  }

  .travelBox p {
    height: 190px;
  }
}

@media screen and (max-width: 799px) {
  .travelBox p {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .travelBox p {
    height: 75px;
  }
}

@media screen and (max-width: 480px) {
  .counterSec {
    padding: 50px 0 0;
  }

  .travel,
  .travel2,
  .travel3 {
    height: 355px;
  }

  .travelBox a {
    top: 30px;
  }

  .travelBox:hover a {
    top: 30px;
  }

  .ImageDiv img:hover {
    transform: translateY(0px);
    transition: all ease-in-out 0.4s;
  }

  .travel h3 {
    font-size: 25px;
  }

  .travel2 h3 {
    font-size: 25px;
  }

  .travel3 h3 {
    font-size: 32px;
    line-height: 1.3;
  }

  .travel p,
  .travel2 p,
  .travel3 p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }

  .android h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .android p {
    font-size: 16px;
    line-height: 24px;
  }

  .counter {
    justify-content: space-around;
  }

  .counter .txtSpan {
    right: inherit;
    left: 45px;
  }

  .lastCount h4 span {
    bottom: -3px !important;
    right: -28px !important;
  }
}